@using SBS_Ecommerce.Models.Base;
@using SBS_Ecommerce.Models.DTOs;
@using SBS_Ecommerce.Framework;
@using Microsoft.AspNet.Identity
@{

    List<Category> lstCategory = new List<Category>();
    Helper helper = new Helper();
    var themes = helper.DeSerialize(Server.MapPath("~") + "/Content/theme.xml");
    List<Menu> lstMenu = new List<Menu>();
    try
    {
        //lstCategory = helper.GetCategory();
        lstCategory = SBSCommon.Instance.GetCategories();
        if (ViewBag.RenderMenu == null)
        {
            lstMenu = new List<Menu>();
            lstMenu = helper.DeSerializeMenu(Server.MapPath("~/Views/Theme/") + themes.Where(m => m.Active).FirstOrDefault().Name + "/configmenu.xml");
        }
        else
        {
            lstMenu = (List<Menu>)ViewBag.RenderMenu;
        }
    }
    catch
    {

    }
    // lstMenu = helper.DeSerializeMenu(Server.MapPath("~") + "/Views/Theme/" + themes.Where(m => m.Active).FirstOrDefault().Name + "/configmenu.xml");
    Cart cart = (Cart)Session["Cart"];
}
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Metas -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rosa - Responsive Ecommerce Template</title>
    <meta name="description" content="Rosa is Responsive eCommerce Template">

    <!-- External CSS -->
    <link rel="stylesheet" href="/Content/Theme/Theme3/css/bootstrap.min.css">
    <link rel="stylesheet" href="/Content/Theme/Theme3/css/font-awesome.min.css">
    <link rel="stylesheet" href="/Content/Theme/Theme3/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/Content/Theme/Theme3/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="/Content/Theme/Theme3/css/jquery-ui.min.css">
    <link rel="stylesheet" href="/Content/Theme/Theme3/css/jquery.fancybox.css">

    <link href="~/Content/Admin/lib/datatables/css/dataTables.bootstrap.css" rel="stylesheet" />
    <link href="~/Content/Admin/lib/datatables/css/jquery.dataTables.min.css" rel="stylesheet" />

    <link href="/Content/Theme/Theme3/css/customer-profile.css" rel="stylesheet" />
    <!-- Custom CSS -->
    <link rel="stylesheet" href="/Content/Theme/Theme3/css/style.css">
    <link rel="stylesheet" href="/Content/Theme/Theme3/css/responsive.css">

    <!-- Google font -->
    <link href="https://fonts.googleapis.com/css?family=Archivo+Narrow:400,700%7cPathway+Gothic+One" rel="stylesheet">

    <!-- Favicon -->
    <link rel="icon" href="/Content/Theme/Theme3/img/icon/favicon.ico">
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/Content/Theme/Theme3/img/icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/Content/Theme/Theme3/img/icon-114x114.png">

    <!--------------- Javascript external files -------------->
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="/Content/Theme/Theme3/js/html5shiv.min.js"></script>
      <script src="/Content/Theme/Theme3/js/respond.min.js"></script>
    <![endif]-->

    <style>
        .modal-body form {
            padding: 20px;
            box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 15px 0 rgba(0,0,0,0.12) !important;
        }

        .modal-body h4 {
            text-align: center;
        }

        .modal-body .btn {
            border-radius: 0px;
        }

        .modal-body .form-control {
            border-radius: 0px;
            margin-bottom: 10px;
        }

        .modal-body p {
            margin-bottom: 10px;
            margin-top: 10px;
            text-align: center;
        }

        .modal-body .blue {
            color: #337ab7;
        }

        .modal-body .fa {
            color: #337ab7;
        }

        .modal-body .fa-facebook-f {
            padding: 10px 12px 10px 12px;
            border: 1px solid #337ab7;
            border-radius: 50%;
        }

        .modal-body .fa-google-plus {
            padding: 10px 8px 10px 8px;
            border: 1px solid #337ab7;
            border-radius: 50%;
        }

        .modal-body .fa-twitter {
            padding: 10px 8px 10px 8px;
            border: 1px solid #337ab7;
            border-radius: 50%;
        }

        .modal-body i {
            margin-left: 5px;
            margin-right: 5px;
        }

        .modal-body .flip {
            -webkit-perspective: 800px;
            perspective: 800px;
            position: relative;
        }


            .modal-body .flip .card {
                height: 100%;
                -webkit-transform-style: preserve-3d;
                -webkit-transition: 0.5s;
                transform-style: preserve-3d;
                transition: 0.5s;
            }

                .modal-body .flip .card .face {
                    z-index: 2;
                }

                .modal-body .flip .card .front {
                    width: 100%;
                    z-index: 1;
                }

        .modal-body .inner {
            margin: 0px !important;
        }
    </style>
</head>
<body class="home-3">
    <!--------------- Header --------------->
    <header id="header">
        <div class="header-top">
            <div class="container">
                <div class="row">
                    <nav class="top-blocks">
                        <div id="languages-block" class="languages-block top-block">
                            <div class="current top-inner">
                                <img class="flag" src="/Content/Theme/Theme3/img/lang/1.jpg" alt="en">
                                <span class="language">English</span>
                                <i class="fa fa-sort-desc" aria-hidden="true"></i>
                            </div>
                            <ul id="languages" class="language-select top-sub">
                                <li class="selected">
                                    <img src="/Content/Theme/Theme3/img/lang/1.jpg" alt="en"> English
                                </li>
                                <li>
                                    <a href="home1/fr/" title="Français (French)">
                                        <img src="/Content/Theme/Theme3/img/lang/2.jpg" alt="fr"> Français
                                    </a>
                                </li>
                                <li>
                                    <a href="home1/es/" title="Español (Spanish)">
                                        <img src="/Content/Theme/Theme3/img/lang/3.jpg" alt="es"> Español
                                    </a>
                                </li>
                                <li>
                                    <a href="home1/it/" title="Italiano (Italian)">
                                        <img src="/Content/Theme/Theme3/img/lang/4.jpg" alt="it"> Italiano
                                    </a>
                                </li>
                                <li>
                                    <a href="home1/fa/" title="فارسى (Persian)">
                                        <img src="/Content/Theme/Theme3/img/lang/5.jpg" alt="fa"> فارسى
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div id="currencies-block" class="top-block currencies-block">
                            <form id="setCurrency" class="set-currency top-inner" action="#" method="post">
                                <span class="current">
                                    <input type="hidden" name="id_currency" id="id_currency">
                                    <input type="hidden" name="SubmitCurrency">
                                    <span class="current-label">USD</span>
                                </span>
                                <i class="fa fa-sort-desc" aria-hidden="true"></i>
                            </form>
                            <ul id="first-currencies" class="currency-select top-sub">
                                <li class="selected" data-value="dollar">Dollar</li>
                                <li data-value="euro"><a href="#" title="Euro"> Euro </a></li>
                            </ul>
                        </div>
                        <div class="phone-block top-block">
                            <span class="top-number top-inner">
                                <i class="fa fa-phone" aria-hidden="true"></i>
                                <span class="call-number">CALL 0123-456-789</span>
                            </span>
                        </div>
                        <div class="accounts-block top-block top-navwrap">
                            <div class="current">
                                <div class="current-label"><i class="fa fa-user" aria-hidden="true"></i> My account</div>
                            </div>
                            <ul id="account-menu" class="menu account-menu top-menu">
                                @if (Request.IsAuthenticated)
                                {
                                    <li class="menu-item">
                                        <i class="fa fa-user" aria-hidden="true"></i>Hello @User.Identity.GetUserName() !
                                        <ul class="sub-menu profile">
                                            <li class="menu-item"><a href="/Account/InforCustomer">My profile</a></li>
                                            <li class="menu-item"><a href="/Account/ListShippingAddress">Addresses</a></li>
                                            <li class="menu-item"><a href="/Account/OrderHistory">Orders</a></li>
                                            <li class="menu-item"><a href="/Manage/ChangePassword">Change password</a></li>
                                            <li class="menu-item"><a href="/Account/ProductReviews">My product reviews</a></li>
                                            <li class="menu-item"><a href="/Account/LogOff">Log Off</a></li>
                                        </ul>
                                    </li>
                                }
                                <li class="menu-item"><a href="/Wishlist/Wishlist"><i class="fa fa-heart" aria-hidden="true"></i>My wishlist</a></li>
                                <li class="menu-item"><a href="/Product/Checkout"><i class="fa fa-shopping-cart" aria-hidden="true"></i>My cart</a></li>
                                <li class="menu-item"><a href="/Product/Checkout"><i class="fa fa-check-square" aria-hidden="true"></i>Checkout</a></li>
                                @if (!Request.IsAuthenticated)
                                {
                                    <li class="menu-item"><a style="cursor:pointer" href="/Account/Login"><i class="fa fa-lock" aria-hidden="true"></i>Login</a></li>
                                }
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
        <div class="header-bottom">
            <div class="container">
                <div class="row">
                    <div class="display-flex">
                        <div class="col-sm-3">
                            <div class="header-logo logo">
                                <a href="/Home/Index" title="Rosa Logo">
                                    <img src="/Content/Theme/Theme3/img/logo.png" alt="Rosa logo" />
                                </a>
                            </div>
                        </div>
                        <div class="col-sm-6 text-center">
                            @*@using (Html.BeginForm("Search", "Product", FormMethod.Post, new { @class = "searchform" }))
                                {
                                    <input id="tags" type="search" class="searchinput" name="searchinput" placeholder="search..." />
                                    <button type="submit" class="searchsubmit" name="searchsubmit"><i class="fa fa-search"></i></button>
                                }*@
                            <form class="searchform" action="/Product/Search" method="post">
                                <input id="tags" type="search" class="searchinput" name="term" placeholder="search..." />
                                <button type="submit" class="searchsubmit" name="term"><i class="fa fa-search"></i></button>
                            </form>
                        </div>

                        <!--------------- Mini Cart --------------->
                        <div class="col-sm-3">
                            <div class="block-minicart">
                                <a href="/Product/Checkout" class="cartlink">
                                    <i class="fa fa-shopping-cart" aria-hidden="true"></i>Cart<span class="cart-subtotal"> @(cart != null && cart.LstOrder != null && cart.LstOrder.Count > 0 ? "(" + cart.LstOrder.Count + ")" : "(0)")</span>
                                </a>
                                @if (cart != null && cart.LstOrder != null && cart.LstOrder.Count > 0)
                                {
                                    <div class="on-minicart" style="overflow-y: scroll;max-height:500px;">
                                        <dl class="cart-products">
                                            @foreach (var item in cart.LstOrder)
                                            {
                                                <dt class="cart-product">
                                                    <a class="cart-thumb" href="#">
                                                        <img style="width:100px;" src="@("http://qa.bluecube.com.sg/pos3v2-wserv" + item.Product.Small_Img)" alt="Cart Thumb">
                                                    </a>
                                                    <div class="cart-info">
                                                        <div class="product-name">
                                                            <span class="quantity-formated">
                                                                <span class="quantity">@item.Count</span>x
                                                            </span>
                                                            <a href="#">@item.Product.Product_Name</a>
                                                        </div>
                                                        <div class="product-attributes">
                                                            <a href="#"></a>
                                                        </div>
                                                        <span class="price">$@(item.Product.Selling_Price * item.Count)</span>
                                                    </div>
                                                    <span class="remove-link">
                                                        <a style="cursor:pointer;" onclick="removeCartHome('@item.Product.Product_ID')"><i class="fa fa-times-circle" aria-hidden="true"></i></a>
                                                    </span>
                                                </dt>
                                                <dd></dd>
                                            }

                                        </dl>
                                        <p class="cart-no-product">No products</p>
                                        <div class="cart-prices">
                                            <div class="cart-fee-wrap cart-shipping-fee">
                                                <span class="cart-text">Shipping</span>
                                                <span class="cart-fee price">$2.00</span>
                                            </div>
                                            <div class="cart-fee-wrap cart-total-fee">
                                                <span class="cart-text">Total</span>
                                                <span class="cart-fee price">$@cart.Total</span>
                                            </div>
                                        </div>
                                        <div class="cart-checkout">
                                            <a href="/Product/Checkout" class="btn btn-default checkout-btn">Check out<i class="fa fa-angle-right right"></i></a>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!--------------- Primary navigation --------------->
    <nav class="navbar navbar-default" data-spy="affix" data-offset-top="150">
        <div class="container" style="position: relative">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-nav" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="barwrap">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </span>
            </button>
            <div class="collapse navbar-collapse" id="main-nav">
                <ul class="nav navbar-nav main-menu">
                    <li class="menu-item active"><a href="/Home/Index"><i class="fa fa-home"></i></a></li>
                    <li class="menu-item">
                        <a href="#">Category</a>
                        <ul class="sub-menu">
                            @foreach (var item in lstCategory)
                            {
                                <li class="menu-item"><a href="#">@item.Category_Name</a></li>
                            }
                        </ul>
                    </li>
                    @foreach (var item in lstMenu)
                    {
                        <li class="menu-item">
                            <a href="@item.Href">@item.Name</a>
                            @if (item.LstChildMenu != null && item.LstChildMenu.Count > 0)
                            {
                                <ul class="sub-menu">
                                    @foreach (var itemChild in item.LstChildMenu)
                                    {
                                        <li class="menu-item"><a href="@itemChild.Href">@itemChild.Name</a></li>
                                    }
                                </ul>
                            }

                        </li>
                    }

                </ul>
            </div>
        </div>
    </nav>
    <!--------------- Hero area --------------->
    @RenderBody()
    <!-------------- Footer --------------->
    <footer>
        <div class="footer-top">
            <div class="container">
                <div class="row">
                    <div class="col-md-5 col-md-offset-1">
                        <div class="subscribe-header">
                            <h4 class="subscribe-heading"><i class="fa fa-envelope"></i>Sign up for our newsletter</h4>
                            <p>Enter your email and we’ll send you a coupon with 10% off your next order</p>
                        </div>
                    </div>
                    <div class="col-md-5 col-sm-8 col-md-offset-0 col-sm-offset-2">
                        <form id="subscribeform" class="subscribeform" action="#" method="post">
                            <input type="email" name="email" placeholder="Enter your e-mail">
                            <input type="submit" name="email-submit" value="sign up!">
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-middle">
            <div class="container">
                <div class="row">
                    <div class="footer-widgets">
                        <div class="col-md-3 col-sm-6">
                            <div class="widget footer-widget about-widget">
                                <div class="widget-content">
                                    <div class="footer-logo">
                                        <a href="/Home/Index" title="Rosa Logo">
                                            <img src="/Content/Theme/Theme3/img/logo.png" alt="Rosa logo" />
                                        </a>
                                    </div>
                                    <div style="background: url(/Content/Theme/Theme3/img/map.png) no-repeat center center / contain; float: left; width: 100%">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing, sed do eiusmod tempor incididunt ut labore et. Lorem ipsum dolor sit amet.</p>
                                        <div class="contact-infos">
                                            <div class="cotact-info contact-address">
                                                <div class="contact-icon">
                                                    <i class="fa fa-map-marker" aria-hidden="true"></i>
                                                </div>
                                                <p class="contact-content">42 avenue des Champs Elysées 75 Paris</p>
                                            </div>
                                            <div class="cotact-info contact-phone">
                                                <div class="contact-icon">
                                                    <i class="fa fa-phone" aria-hidden="true"></i>
                                                </div>
                                                <p class="contact-content">Call us now: 0123-456-789</p>
                                            </div>
                                            <div class="cotact-info contact-email">
                                                <div class="contact-icon">
                                                    <i class="fa fa-envelope" aria-hidden="true"></i>
                                                </div>
                                                <p class="contact-content">Email : fieldthemes@gmail.com</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="widget footer-widget product-widget">
                                <h4 class="widget-title">SALES OFF<span class="toggle-btn"></span></h4>
                                <div class="widget-content mobile-collapse">
                                    <div class="product">
                                        <div class="product-thumb">
                                            <a href="#" class="thumb-link">
                                                <img class="front-img" src="/Content/Theme/Theme3/img/product/sthumb-1.jpg" alt="Product Front">
                                            </a>
                                        </div>
                                        <div class="product-info">
                                            <h5 class="product-name"><a href="#">Lynn Skinny</a></h5>
                                            <p class="price">
                                                <span class="regular-price">$50.99</span>
                                                <span class="discount-price">$40.80</span>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="product">
                                        <div class="product-thumb">
                                            <a href="#" class="thumb-link">
                                                <img class="front-img" src="/Content/Theme/Theme3/img/product/sthumb-2.jpg" alt="Product Front">
                                            </a>
                                        </div>
                                        <div class="product-info">
                                            <h5 class="product-name"><a href="#">Contour Skinny</a></h5>
                                            <p class="price">
                                                <span class="regular-price">$25.99</span>
                                                <span class="discount-price">$15.50</span>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="product">
                                        <div class="product-thumb">
                                            <a href="#" class="thumb-link">
                                                <img class="front-img" src="/Content/Theme/Theme3/img/product/sthumb-3.jpg" alt="Product Front">
                                            </a>
                                        </div>
                                        <div class="product-info">
                                            <h5 class="product-name"><a href="#">Funnky Fair</a></h5>
                                            <p class="price">
                                                <span class="regular-price">$100.00</span>
                                                <span class="discount-price">$40.00</span>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2 col-sm-4">
                            <div class="widget footer-widget custom-menu-widget">
                                <h4 class="widget-title">My account<span class="toggle-btn"></span></h4>
                                <div class="widget-content mobile-collapse">
                                    <ul class="menu custom-menu account-menu">
                                        <li class="menu-item"><a href="#">My account</a></li>
                                        <li class="menu-item"><a href="#">My orders</a></li>
                                        <li class="menu-item"><a href="#">My credit slips</a></li>
                                        <li class="menu-item"><a href="#">My addresses</a></li>
                                        <li class="menu-item"><a href="#">My personal info</a></li>
                                        @if (!Request.IsAuthenticated)
                                        {
                                            <li class="menu-item"><a style="cursor:pointer" href="/Account/Login">Login</a></li>
                                        }
                                        else
                                        {
                                            <li class="menu-item"><a style="cursor:pointer" href="/Account/LogOff">Log off</a></li>
                                        }
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2 col-sm-4">
                            <div class="widget footer-widget custom-menu-widget">
                                <h4 class="widget-title">Information<span class="toggle-btn"></span></h4>
                                <div class="widget-content mobile-collapse">
                                    <ul class="menu custom-menu info-menu">
                                        <li class="menu-item"><a href="#">Specials</a></li>
                                        <li class="menu-item"><a href="#">New products</a></li>
                                        <li class="menu-item"><a href="#">Best sellers</a></li>
                                        <li class="menu-item"><a href="#">Contact us</a></li>
                                        <li class="menu-item"><a href="#">Terms of use</a></li>
                                        <li class="menu-item"><a href="#">Sitemap</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2 col-sm-4">
                            <div class="widget footer-widget tags-widget">
                                <h4 class="widget-title">Tags<span class="toggle-btn"></span></h4>
                                <div class="widget-content mobile-collapse">
                                    <div class="tags">
                                        <a href="#" class="tag">Special</a>
                                        <a href="#" class="tag">Men</a>
                                        <a href="#" class="tag">Shoe</a>
                                        <a href="#" class="tag">Lady</a>
                                        <a href="#" class="tag">Cool</a>
                                        <a href="#" class="tag">Footwear</a>
                                        <a href="#" class="tag">Black</a>
                                        <a href="#" class="tag">Women</a>
                                        <a href="#" class="tag">Bag</a>
                                        <a href="#" class="tag">Handsome</a>
                                        <a href="#" class="tag">Classic</a>
                                        <a href="#" class="tag">Jewelry</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <ul class="menu footer-menu">
                            <li class="menu-item"><a href="#">About</a></li>
                            <li class="menu-item"><a href="#">Blog</a></li>
                            <li class="menu-item"><a href="#">Contact</a></li>
                            <li class="menu-item"><a href="#">FAQ</a></li>
                            <li class="menu-item"><a href="#">Account</a></li>
                            <li class="menu-item"><a href="#">Wishlist</a></li>
                        </ul>
                        <p class="copyright">Copyright &copy; 2017. All rights reserved.</p>
                    </div>
                    <div class="col-md-4">
                        <div class="socials footer-socials">
                            <a href="#" class="social s-facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                            <a href="#" class="social s-instagram"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                            <a href="#" class="social s-twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                            <a href="#" class="social s-rss"><i class="fa fa-rss" aria-hidden="true"></i></a>
                            <a href="#" class="social s-g-plus"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                            <a href="#" class="social s-pinterest"><i class="fa fa-pinterest" aria-hidden="true"></i></a>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="payments">
                            <a href="#"><img src="/Content/Theme/Theme3/img/payment/payment1.png" alt="We Pay"></a>
                            <a href="#"><img src="/Content/Theme/Theme3/img/payment/payment2.png" alt="MasterCard"></a>
                            <a href="#"><img src="/Content/Theme/Theme3/img/payment/payment3.png" alt="Amazon"></a>
                            <a href="#"><img src="/Content/Theme/Theme3/img/payment/payment4.png" alt="Paypal"></a>
                            <a href="#"><img src="/Content/Theme/Theme3/img/payment/payment5.png" alt="Visa"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!--------------- Back to Top --------------->
    <a id="toTop" class="toTop" href="#header"><i class="fa fa-angle-up"></i></a>

    <!--------------- Javascript external files -------------->
    <script src="/Content/Theme/Theme3/js/jquery.min.js"></script>
    <script src="/Content/Theme/Theme3/js/bootstrap.min.js"></script>
    <script src="/Content/Theme/Theme3/js/owl.carousel.min.js"></script>
    <script src="/Content/Theme/Theme3/js/jquery.countdown.js"></script>
    <script src="/Content/Theme/Theme3/js/jquery-ui.min.js"></script>
    <script src="/Content/Theme/Theme3/js/jquery.fancybox.js"></script>
    <script src="/Content/Theme/Theme3/js/jquery.elevatezoom.js"></script>
    <script src="/Content/Theme/Theme3/js/custom.js"></script>
    <script src="~/Content/Theme/Theme3/js/wishlist.js"></script>
    <script src="~/Content/Theme/Theme3/js/cart.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
    <script src="~/Content/Theme/Theme3/js/profile-page.js"></script>
    <script src="~/Content/js/page-home.js"></script>
    <script src="~/Content/Admin/lib/datatables/js/jquery.dataTables.js"></script>
    <script src="~/Content/Admin/lib/datatables/js/dataTables.bootstrap.js"></script>
    <script src="~/Content/Admin/js/app-tables-datatables.js"></script>
    <a id="toTop" class="toTop" href="#header"><i class="fa fa-angle-up"></i></a>    
</body>
</html>