@model IEnumerable<SBS_Ecommerce.Models.DTOs.OrderDTO>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.OderId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PaymentId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CouponId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DeliveryStatus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalAmount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedAt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UpdatedAt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UId)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.OderId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PaymentId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CouponId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DeliveryStatus)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TotalAmount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedAt)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UpdatedAt)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UId)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
