@model IEnumerable<SBS_Ecommerce.Models.ProductReview>
@{
    Layout = "~/Views/Theme/Theme3/Account/_MyProfile.cshtml";
}

<table class="table" id="tblProductReview">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Content)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rating)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedAt)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.UId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Content)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Rating)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedAt)
        </td>
    </tr>
}

</table>
