@model SBS_Ecommerce.Models.DTOs.ConfigShippingDTO
@using SBS_Ecommerce.Models.Extension;
@using SBS_Ecommerce.Framework.Utilities;
@{
    var pathName = BaseUtil.Instance.GetPathTheme();
    Layout = pathName + "/_Layout.cshtml";
    SBS_Ecommerce.Models.Base.Cart cart = (SBS_Ecommerce.Models.Base.Cart)Session["Cart"];
}

<!--------------- Main wrap --------------->
<div class="main-wrap static-page">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="page-heading">
                    <h4 class="page-title">Shopping-cart Summary</h4>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <ul class="cart-steps">
                    <li class="cart-step summery complete ">01. Summary</li>
                    <li class="cart-step account complete">02. Sign in</li>
                    <li class="cart-step shipping current">03. Shipping</li>
                    <li class="cart-step address">04. Address</li>
                    <li class="cart-step payment">05. Payment</li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="method-list checkout-page">
                    <h4>Delivery Information</h4>
                    <div class="panel-body">
                        <div class="row form-group product-chooser">
                            <form action="@Url.Content("~/Orders/ChooseShippingPayment")" method="post" id="frmChooseShippingPayment">
                                <input id="dateTimeShipping" name="dateTimeShipping" type="hidden" value="" />
                                @if (Model.ListConfigShipping.Where(c => c.Name.Contains("Local Pickup") && c.Status == true).Any())
                                {
                                    var localPickup = Model.ListConfigShipping.Where(c => c.Name.Contains("Local Pickup") && c.Status == true).FirstOrDefault();
                                    <div class="col-xs-12 col-sm-12 col-md-6">
                                        <div class="product-chooser-item selected shippingMethod">
                                            @*<div class="col-xs-4 col-sm-4 col-md-12 col-lg-12">
                                                    <i class="fa fa-shopping-cart fa-6" aria-hidden="true"></i>
                                                </div>*@
                                            <img src="@Url.Content("~/Content/Theme/1/Default/img/icon/fa-store.png")" class="img-rounded col-xs-4 col-sm-4 col-md-12 col-lg-12" alt="Mobile and Desktop">
                                            <div class="col-xs-8 col-sm-8 col-md-12 col-lg-12">
                                                <span class="title">@localPickup.Name</span>
                                                <span class="description">@localPickup.Description</span>
                                                <input type="radio" name="shippingMethod" value="@((int)ShippingMethod.NoShipping)" checked>
                                            </div>
                                            <div class="clear"></div>
                                        </div>
                                    </div>
                                }
                                @if (Model.ListConfigShipping.Where(c => c.Name.Contains("Weight Based") && c.Status == true).Any() && Model.ListWeightBased != null)
                                {
                                    for (int i = 0; i < Model.ListWeightBased.Count; i++)
                                    {
                                        <div class="col-xs-12 col-sm-12 col-md-6">
                                            <div class="product-chooser-item shippingMethod">
                                                <i class="fa fa-truck fa-6" aria-hidden="true"></i>
                                                <div class="col-xs-8 col-sm-8 col-md-12 col-lg-12 ">
                                                    @Html.HiddenFor(m => Model.ListWeightBased[i].Rate)
                                                    @Html.HiddenFor(m => Model.ListWeightBased[i].DeliveryCompany)
                                                    @Html.HiddenFor(m => Model.ListWeightBased[i].Id)
                                                    <span class="title">Shipping</span>
                                                    <span class="description">Delivery company: @Model.ListWeightBased[i].DeliveryCompany</span>
                                                    <br />
                                                    <span class="description">Price: SGD @Model.ListWeightBased[i].Rate</span>
                                                    <input type="radio" name="shippingMethod" value="@Model.ListWeightBased[i].Id">
                                                </div>
                                                <div class="clear"></div>
                                            </div>
                                        </div>
                                    }
                                }
                                <div id="timeSlotShipping">
                                    @*@{
                                        Html.RenderAction("DeliveryScheduler", "Orders");
                                    }*@
                                </div>
                            </form>

                        </div>
                    </div>
                </div>

            </div>
            <div class="next-wrap">
                <div class="col-md-6">
                    <a href="@Url.Action("Index","Home")" class="btn btn-default"><i class="fa fa-angle-left"></i> Continue shopping</a>
                </div>
                <div class="col-md-6 text-right">
                    <a  onclick="ChooseShippingPayment()" class="btn btn-default">Process to checkout <i class="fa fa-angle-right"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $("#timeSlotShipping").hide();
        $('.shippingMethod').bind("click", function () {
            $("#timeSlotShipping").hide();
            if ($(this).parent().find('input[type=radio]').val() == -1) {
                $("#timeSlotShipping").fadeOut("slow");
            } else {
                $("#timeSlotShipping").fadeIn("slow");
            }
        });
        $('input[type=radio][name=timeSlot]').on('click', function () {
            $('#dateTimeShipping').val($(this).attr('data-id'));
        });
    })
</script>