@model IEnumerable<SBS_Ecommerce.Models.DTOs.DeliveryDateDTO>
@using SBS_Ecommerce.Models.Extension;
@using SBS_Ecommerce.Framework.Utilities;
@{
    Layout = null;
}
        <table class="table table-timeslot">
            <tr>
                <th>
                    Date - Day
                </th>
                <th>
                    Time Slots
                </th>
            </tr>
            @{int id = 1; }
            @foreach (var item in Model)
            {

                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.DateTime)
                    </td>
                    <td>
                        <ul>
                            @foreach (var timeSlot in item.TimeSlot)
                            {
                                var sId = "timeSlot" + id;
                                <li class="litimeslot"><input type="radio" name="timeSlot" id='@sId' data-id="@item.DateTime @timeSlot.NameTimeSlot" value="@timeSlot.Money" /> <label for='@sId'>Time: @timeSlot.NameTimeSlot      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Price:         @timeSlot.Money (SGD) </label></li>
                                id++;
                            }
                        </ul>
                    </td>
                </tr>
                id++;
            }
        </table>
