@using SBS_Ecommerce.Models.Base
@using SBS_Ecommerce.Models.Extension;
@using SBS_Ecommerce.Framework.Utilities;
@using SBS_Ecommerce.Framework;
@{
    Layout = null;
    var themes = (List<SBS_Ecommerce.Models.Theme>)ViewBag.Themes;
    var configChatting = SBSCommon.Instance.GetConfigChatting();
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="~/amaretti/light/assets/img/favicon.ico">
    <title>@ViewBag.Title</title>

    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    @{String appPath = Request.ApplicationPath;
        var domain = "";
        if (appPath != "/")
        {
            domain = appPath;
        }
    }

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")

    @HtmlUtil.InitCSS(domain);
    <script src="~/Content/Admin/js/app-validation.js"></script>

</head>
<body>
    <div class="am-wrapper am-fixed-sidebar">
        <div class="am-left-sidebar">
            <div class="content">
                <div class="brand-fixed">
                    <a class="brand brand-online" href="@Url.Content("~/Admin/ThemeManager")" title="">
                        <div class="logo" style="text-align: center">
                            <i class="icon s7-home" style="font-size:60px;"></i>
                        </div>
                    </a>
                </div>
                <div class="am-logo"></div>
                <ul class="sidebar-elements">
                    <li class="parent parent-menu">
                        <a href="@Url.Action("Orders","Admin")"><i class="icon s7-graph"></i><span>Order Manager</span></a>
                        @*<ul class="sub-menu">
                            <li>
                                <a href="@Url.Action("Orders","Admin", new { kind = (int)OrderStatus.Pending})"><span>Pending Orders</span></a>
                            </li>
                            <li>
                                <a href="@Url.Action("Orders","Admin", new { kind = (int)OrderStatus.Processing})"><span>Processing Orders</span></a>
                            </li>
                            <li>
                                <a href="@Url.Action("Orders","Admin", new { kind = (int)OrderStatus.Completed})"><span>Completed Orders</span></a>
                            </li>
                            <li>
                                <a href="@Url.Action("Orders","Admin", new { kind = (int)OrderStatus.Cancelled})"><span>Canceled Orders</span></a>
                            </li>
                        </ul>*@
                    </li>
                    <li class="parent">
                        <a href="#"><i class="icon s7-monitor"></i><span>Appearance</span></a>
                        <ul class="sub-menu">
                            <li>
                                <a href="@Url.Action("ThemeManager","Admin")"><span>Theme Manager</span></a>
                            </li>
                            <li>
                                <a href="@Url.Action("LayoutManager","Admin")"><span>Layout Manager</span></a>
                            </li>
                            <li>
                                <a href="@Url.Action("MenuManager","Admin")"><span>Menu Manager</span></a>
                            </li>
                        </ul>
                    </li>
                    <li class="parent">
                        <a href="#"><i class="icon s7-news-paper"></i><span>Pages</span></a>
                        <ul class="sub-menu">
                            <li>
                                <a href="@Url.Action("BlockManager","Admin")"><span>Block Manager</span></a>
                            </li>
                            <li>
                                <a href="@Url.Action("PageManager","Admin")"><span>Page Manager</span></a>
                            </li>
                        </ul>
                    </li>
                    <li class="parent">
                        <a href="@Url.Action("BlogManager","Admin")"><i class="icon s7-note2"></i><span>Blog Manager</span></a>
                    </li>
                    @*<li class="parent">
                            <a href="@Url.Action("MarketingManager","Admin")"><i class="icon s7-diamond"></i><span>Marketing Manager</span></a>
                        </li>*@
                    <li class="parent">
                        <a href="@Url.Content("~/Admin/ShippingFee")"><i class="icon s7-car"></i><span>Shipping Manager</span></a>
                        <ul class="sub-menu">
                            <li>
                                <a href="@Url.Content("~/Admin/DeliveryCompany")"><span>Delivery Company Manager</span></a>
                            </li>
                            <li>
                                <a href="@Url.Content("~/Admin/ShippingFee")"><span>Shipping Fee Manager</span></a>
                            </li>
                            <li>
                                <a href="@Url.Content("~/Admin/DeliveryScheduler")"><span>Delivery Scheduler</span></a>
                            </li>
                            <li>
                                <a href="@Url.Content("~/Admin/HolidayManager")"><span>Holidays</span></a>
                            </li>
                        </ul>

                    </li>
                    
                    @if (configChatting != null)
                    {
                        <li class="parent">
                            <a href="@("https://www.facebook.com/"+configChatting.PageID)" target="_blank"><i class="icon s7-chat"></i><span>Chat with customers</span></a>
                        </li>
                    }
                    <li class="parent">
                        <a href="@Url.Action("AccountManager","Admin")"><i class="icon s7-user"></i><span>Account Manager</span></a>
                    </li>
                    <li class="parent">
                        <a href="@Url.Action("SEO","Admin")"><i class="icon s7-science"></i><span>SEO Configuration</span></a>
                    </li>
                    <li class="parent">
                        <a href="@Url.Action("Configuration","Admin")"><i class="icon s7-config"></i><span>Configuration</span></a>
                    </li>
                    <li class="parent">
                        <a href="@Url.Action("Logout", "Admin")" s style="color: #ED1616;" showprogress>
                            <i class="icon s7-power"></i>
                            <span>
                                Logout
                            </span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="am-content">
            @RenderBody()
        </div>
    </div>
    @HtmlUtil.InitJS(domain);

    <script type="text/javascript" charset="utf-8">
        function UrlContent(path) {
            return '@Url.Content("~/")' + path.replace(/^\//, '');
        }
        $(document).ready(function () {
            App.init();
            App.pageProfile();
            // App.dashboard();
            //We use this to apply style to certain elements
            $.extend(true, $.fn.dataTable.defaults, {
                dom:
                  "<'row am-datatable-header'<'col-sm-6'l><'col-sm-6'f>>" +
                  "<'row am-datatable-body'<'col-sm-12'tr>>" +
                  "<'row am-datatable-footer'<'col-sm-5'i><'col-sm-7'p>>"
            });
        });
    </script>
</body>
</html>