@model SBS_Ecommerce.Models.SEO

<div class="modal-dialog custom-width">
    <div class="modal-content">
        @using (Html.BeginForm())
            {
            @Html.AntiForgeryToken()
            <div class="modal-header-main">
                <button type="button" data-dismiss="modal" aria-hidden="true" class="close md-close"><i class="icon s7-close-circle"></i></button>
                <h3 class="modal-title">Add SEO</h3>
            </div>
            <div class="modal-body form">
                <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <div class="row2">
                                    <div class="container-fluid">
                                        <div class="col-md-12">
                                            <label>Title</label>
                                            <input id="txtTitle" type="text" placeholder="Title" name="Title" class="form-control" value="@Model.Title">
                                            <div class="validation-error text-danger">
                                                <span class="field-validation-valid" data-valmsg-for="txtTitle" data-valmsg-replace="true" id="txtTitle_Err"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row2">
                                    <div class="container-fluid">
                                        <div class="col-md-12">
                                            <label>Url</label>
                                            <input id="txtUrl" type="text" placeholder="Url of page" name="Url" class="form-control" value="@Model.Url">
                                            <div class="validation-error text-danger">
                                                <span class="field-validation-valid" data-valmsg-for="txtUrl" data-valmsg-replace="true" id="txtUrl_Err"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row2">
                                    <div class="container-fluid">
                                        <div class="col-md-12">
                                            <label>Keyword</label>
                                            <input id="txtKeywords" type="text" placeholder="Keywords of page" name="Keywords" class="form-control" value="@Model.Keywords">
                                            <div class="validation-error text-danger">
                                                <span class="field-validation-valid" data-valmsg-for="txtKeywords" data-valmsg-replace="true" id="txtKeywords_Err"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row2">
                                    <div class="container-fluid">
                                        <div class="col-md-12">
                                            <label>Description</label>
                                            <textarea id="txtDescription" type="text" placeholder="Description" name="Description" class="form-control">@Model.Description</textarea>
                                            <div class="validation-error text-danger">
                                                <span class="field-validation-valid" data-valmsg-for="txtDescription" data-valmsg-replace="true" id="txtDescription_Err"></span>
                                            </div>
                                            <input id="txtId" type="text" name="Id" hidden value="@Model.Id">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                <div class="modal-footer">
                    <div class="col-sm-12 col-md-12">
                        <button type="button" data-dismiss="modal" class="btn btn-default btn-rc-sm md-close"><i class="icon s7-close-circle"></i>Close</button>
                        <button type="button" class="btn btn-primary btn-rc-sm" id="add-edit-seo-btn"><i class="icon s7-diskette"></i>Save</button>
                    </div>
                </div>
        }
    </div>
</div>


