@using SBS_Ecommerce.Models;
@using SBS_Ecommerce.Framework;
@model List<Order>
@{
    ViewBag.Title = "Orders";
    //var dateFilter = new Dictionary<string, string>();
    //dateFilter.Add("asc", "Newest");
    //dateFilter.Add("desc", "Oldest");
    //dateFilter.Add("spec", "Specific day");
    //var count = ViewBag.Count;
}

<div class="col-md-12">
    <ul class="nav nav-tabs tablist-order" role="tablist">
        <li role="presentation" class="active"><a href="#pending" role="tab" data-toggle="tab">Pending</a></li>
    </ul>

    <div class="tab-content">
        <div role="tabpanel" class="tab-pane fade in active">
            <div class="row">
                <div class="panel-body">
                    @if (!Model.IsNullOrEmpty())
                    {
                        <table id="table1" class="table table-striped table-bordered" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Submit Date</th>
                                    <th>Num of Products</th>
                                    <th>Total Amount</th>
                                    <th>Note</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr data-id="@item.OrderId" data-toggle="modal" class="clickable-row">
                                        <td>@item.OrderId</td>
                                        <td>@item.CreatedAt</td>
                                        <td>@item.CountProduct</td>
                                        <td>@item.TotalAmount</td>
                                        <td></td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    }
                    else
                    {
                        <h5>Have no Orders yet.</h5>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
