@model SBS_Ecommerce.Models.DeliveryCompany
@using SBS_Ecommerce.Models.DTOs;

@{
    List<Country> countries = ViewBag.Countries;
}

<div class="modal-dialog custom-width">
    <div class="modal-content">
        <div class="modal-header-main">
            <button type="button" data-dismiss="modal" aria-hidden="true" class="close md-close"><i class="icon s7-close-circle"></i></button>
            <h3 class="modal-title">Delivery Company Information</h3>
        </div>
        <div class="modal-body form">

            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-body">

                            <div class="row2">
                                <div class="container-fluid">
                                    <div class="col-md-12" id="alert-err-msg" hidden>
                                        <div class="text-danger" style="white-space:pre-wrap"></div>
                                    </div>
                                </div>
                            </div>

                            <div class="row2">
                                <div class="container-fluid">
                                    <div class="col-md-12">
                                        <label>Company Name</label>
                                        <input id="txtName" type="text" placeholder="Company Name" class="form-control" value="@Model.CompanyName">
                                        <div class="validation-error text-danger">
                                            <span class="field-validation-valid" data-valmsg-for="txtName" data-valmsg-replace="true" id="txtName_Err"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row2">
                                <div class="container-fluid">
                                    <div class="col-md-6">
                                        <label>Phone</label>
                                        <input id="txtPhone" type="text" placeholder="Phone" class="form-control" value="@Model.Phone">
                                        <div class="validation-error text-danger">
                                            <span class="field-validation-valid" data-valmsg-for="txtPhone" data-valmsg-replace="true" id="txtPhone_Err"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <label>Email</label>
                                        <input id="txtEmail" type="email" placeholder="Email" class="form-control" value="@Model.Email">
                                        <div class="validation-error text-danger">
                                            <span class="field-validation-valid" data-valmsg-for="txtEmail" data-valmsg-replace="true" id="txtEmail_Err"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row2">
                                <div class="container-fluid">
                                    <div class="col-md-12">
                                        <label>Address</label>
                                        <input id="txtAddress" type="text" placeholder="Address" class="form-control" value="@Model.Address">
                                        <div class="validation-error text-danger">
                                            <span class="field-validation-valid" data-valmsg-for="txtAddress" data-valmsg-replace="true" id="txtAddress_Err"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row2">
                                <div class="container-fluid">
                                    <div class="col-md-6">
                                        <label>Ward</label>
                                        <input id="txtWard" type="text" placeholder="Ward" class="form-control" value="@Model.Ward">
                                        <div class="validation-error text-danger">
                                            <span class="field-validation-valid" data-valmsg-for="txtWard" data-valmsg-replace="true" id="txtWard_Err"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <label>District</label>
                                        <input id="txtDistrict" type="text" placeholder="District" class="form-control" value="@Model.District">
                                        <div class="validation-error text-danger">
                                            <span class="field-validation-valid" data-valmsg-for="txtDistrict" data-valmsg-replace="true" id="txtDistrict_Err"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row2">
                                <div class="container-fluid">
                                    <div class="col-md-12">
                                        <label>City</label>
                                        <input id="txtCity" type="text" placeholder="City" class="form-control" value="@Model.City">
                                        <div class="validation-error text-danger">
                                            <span class="field-validation-valid" data-valmsg-for="txtCity" data-valmsg-replace="true" id="txtCity_Err"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row2">
                                <div class="container-fluid">
                                    <div class="col-md-12">
                                        <label>Country</label>
                                        <select id="slCountry" class="form-control">
                                            <option value="--">Select Country</option>
                                            @foreach (var item in countries)
                                            {
                                                if (item.code == Model.Country)
                                                {
                                                    <option value="@item.code" selected>@item.name</option>
                                                }
                                                else
                                                {
                                                    <option value="@item.code">@item.name</option>
                                                }
                                            }
                                        </select>
                                        <div class="validation-error text-danger">
                                            <span class="field-validation-valid" data-valmsg-for="slCountry" data-valmsg-replace="true" id="slCountry_Err"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <div class="col-sm-12 col-md-12">
                <button type="button" data-dismiss="modal" class="btn btn-default btn-rc-sm md-close"><i class="icon s7-close-circle"></i>Close</button>
                <button type="button" class="btn btn-primary btn-rc-sm" id="add-edit-btn" data-id="@Model.Id"><i class="icon s7-diskette"></i> Save</button>
            </div>
        </div>
    </div>
</div>
