@model SBS_Ecommerce.Models.ViewModels.PageViewModel

<script src="@Url.Content("~/Content/Admin/js/app-page-manager.js")"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.js")"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.js")"></script>

@using (Html.BeginForm("AddOrUpdatePage", "Admin", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <div class="modal-dialog full-width">
        <div class="modal-content">
            <div class="modal-header-main">
                <button type="button" data-dismiss="modal" aria-hidden="true" class="close md-close"><i class="icon s7-close-circle"></i></button>
                <h3 class="modal-title">Add Block</h3>
            </div>
            <div class="modal-body form">
                <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <div class="row2">
                                    <div class="container-fluid">
                                        <div class="col-md-12">
                                            <label>Name</label>
                                            @Html.TextBoxFor(m => m.Name, new { @class = "form-control", id = "page-name" })
                                            @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="row2">
                                    <div class="container-fluid">
                                        <div class="col-md-12">
                                            <label>Detail</label>
                                            @Html.TextAreaFor(m => m.Content, new { @class = "form-control", id = "page-content" })
                                        </div>
                                    </div>
                                </div>
                                <div class="row2">
                                    <div class="container-fluid">
                                        <div class="col-md-12">
                                            <label>Keyword</label>
                                            @Html.TextBoxFor(m => m.Keyword, new { @class = "form-control", placeholder = "Keyword for SEO" })
                                        </div>
                                    </div>
                                </div>
                                <div class="row2">
                                    <div class="container-fluid">
                                        <div class="col-md-12">
                                            <label>Description</label>
                                            @Html.TextAreaFor(m => m.Description, new { @class = "form-control", placeholder = "Description for SEO" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="col-sm-12 col-md-12">
                    <button type="button" data-dismiss="modal" class="btn btn-default btn-rc-sm md-close"><i class="icon s7-close-circle"></i>Close</button>
                    <button type="submit" class="btn btn-primary btn-rc-sm"><i class="icon s7-diskette"></i>Save</button>
                </div>
            </div>
        </div>
    </div>
}
<script>
    $(function () {
        CKEDITOR.replace('page-content');
    });
</script>