@model List<SBS_Ecommerce.Models.Block>
@{
    ViewBag.Title = "Block Manager";
    Layout = "~/Views/Admin/_LayoutAdmin.cshtml";
    var msg = ViewBag.Message;
    var textMsg = ViewBag.TextMessage;
}
<link href="~/Content/Admin/css/blockmanager.css" rel="stylesheet" />
<script src="~/Content/ckeditor/ckeditor.js"></script>
<!-- Modal -->
<div id="successModal" class="modal fade" role="dialog">
    <div class="modal-dialog" style="left: auto;">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="alert alert-success">
                    <strong>Success!</strong> <span id="contentAlert">Layout successful change</span>.
                </div>
            </div>
        </div>

    </div>
</div>

<div class="modal fade" id="confirm-delete" data-id="" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="left:auto">
        <div class="modal-content">
            <div class="modal-header">
                Are you sure delete this block?
            </div>
            <div class="footer-html">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button class="btn btn-danger btn-ok" onclick="DeleteBlock($('#confirm-delete').attr('data-id'))">Delete</button>
            </div>
        </div>
    </div>
</div>

<div id="addBlockModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg" style="left: auto;">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h3>Add Block</h3>
            </div>
            <div class="titleHTML">
                <span>Title &nbsp;</span><input id="txtTitleHTML" type="text" />&nbsp;<span style="margin-left:31px;" class="erorr" id="errorTitle">The Title is required.</span>
            </div>
            <div class="modal-body pointer">
                <textarea name="txtHTML" id="txtHTML" style="width:100%;height:250px;"></textarea>
            </div>
            <div class="footer-html">
                <input type="button" value="Cancel" class="btn btn-default" data-dismiss="modal" style="margin-top:10px" />
                <input class="btn btn-success btn-ok" value="Save" type="button" onclick="SaveBlock()" style="margin-top:10px">
            </div>
        </div>
    </div>
</div>

<div id="preBlockModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg" style="left: auto;">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h3>Preview Block</h3>
            </div>
            <div class="content-block">
            </div>
        </div>
    </div>
</div>

<div class="main-content">
    @if (!string.IsNullOrEmpty(msg) && !string.IsNullOrEmpty(textMsg))
    {
        if (msg == "1")
        {
            <div role="alert" style="margin:15px;" class="alert alert-success alert-dismissible">
                <button type="button" data-dismiss="alert" aria-label="Close" class="close"><span aria-hidden="true" class="s7-close"></span></button><span id="alert-msg-success">@textMsg</span>
            </div>
        }
    }
    <!--+general-chart("classes", "title", "height", "id", "counter value", "counter desc", tools enabled (use true or false))-->
    <div class="content-blockmanager">
        <div class="install-theme">
            <input onclick="ConfirmAddBlock()" class="btn btn-success" type="button" value="Create Block" />
            @*<input value="Upload" class="clr-btn-success" type="button"  style="margin-top:10px;text-align:right">*@
        </div>
        <table class="table table-striped table-hover table-fw-widget dataTable no-footer">
            <thead>
                <tr>
                    <th style="width:10%">Id</th>
                    <th style="width:30%">Name</th>
                    <th style="width:30%">Short Code</th>
                    <th style="width:30%">Operator</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @item.ID
                        </td>
                        <td>
                            @item.Name
                        </td>
                        <td>
                            [{Block_@item.ID}]
                        </td>
                        <td>
                            <input value="Preview" type="button" class="btn btn-success" onclick="Preview('@item.ID')" />
                            <input value="Edit" type="button" class="btn btn-success" onclick="ConfirmEditBlock('@item.ID')" />
                            <input value="Delete" type="button" class="btn btn-danger" onclick="ConfirmDelete(@item.ID)" />
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

</div>

<script>
    $(function () {
        $("table").dataTable();
    });
    $('#successModal').on('click', function () {
        window.location.reload();
    });

    $(function () {
        CKEDITOR.replace('txtHTML');
    });
    
    function ConfirmAddBlock() {
        $('#addBlockModal').find('h3').text('Add Block');
        $('#addBlockModal').find('#txtTitleHTML').val('');
        $('#errorTitle').hide();

        CKEDITOR.instances['txtHTML'].setData('');
        $('#addBlockModal').attr('data-action', 'Add');
        $('#addBlockModal').modal('show');
    }

    function ConfirmEditBlock(id) {
        $('#addBlockModal').find('h3').text('Edit Block');
        $('#addBlockModal').attr('data-action', 'Edit');
        $('#addBlockModal').attr('data-id', id);
        $('#errorTitle').hide();

        $.ajax({
            url: '@Url.Action("GetContentBlock", "Admin")',
            data: { id: id },
            type: 'POST',
            success: function (rs) {
                CKEDITOR.instances['txtHTML'].setData(rs.Content);
                $('#addBlockModal').find('#txtTitleHTML').val(rs.Title);
                $('#addBlockModal').modal('show');
            }
        });
    }

    function SaveBlock() {
        var content = CKEDITOR.instances['txtHTML'].getData();
        if ($('#txtTitleHTML').val()=='') {
            $('#errorTitle').show();
            return;
        }
        else {
            $('#errorTitle').hide();
        }

        if ($('#addBlockModal').attr('data-action') == 'Add') {
            $.ajax({
                url: '@Url.Action("AddBlock", "Admin")',
                data: { content: content, title: $('#txtTitleHTML').val() },
                type: 'POST',
                success: function (rs) {
                    $('#addBlockModal').modal('hide');
                    showMessageAlert('1', 'Block has been created successfully.');
                }

            });
        }
        else {
            $.ajax({
                url: '@Url.Action("EditBlock", "Admin")',
                data: { id:$('#addBlockModal').attr('data-id'), content: content, title: $('#txtTitleHTML').val() },
                type: 'POST',
                success: function (rs) {
                    $('#addBlockModal').modal('hide');
                    showMessageAlert('1', 'Block has been updated successfully.');
                }

            });
        }
    }

    function ConfirmDelete(id) {
        $('#confirm-delete').attr('data-id', id);
        $('#confirm-delete').modal('show');
    }

    function DeleteBlock(id) {
        $.ajax({
            url: '@Url.Action("DeleteBlock", "Admin")',
            data: { id: id },
            type: 'POST',
            success: function (rs) {
                $('#confirm-delete').modal('hide');
                showMessageAlert('1', 'Block has been deleted successfully.');
            }

        });
    }

    function Preview(id) {
        $.ajax({
            url: '@Url.Action("GetContentBlock", "Admin")',
            data: { id: id },
            type: 'POST',
            success: function (rs) {

                $('.content-block').html(rs.Content);
                $('#preBlockModal').modal('show');
            }
        });
    }

</script>