@using SBS_Ecommerce.Models.DTOs;
@using SBS_Ecommerce.Models;
@{
    ViewBag.Title = "Configuration";
    Layout = "~/Views/Admin/_LayoutAdmin.cshtml";
    var configPaypal = (ViewBag.ConfigPaypalDTO != null ? (ConfigPaypalDTO)ViewBag.ConfigPaypalDTO : null);
    var configEmail = (ViewBag.ConfigEmail != null ? (EmailAccountDTO)ViewBag.ConfigEmail : null);
    var configChatting = (ViewBag.ConfigChatting != null ? (ConfigChatting)ViewBag.ConfigChatting : null);
    var configMailChimp = (ViewBag.ConfigMailChimp != null ? (ConfigMailChimp)ViewBag.ConfigMailChimp : null);
}
<script src="~/Content/Admin/js/app-configuration-manager.js"></script>

<div class="main-content">
    <div class="tab-container">
        <ul class="nav nav-tabs">
            <li id="li-configuration-paypal" class="active"><a href="#configuration-paypal" data-toggle="tab">Configuration Paypal</a></li>
            <li id="li-configuration-email"><a href="#configuration-email" data-toggle="tab">Configuration email admin</a></li>
            <li id="li-configuration-chatting"><a href="#configuration-chatting" data-toggle="tab">Configuration Chatting</a></li>
            <li id="li-configuration-mail-chimp"><a href="#configuration-mail-chimp" data-toggle="tab">Configuration Mail Chimp</a></li>
        </ul>
        <div class="tab-content" style="margin-bottom:0px;">
            <div id="configuration-paypal" class="active tab-pane cont">
                <div class="panel panel-dark  dark">
                    <div class="panel-heading">
                        <h3> <a href="#" class="btn btn-primary am-toggle-left-sidebar"><i class="icon s7-menu"></i></a>Configuration Paypal</h3>
                    </div>
                    <div class="panel-body">
                        <div class="row2">
                            <div class="col-md-12">
                                <div class="panel panel-dark">
                                    <div class="panel-body">
                                        <div class="row2">
                                            <div class="container-fluid">
                                                <div class="col-md-3">
                                                    <br />
                                                    <br />
                                                    <div class="am-radio">
                                                        @if (configPaypal != null)
                                                        {
                                                            if (configPaypal.Mode != null && configPaypal.Mode == "sanbox")
                                                            {
                                                                <div class="col-md-6">
                                                                    <input type="radio" name="gender" checked id="Mode-sanbox" value="sanbox" />
                                                                    <label class="forcheckbox" for="Mode-sanbox">Sanbox</label>
                                                                </div>
                                                                <div class="col-md-6">
                                                                    <input type="radio" name="gender" id="Mode-live" value="live" />
                                                                    <label class="forcheckbox" for="Mode-live">Live</label>
                                                                </div>
                                                            }
                                                            else
                                                            {
                                                                <div class="col-md-6">
                                                                    <input type="radio" name="gender" id="Mode-sanbox" value="sanbox" />
                                                                    <label class="forcheckbox" for="Mode-sanbox">Sanbox</label>
                                                                </div>
                                                                <div class="col-md-6">
                                                                    <input type="radio" checked name="gender" id="Mode-live" value="live" />
                                                                    <label class="forcheckbox" for="Mode-live">Live</label>
                                                                </div>
                                                            }
                                                        }
                                                        else
                                                        {
                                                            <div class="col-md-6">
                                                                <input type="radio" name="gender" id="Mode-sanbox" checked value="sanbox" />
                                                                <label class="forcheckbox" for="Mode-sanbox">Sanbox</label>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <input type="radio" name="gender" id="Mode-live" value="live" />
                                                                <label class="forcheckbox" for="Mode-live">Live</label>
                                                            </div>
                                                        }
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <label class="control-label">ConnectionTimeout</label>
                                                    <input type="number" min="0" id="ConnectionTimeout" value="@(configPaypal!=null ? configPaypal.ConnectionTimeout.ToString() : "")" class="form-control" />
                                                    @*<span class="text-danger field-validation-error" hidden id="error-timeout">The ConnectionTimeout field is required.</span>*@
                                                    <div class="validation-error text-danger">
                                                        <span class="field-validation-valid" data-valmsg-for="ConnectionTimeout" data-valmsg-replace="true" id="ConnectionTimeout_Err"></span>
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <label class="control-label">ClientId</label>
                                                    <input id="ClientID" class="form-control" value="@(configPaypal!=null ? configPaypal.ClientId : "")" />
                                                    @*<span class="text-danger field-validation-error" id="error-clientID" hidden>The ClientId field is required.</span>*@
                                                    <div class="validation-error text-danger">
                                                        <span class="field-validation-valid" data-valmsg-for="ClientID" data-valmsg-replace="true" id="ClientID_Err"></span>
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <label class="control-label">ClientSecret</label>
                                                    <input class="form-control" id="ClientSecret" value="@(configPaypal!=null ? configPaypal.ClientSecret : "")" />
                                                    @*<span class="text-danger field-validation-error" id="error-ClientSecret" hidden>The ClientSecret field is required.</span>*@
                                                    <div class="validation-error text-danger">
                                                        <span class="field-validation-valid" data-valmsg-for="ClientSecret" data-valmsg-replace="true" id="ClientID_Err"></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer">
                        <div class="row2">
                            <div class="container-fluid">
                                <div class="col-md-12">
                                    <input id="ConfigPaypalId" value="@configPaypal.Id" hidden/>
                                    <button type="button" class="btn btn-primary btn-rc-sm " onclick="ConfigPaypal()">
                                        <i class="icon s7-diskette"></i>
                                        Save
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div id="configuration-email" class="tab-pane cont">
                <div class="panel panel-dark  dark">
                    <div class="panel-heading">
                        <h3>Configuration email admin</h3>
                    </div>
                    <div class="panel-body">
                        <div class="row2">
                            <div class="col-md-12">
                                <div class="panel panel-dark">
                                    <div class="panel-body">
                                        <div class="row2">
                                            <div class="container-fluid">
                                                <div class="col-md-3">
                                                    <input id="configEmailID" value="@(configEmail!=null?configEmail.Id.ToString() : "")" hidden />
                                                    <label class="control-label">Email</label>
                                                    <input class="form-control" id="ConfigEmail" value="@(configEmail!=null ? configEmail.Email : "")" />
                                                    <span hidden class="text-danger field-validation-error" id="error-ConfigEmail">The Email field is required.</span>
                                                </div>
                                                <div class="col-md-3">
                                                    <label class="control-label">DisplayName</label>
                                                    <input class="form-control" id="configDisplayName" value="@(configEmail!=null ? configEmail.DisplayName : "")" />
                                                    <span hidden class="text-danger field-validation-error" id="error-DisplayName">The DisplayName field is required.</span>
                                                </div>
                                                <div class="col-md-3">
                                                    <label class="control-label">SMTP Server</label>
                                                    <input class="form-control" id="configHost" value="@(configEmail!=null ? configEmail.Host : "")" />
                                                    <span hidden class="text-danger field-validation-error" id="error-configHost">The Host field is required.</span>
                                                </div>
                                                <div class="col-md-3">
                                                    <label class="control-label">SMTP Port</label>
                                                    <input type="number" min="0" class="form-control" id="configPort" value="@(configEmail!=null ? configEmail.Port.ToString() : "")" />
                                                    <span hidden class="text-danger field-validation-error" id="error-configPort">The Port field is required.</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row2">
                                            <div class="container-fluid">
                                                <div class="col-md-3">
                                                    <label class="control-label">Username</label>
                                                    <input class="form-control" id="configUserName" value="@(configEmail!=null ? configEmail.Username.ToString() : "")" />
                                                    <span hidden class="text-danger field-validation-error" id="error-configUserName">The Username field is required.</span>
                                                </div>
                                                <div class="col-md-3">
                                                    <label class="control-label">Password</label>
                                                    <input type="password" class="form-control" id="configPassword" value="@(configEmail!=null ? configEmail.Password.ToString() : "")" />
                                                    <span hidden class="text-danger field-validation-error" id="error-configPassword">The Password field is required.</span>
                                                </div>

                                                <div class="col-md-3">
                                                    <br />
                                                    <br />
                                                    <div class="am-checkbox inline">
                                                        &nbsp;
                                                        @if (configEmail != null && configEmail.EnableSsl)
                                                        {
                                                            <input id="ckSSL" type="checkbox" class="text-danger" checked />
                                                        }
                                                        else
                                                        {
                                                            <input id="ckSSL" type="checkbox" class="text-danger" />
                                                        }
                                                        <label for="SSL">SSL Required?</label>
                                                    </div>
                                                </div>

                                                <div class="col-md-3">
                                                    <br />
                                                    <br />
                                                    <div class="am-checkbox inline">
                                                        &nbsp;
                                                        @if (configEmail != null && configEmail.UseDefaultCredentials)
                                                        {
                                                            <input id="ckCredentials" type="checkbox" class="text-danger" checked />
                                                        }
                                                        else
                                                        {
                                                            <input id="ckCredentials" type="checkbox" class="text-danger" />
                                                        }
                                                        <label for="ckCredentials">UseDefault Credentials</label>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer">
                        <div class="row2">
                            <div class="container-fluid">
                                <div class="col-md-12">
                                    <button type="button" class="btn btn-primary btn-rc-sm " onclick="ConfigEmail()">
                                        <i class="icon s7-diskette"></i>
                                        Save
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div id="configuration-chatting" class="tab-pane cont">
                <div class="panel panel-dark  dark">
                    <div class="panel-heading">
                        <h3>Configuration Chatting</h3>
                    </div>
                    <div class="panel-body">
                        <div class="row2">
                            <div class="col-md-12">
                                <div class="panel panel-dark">
                                    <div class="panel-body">
                                        <div class="row2">
                                            <div class="container-fluid">
                                                <div class="col-md-3">
                                                    <label class="control-label">FacebookPage ID</label>
                                                    @if (configChatting != null)
                                                    {
                                                        <input class="form-control" type="text" id="txtPageID" value="@configChatting.PageID" />
                                                    }
                                                    else
                                                    {
                                                        <input class="form-control" type="text" id="txtPageID" />
                                                    }
                                                    <span hidden class="text-danger field-validation-error" id="error-fbID">The FacebookPage ID field is required.</span>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="panel-footer">
                        <div class="row2">
                            <div class="container-fluid">
                                <div class="col-md-12">
                                    <button type="button" class="btn btn-primary btn-rc-sm " onclick="SaveConfig()">
                                        <i class="icon s7-diskette"></i>
                                        Save
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div id="configuration-mail-chimp" class="tab-pane cont">
                <div class="panel panel-dark  dark">
                    <div class="panel-heading">
                        <h3>Configuration Mail Chimp</h3>
                    </div>
                    <div class="panel-body">
                        <div class="row2">
                            <div class="col-md-12">
                                <div class="panel panel-dark">
                                    <div class="panel-body">
                                        <div class="row2">
                                            <div class="container-fluid">
                                                <div class="col-md-3">
                                                    <label class="control-label" style="padding:0;">ApiKey</label>

                                                    @if (configMailChimp != null)
                                                    {
                                                        <input class="form-control" type="text" id="txtApiKey" value="@configMailChimp.ApiKey" />
                                                    }
                                                    else
                                                    {
                                                        <input class="form-control" type="text" id="txtApiKey" />
                                                    }
                                                    <span hidden class="text-danger field-validation-error" id="error-txtApiKey">The ApiKey field is required.</span>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="panel-footer">
                        <div class="row2">
                            <div class="container-fluid">
                                <div class="col-md-12">                                    
                                    <button type="button" class="btn btn-primary btn-rc-sm " onclick="SaveConfigMailChimp()">
                                        <i class="icon s7-diskette"></i>
                                        Save
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>