@using SBS_Ecommerce.Models;
@using SBS_Ecommerce.Models.DTOs;
@using SBS_Ecommerce.Framework;
@{
    ViewBag.Title = "Delivery Company Managemer";
    Layout = "~/Views/Admin/_LayoutAdmin.cshtml";
    List<DeliveryCompany> datas = ViewBag.Data;
    List<Country> countries = ViewBag.Countries;
}

<script src="~/Content/Admin/js/app-delivery-company.js"></script>

<div class="main-content">
    @if (TempData["Message"] != null)
    {
        <div class="container-fluid padded">
            <div class="row-fluid">
                <div class="span12">
                    @if (TempData["Status"] != null && (int)TempData["Status"] == -1)
                    {
                        <div class="alert alert-primary">
                            <button type="button" data-dismiss="alert" aria-label="Close" class="close">
                                <span aria-hidden="true" class="s7-close"></span>
                            </button><span id="alert-msg-success">@TempData["Message"]</span>
                            <br />
                        </div>
                    }
                    else
                    {
                        <div class="alert alert-success">
                            <button type="button" data-dismiss="alert" aria-label="Close" class="close">
                                <span aria-hidden="true" class="s7-close"></span>
                            </button><span id="alert-msg-success">@TempData["Message"]</span>
                            <br />
                        </div>
                    }
                </div>
            </div>
        </div>
    }
    <div class="row2">
        <div class="col-md-12">
            <div class="panel panel-dark">
                <div class="panel-heading">
                    <h3><a href="#" class="btn btn-primary am-toggle-left-sidebar"><i class="icon s7-menu"></i></a>@ViewBag.Title</h3>
                </div>
                <div class="panel-body bordered">
                    <div class="row2">
                        <div class="col-md-12 text-right">
                            <div style="height:32px;"></div>
                            <button type="button" class="btn btn-space btn-success" onclick="addDeliveryCompany()"><i class="icon s7-plus"></i>Add Delivery Company</button>
                        </div>
                    </div>
                    <div class="row2">
                        <div class="col-sm-12">
                            <div class="widget widget-fullwidth widget-small">
                                <div class="widget-head">
                                    <div class="title"><strong>@ViewBag.Title</strong></div>
                                </div>
                                <table id="delivery-company-table" class="table table-striped table-hover table-fw-widget">
                                    <thead>
                                        <tr>
                                            <th>Id</th>
                                            <th>Company Name</th>
                                            <th>Address</th>
                                            <th>Ward</th>
                                            <th>District</th>
                                            <th>City</th>
                                            <th>Country</th>
                                            <th>Phone</th>
                                            <th>Fax</th>
                                            <th>Email</th>
                                            <th class="text-center" style="width:20%">Operator</th>
                                        </tr>
                                    </thead>
                                    @if (!datas.IsNullOrEmpty())
                                    {
                                    <tbody>
                                        @foreach (var item in datas)
                                        {
                                            <tr>
                                                <td>@item.Id</td>
                                                <td>@item.CompanyName</td>
                                                <td>@item.Address</td>
                                                <td>@item.Ward</td>
                                                <td>@item.District</td>
                                                <td>@item.City</td>
                                                <td>@item.Country</td>
                                                <td>@item.Phone</td>
                                                <td>@item.Fax</td>
                                                <td>@item.Email</td>
                                                <td class="actions">
                                                    <button type="button" class="btn btn-sm btn-dark" onclick="openEdit(@item.Id)" title="Edit">
                                                        <i class="icon s7-pen"></i>
                                                    </button>
                                                    <button data-id="@item.Id" type="button" class="btn btn-sm btn-danger" onclick="showConfirm(@item.Id)" title="Delete">
                                                        <i class="icon s7-trash"></i>
                                                    </button>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                    }
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div id="form-delivery-company" tabindex="-1" role="dialog" class="modal fade colored-header">    
</div>

<div id="confirm-delete" tabindex="-1" role="dialog" class="modal fade" data-id="">
    <div class="modal-dialog custom-width">
        <div class="modal-content">
            <div class="modal-header-main">
                <button type="button" data-dismiss="modal" aria-hidden="true" class="close md-close"><i class="icon s7-close"></i></button>
                <h3>Are you sure want to delete?</h3>
            </div>
            <div class="footer-html">
                <form action="@Url.Action("DeleteDeliveryCompany", "Admin")", method="post">
                    <input hidden id="idCompany" name="id"/>
                    <button type="button" data-dismiss="modal" class="btn btn-default md-close">Cancel</button>
                    <button id="delete-btn" type="submit" class="btn btn-danger md-close">Delete</button>
                </form>
            </div>
        </div>
    </div>
</div>