@using SBS_Ecommerce.Models;
@using SBS_Ecommerce.Models.DTOs;
@using SBS_Ecommerce.Framework;
@{
    ViewBag.Title = "Delivery Company Managemer";
    Layout = "~/Views/Admin/_LayoutAdmin.cshtml";
    List<DeliveryCompany> datas = ViewBag.Data;
    List<Country> countries = ViewBag.Countries;
}

<script src="~/Content/Admin/js/app-delivery-company.js"></script>

<div class="main-content">
    <div class="container-fluid padded">
        <div class="row-fluid">
            <div class="span12">
                <div id="alert-msg"></div>
            </div>
        </div>
    </div>

    <div class="row2">
        <div class="col-md-12">
            <div class="panel panel-dark">
                <div class="panel-heading">
                    <h3><a href="#" class="btn btn-primary am-toggle-left-sidebar"><i class="icon s7-menu"></i></a>@ViewBag.Title</h3>
                </div>
                <div class="panel-body bordered">
                    <div class="row2">
                        <div class="col-md-12 text-right">
                            <div style="height:32px;"></div>
                            <button type="button" class="btn btn-space btn-success" onclick="showModal()"><i class="icon s7-plus"></i>Create Delivery Company</button>
                        </div>
                    </div>
                    <div class="row2">
                        <div class="col-sm-12">
                            <div class="widget widget-fullwidth widget-small">
                                <div class="widget-head">
                                    <div class="title"><strong>@ViewBag.Title</strong></div>
                                </div>
                                <table id="delivery-company-table" class="table table-striped table-hover table-fw-widget">
                                    <thead>
                                        <tr>
                                            <th>Id</th>
                                            <th>Company Name</th>
                                            <th>Address</th>
                                            <th>Ward</th>
                                            <th>District</th>
                                            <th>City</th>
                                            <th>Country</th>
                                            <th>Phone</th>
                                            <th>Fax</th>
                                            <th>Email</th>
                                            <th class="text-center" style="width:20%">Operator</th>
                                        </tr>
                                    </thead>
                                    @if (!datas.IsNullOrEmpty())
                                    {
                                    <tbody>
                                        @foreach (var item in datas)
                                        {
                                            <tr>
                                                <td>@item.Id</td>
                                                <td>@item.CompanyName</td>
                                                <td>@item.Address</td>
                                                <td>@item.Ward</td>
                                                <td>@item.District</td>
                                                <td>@item.City</td>
                                                <td>@item.Country</td>
                                                <td>@item.Phone</td>
                                                <td>@item.Fax</td>
                                                <td>@item.Email</td>
                                                <td class="actions">
                                                    <button type="button" class="btn btn-sm btn-dark" onclick="openEdit(@item.Id)" title="Edit">
                                                        <i class="icon s7-pen"></i>
                                                    </button>
                                                    <button data-id="@item.Id" type="button" class="btn btn-sm btn-danger" onclick="showConfirm(@item.Id)" title="Delete">
                                                        <i class="icon s7-trash"></i>
                                                    </button>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                    }
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div id="form-delivery-company" tabindex="-1" role="dialog" class="modal fade colored-header">
    <div class="modal-dialog custom-width">
        <div class="modal-content">
            <div class="modal-header-main">
                <button type="button" data-dismiss="modal" aria-hidden="true" class="close md-close"><i class="icon s7-close-circle"></i></button>
                <h3 class="modal-title">Delivery Company Information</h3>
            </div>
            <div class="modal-body form">
                <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-default">
                            <div class="panel-body">

                                <div class="row2">
                                    <div class="container-fluid">
                                        <div class="col-md-12" id="alert-err-msg" hidden>
                                            <div class="text-danger" style="white-space:pre-wrap"></div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row2">
                                    <div class="container-fluid">
                                        <div class="col-md-12">
                                            <label>Company Name</label>
                                            <input id="txtName" type="text" placeholder="Company Name" class="form-control">
                                            <div class="validation-error text-danger">
                                                <span class="field-validation-valid" data-valmsg-for="txtName" data-valmsg-replace="true" id="txtName_Err"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row2">
                                    <div class="container-fluid">
                                        <div class="col-md-6">
                                            <label>Phone</label>
                                            <input id="txtPhone" type="text" placeholder="Phone" class="form-control">
                                            <div class="validation-error text-danger">
                                                <span class="field-validation-valid" data-valmsg-for="txtPhone" data-valmsg-replace="true" id="txtPhone_Err"></span>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <label>Email</label>
                                            <input id="txtEmail" type="email" placeholder="Email" class="form-control">
                                            <div class="validation-error text-danger">
                                                <span class="field-validation-valid" data-valmsg-for="txtEmail" data-valmsg-replace="true" id="txtEmail_Err"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row2">
                                    <div class="container-fluid">
                                        <div class="col-md-12">
                                            <label>Address</label>
                                            <input id="txtAddress" type="text" placeholder="Address" class="form-control">
                                            <div class="validation-error text-danger">
                                                <span class="field-validation-valid" data-valmsg-for="txtAddress" data-valmsg-replace="true" id="txtAddress_Err"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row2">
                                    <div class="container-fluid">
                                        <div class="col-md-6">
                                            <label>Ward</label>
                                            <input id="txtWard" type="text" placeholder="Ward" class="form-control">
                                            <div class="validation-error text-danger">
                                                <span class="field-validation-valid" data-valmsg-for="txtWard" data-valmsg-replace="true" id="txtWard_Err"></span>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <label>District</label>
                                            <input id="txtDistrict" type="text" placeholder="District" class="form-control">
                                            <div class="validation-error text-danger">
                                                <span class="field-validation-valid" data-valmsg-for="txtDistrict" data-valmsg-replace="true" id="txtDistrict_Err"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row2">
                                    <div class="container-fluid">
                                        <div class="col-md-12">
                                            <label>City</label>
                                            <input id="txtCity" type="text" placeholder="City" class="form-control">
                                            <div class="validation-error text-danger">
                                                <span class="field-validation-valid" data-valmsg-for="txtCity" data-valmsg-replace="true" id="txtCity_Err"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row2">
                                    <div class="container-fluid">
                                        <div class="col-md-12">
                                            <label>Country</label>
                                            <select id="slCountry" class="form-control">
                                                <option value="--">Select Country</option>
                                                @foreach (var item in countries)
                                                {
                                                <option value="@item.code">@item.name</option>
                                                }
                                            </select>
                                            <div class="validation-error text-danger">
                                                <span class="field-validation-valid" data-valmsg-for="slCountry" data-valmsg-replace="true" id="slCountry_Err"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="col-sm-12 col-md-12">
                    <button type="button" data-dismiss="modal" class="btn btn-default btn-rc-sm md-close"><i class="icon s7-close-circle"></i>Close</button>
                    <button type="button" class="btn btn-primary btn-rc-sm" id="add-edit-btn"><i class="icon s7-diskette"></i> Save</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="confirm-delete" tabindex="-1" role="dialog" class="modal fade" data-id="">
    <div class="modal-dialog custom-width">
        <div class="modal-content">
            <div class="modal-header-main">
                <button type="button" data-dismiss="modal" aria-hidden="true" class="close md-close"><i class="icon s7-close"></i></button>
                <h3>Are you sure want to delete?</h3>
            </div>
            <div class="footer-html">
                <button type="button" data-dismiss="modal" class="btn btn-default md-close">Cancel</button>
                <button id="delete-btn" type="button" class="btn btn-danger md-close" onclick="deleteDeliveryCompany($('#confirm-delete').data('id'))">Delete</button>
            </div>
        </div>
    </div>
</div>