@using SBS_Ecommerce.Models;
@using SBS_Ecommerce.Models.DTOs;
@using SBS_Ecommerce.Framework;
@{
    ViewBag.Title = "Delivery Company Management";
    Layout = "~/Views/Admin/_LayoutAdmin.cshtml";
    List<DeliveryCompany> datas = ViewBag.Data;
    List<Country> countries = ViewBag.Countries;
}
<div class="panel-body">
    <table id="delivery-company-table" class="table table-striped table-bordered" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>Id</th>
                <th>Company Name</th>
                <th>Address</th>
                <th>Ward</th>
                <th>District</th>
                <th>City</th>
                <th>Country</th>
                <th>Phone</th>
                <th>Fax</th>
                <th>Email</th>
                <th>Option</th>
            </tr>
        </thead>
        @if (!datas.IsNullOrEmpty())
        {
            <tbody>
                @foreach (var item in datas)
                {
                    <tr data-id="@item.Id" data-toggle="modal" class="clickable-row">
                        <td>@item.Id</td>
                        <td>@item.CompanyName</td>
                        <td>@item.Address</td>
                        <td>@item.Ward</td>
                        <td>@item.District</td>
                        <td>@item.City</td>
                        <td>@item.Country</td>
                        <td>@item.Phone</td>
                        <td>@item.Fax</td>
                        <td>@item.Email</td>
                        <td>
                            <button type="button" class="btn btn-space btn-primary btn-sm">
                                <i class="icon s7-edit"></i>
                            </button>
                            <button data-id="@item.Id" type="button" data-toggle="modal" data-target="#colored-danger" 
                                    class="btn btn-space btn-primary btn-sm" onclick="showConfirm(this)">
                                <i class="icon s7-close"></i>
                            </button>
                        </td>
                    </tr>
                }
            </tbody>
        }
    </table>

    <button data-toggle="modal" data-target="#form-bp1" type="button" class="btn btn-space btn-primary">Add Company</button>
</div>

<!-- Modal -->
<div id="form-bp1" tabindex="-1" role="dialog" class="modal fade colored-header">
    <div class="modal-dialog custom-width">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" data-dismiss="modal" aria-hidden="true" class="close md-close"><i class="icon s7-close"></i></button>
                <h3 class="modal-title">Add Weight</h3>
            </div>
            <div class="modal-body form">
                <div class="form-group">
                    <div id="errMsg" class="text-danger" style="white-space:pre-wrap"></div>
                </div>
                <div class="form-group">
                    <input id="txtName" type="text" placeholder="Company Name" class="form-control">
                </div>
                <div class="form-group">
                    <input id="txtAddress" type="text" placeholder="Address" class="form-control">
                </div>
                <div class="form-group">
                    <input id="txtWard" type="text" placeholder="Ward" class="form-control">
                </div>
                <div class="form-group">
                    <input id="txtDistrict" type="text" placeholder="District" class="form-control">
                </div>
                <div class="form-group">
                    <input id="txtCity" type="text" placeholder="City" class="form-control">
                </div>
                <div class="form-group">
                    <input id="txtPhone" type="text" placeholder="Phone" class="form-control">
                </div>
                <div class="form-group">
                    <input id="txtEmail" type="email" placeholder="Email" class="form-control">
                </div>
                <div class="form-group">
                    <select id="slCountry" class="form-control">
                        @foreach (var item in countries)
                        {
                            <option value="@item.code">@item.name</option>
                        }
                    </select>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn btn-default md-close">Cancel</button>
                <button id="add-btn" type="button" class="btn btn-primary md-close">Add</button>
            </div>
        </div>
    </div>
</div>

<div id="colored-danger" tabindex="-1" role="dialog" class="modal fade colored-header">
    <div class="modal-dialog custom-width">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" data-dismiss="modal" aria-hidden="true" class="close md-close"><i class="icon s7-close"></i></button>
                <h3 class="modal-title">Confirm</h3>
            </div>
            <div class="modal-body form">
                <p>Are you sure want to delete?</p>
                <input id="delivery-company-id" type="text" value="" hidden/>
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn btn-default md-close">Cancel</button>
                <button id="delete-btn" type="button" class="btn btn-primary md-close">Delete</button>
            </div>
        </div>
    </div>
</div>