@model SBS_Ecommerce.Models.DTOs.AdminLoginDTO
@{
    ViewBag.Title = "Login";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="description" content="">
    <meta name="author" content="">
    @*<link rel="shortcut icon" href="@Url.Content("~/Content/Admin/img/favicon.png")">*@
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/Admin/lib/stroke-7/style.css")" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/Admin/lib/jquery.nanoscroller/css/nanoscroller.css")" />
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link rel="stylesheet" href="@Url.Content("~/Content/Admin/css/style.css")" type="text/css" />
</head>
<body class="am-splash-screen">
    <div class="am-wrapper am-login">
        <div class="am-content">
            <div class="main-content">
                <div class="login-container">
                    <div class="panel panel-default">
                        <div class="panel-heading"><img src="@Url.Content("~/Content/Admin/img/imgprofile.jpg")" alt="logo" class="logo-img"><span>Please enter your user information.</span></div>
                        <div class="panel-body">
                            <form action="@Url.Action("Login","Admin")" method="post" class="form-horizontal">
                                <div class="login-form">
                                    @if (ViewBag.MessageError != null)
                                    {
                                        <div role="alert" class="alert alert-danger alert-icon alert-border-color alert-dismissible">
                                            <div class="icon"><span class="s7-close-circle"></span></div>
                                            <div class="message">
                                                <button type="button" data-dismiss="alert" aria-label="Close" class="close"><span aria-hidden="true" class="s7-close"></span></button>@ViewBag.MessageError
                                            </div>
                                        </div>
                                    }
                                    <div class="form-group">
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="icon s7-user"></i></span>
                                            @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", @placeholder = "Username", @autocomplete = "off" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="icon s7-lock"></i></span>
                                            @Html.TextBoxFor(m => m.PassWord, new { @class = "form-control", @type = "password", @placeholder = "Password" })
                                        </div>
                                    </div>
                                    <div class="form-group login-submit">
                                        <button data-dismiss="modal" type="submit" class="btn btn-primary btn-lg">Log me in</button>
                                    </div>
                                    <div class="form-group footer row">
                                        <div class="col-xs-6"><a href="#">Forgot Password?</a></div>
                                        <div class="col-xs-6 remember">
                                            <label for="remember">Remember Me</label>
                                            <div class="am-checkbox">
                                                <input type="checkbox" name="remember" id="remember">
                                                <label for="remember"></label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="@Url.Content("~/Content/Admin/lib/jquery/jquery.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/Admin/lib/jquery.nanoscroller/javascripts/jquery.nanoscroller.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/Admin/js/main.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/Admin/lib/bootstrap/dist/js/bootstrap.min.js")" type="text/javascript"></script>
    <script type="text/javascript">
      $(document).ready(function(){
      	//initialize the javascript
      	App.init();
      });

    </script>
</body>
</html>