@using SBS_Ecommerce.Models;
@{
    ViewBag.Title = "Menu Manager";
    Layout = "~/Views/Admin/_LayoutAdmin.cshtml";
    var lstMenu = (List<ConfigMenu>)ViewBag.LstMenu;
    var lstId = "";
    foreach (var item in lstMenu)
    {
        if (item != lstMenu.Last())
        {
            lstId = lstId + item.MenuId + '_';
        }
        else
        {
            lstId = lstId + item.MenuId;
        }
    }
    var lstPage = (ViewBag.Pages != null ? (List<SBS_Ecommerce.Models.Page>)ViewBag.Pages : null);
}

<link rel="stylesheet" type="text/css" href="@Url.Content("~/amaretti/custom/css/menumanager.css")" />
<script src="~/Content/Admin/js/app-menu-manager.js"></script>

<!-- Modal -->
<div id="successModal" class="modal fade" role="dialog">
    <div class="modal-dialog" style="left: auto;">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="alert alert-success">
                    <strong>Success!</strong> <span id="contentAlert"> Front end website has been created menu.</span>
                </div>
            </div>
        </div>

    </div>
</div>

<div id="errorModal" class="modal fade" role="dialog">
    <div class="modal-dialog" style="left: auto;">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="alert alert-danger">
                    <strong>Error!</strong> <span id="contentAlert">Url and Label can not null.</span>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="addChildMenuModal" tabindex="-1" role="dialog" class="modal fade colored-header">
    <div class="modal-dialog custom-width">
        <div class="modal-content">
            <div class="modal-header-main">
                <button type="button" data-dismiss="modal" aria-hidden="true" class="close md-close"><i class="icon s7-close-circle"></i></button>
                <h3 class="modal-title">Add child to Menu</h3>
            </div>
            <div class="modal-body form">
                <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <div class="row2">
                                    <div class="container-fluid">
                                        <div class="col-md-12">
                                            <label class="control-label">Child Menu</label>
                                            <input id="txtChildLabel" type="text" class="form-control" placeholder="Child Menu">
                                            <div class="validation-error text-danger">
                                                <span class="field-validation-valid" id="error-add-child-label" data-valmsg-for="txtErrorChildLabel" data-valmsg-replace="true">The Menu Name is required</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row2">
                                    <div class="container-fluid">
                                        <div class="col-md-12">
                                            <div style="padding:15px 0" class="am-radio inline">
                                                <input class="rd-option-child" type="radio" checked name="rad-child" id="rad-child-2">
                                                <label for="rad-child-2" class="control-label-left">Pages</label>
                                                <input class="rd-option-child" type="radio" name="rad-child" id="rad-child-3">
                                                <label for="rad-child-3">Custom links</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row2">
                                    <div class="container-fluid">
                                        <div class="col-md-12">
                                            <div class="custom-item select-customlinks-child" hidden>
                                                <label class="control-label">Url</label>
                                                <input id="txtChildUrl" placeholder="http://" type="text" class="form-control" />
                                                <div class="validation-error text-danger">
                                                    <span class="field-validation-valid" id="error-add-child-url" data-valmsg-for="txtErrorChildUrl" data-valmsg-replace="true">The Url is required</span>
                                                </div>
                                            </div>

                                            @if (lstPage != null)
                                            {
                                                <div class="slect-page-child">
                                                    <label class="control-label">Page</label>
                                                    <select id="input-page-child" type="" class="select2 form-control">
                                                        @foreach (var item in lstPage)
                                                        {
                                                            <option value="@item.Name">@item.Name</option>
                                                        }
                                                    </select>
                                                </div>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="col-sm-12 col-md-12">
                    <button type="button" data-dismiss="modal" class="btn btn-default btn-rc-sm md-close"><i class="icon s7-close-circle"></i>Close</button>
                    <button type="button" class="btn btn-primary btn-rc-sm" onclick="AddChildMenu()"><i class="icon s7-diskette"></i>Save</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="editMenuModal" tabindex="-1" role="dialog" class="modal fade colored-header">
    <div class="modal-dialog custom-width">
        <div class="modal-content">
            <div class="modal-header-main">
                <button type="button" data-dismiss="modal" aria-hidden="true" class="close md-close"><i class="icon s7-close-circle"></i></button>
                <h3 class="modal-title">Edit to Menu</h3>
            </div>
            <div class="modal-body form">
                <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <div class="row2">
                                    <div class="container-fluid">
                                        <div class="col-md-12">
                                            <label class="control-label">Menu Name</label>
                                            <input id="txtLabel" type="text" class="form-control" placeholder="Menu Item">
                                            <div class="validation-error">
                                                <span class="field-validation-error" id="error-edit-label-menu" data-valmsg-for="txtLabel" data-valmsg-replace="true">The Menu Name is required</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row2">
                                    <div class="container-fluid">
                                        <div class="col-md-12">
                                            <div style="padding:15px 0" class="am-radio inline">
                                                <input class="rd-option" type="radio" checked name="rad2" id="rad4">
                                                <label for="rad4" class="control-label-left">Pages</label>
                                                <input class="rd-option" type="radio" name="rad2" id="rad5">
                                                <label for="rad5">Custom links</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row2">
                                    <div class="container-fluid">
                                        <div class="col-md-12">
                                            <div class="edit-select-customlinks" hidden>
                                                <label class="control-label">Url</label>
                                                <input id="txtUrl" type="text" class="form-control" placeholder="http://">
                                                <div class="validation-error">
                                                    <span class="field-validation-error" id="error-edit-url-menu" data-valmsg-for="txtUrl" data-valmsg-replace="true">The Url is required</span>
                                                </div>
                                            </div>
                                            @if (lstPage != null)
                                            {
                                                <div class="edit-slect-page">
                                                    <label class="control-label">Page</label>
                                                    <select id="edit-page" class="select2 form-control">
                                                        @foreach (var item in lstPage)
                                                        {
                                                            <option value="@item.Name">@item.Name</option>
                                                        }
                                                    </select>
                                                </div>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <div class="col-sm-12 col-md-12">
                    <button type="button" data-dismiss="modal" class="btn btn-default btn-rc-sm md-close"><i class="icon s7-close-circle"></i>Close</button>
                    <button type="button" class="btn btn-primary btn-rc-sm" onclick="SaveEditMenu()"><i class="icon s7-diskette"></i> Save</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="editChildMenuModal" tabindex="-1" role="dialog" class="modal fade colored-header">
    <div class="modal-dialog custom-width">
        <div class="modal-content">
            <div class="modal-header-main">
                <button type="button" data-dismiss="modal" aria-hidden="true" class="close md-close"><i class="icon s7-close-circle"></i></button>
                <h3 class="modal-title">Edit to Child Menu</h3>
            </div>
            <div class="modal-body form">
                <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <div class="row2">
                                    <div class="container-fluid">
                                        <div class="col-md-12">
                                            <label class="control-label">Child Menu</label>
                                            <input id="txtChildLabel-Modal" type="text" class="form-control" placeholder="Child Menu">
                                            <div class="validation-error">
                                                <span class="field-validation-error" id="error-edit-child-label" data-valmsg-for="txtChildLabel-Modal" data-valmsg-replace="true">The Menu Name is required</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row2">
                                    <div class="container-fluid">
                                        <div class="col-md-12">
                                            <div style="padding:15px 0" class="am-radio inline">
                                                <input class="rd-option-child" type="radio" checked name="rad-child-2" id="rad-child-4">
                                                <label for="rad-child-4" class="control-label-left">Pages</label>
                                                <input class="rd-option-child" type="radio" name="rad-child-2" id="rad-child-5">
                                                <label for="rad-child-5">Custom links</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row2">
                                    <div class="container-fluid">
                                        <div class="col-md-12">
                                            <div class="select-customlinks-child-edit" hidden>
                                                <label class="control-label">Url</label>
                                                <input id="txtChildUrl-Modal" type="text" class="form-control" placeholder="http://">
                                                <div class="validation-error">
                                                    <span class="field-validation-error" id="error-edit-child-url" data-valmsg-for="txtChildUrl-Modal" data-valmsg-replace="true">The Url is required</span>
                                                </div>
                                            </div>
                                            @if (lstPage != null)
                                            {
                                                <div class="slect-page-child-edit">
                                                    <label class="control-label">Page</label>
                                                    <select id="input-page-child-edit" class="select2 form-control">
                                                        @foreach (var item in lstPage)
                                                        {
                                                            <option value="@item.Name">@item.Name</option>
                                                        }
                                                    </select>
                                                </div>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <div class="col-sm-12 col-md-12">
                    <button type="button" data-dismiss="modal" class="btn btn-default btn-rc-sm md-close"><i class="icon s7-close-circle"></i>Close</button>
                    <button type="button" class="btn btn-primary btn-rc-sm" onclick="SaveEditChildMenu()"><i class="icon s7-diskette"></i> Save</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="confirm-menu" data-id="" tabindex="-1" role="dialog" class="modal fade colored-header">
    <div class="modal-dialog custom-width">
        <div class="modal-content">
            <div class="modal-header-main">
                <button type="button" data-dismiss="modal" aria-hidden="true" class="close md-close"><i class="icon s7-close-circle"></i></button>
                <h3 class="modal-title">Are you sure delete this menu?</h3>
            </div>
            <div class="modal-footer">
                <div class="col-sm-12 col-md-12">
                    <button type="button" data-dismiss="modal" class="btn btn-default btn-rc-sm md-close"><i class="icon s7-close-circle"></i>Cancel</button>
                    <button type="button" class="btn btn-primary btn-rc-sm" onclick="DeleteMenu($('#confirm-menu').attr('data-id'))"><i class="icon s7-trash"></i>Delete</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="confirm-child-menu" data-id="" tabindex="-1" role="dialog" class="modal fade colored-header">
    <div class="modal-dialog custom-width">
        <div class="modal-content">
            <div class="modal-header-main">
                <button type="button" data-dismiss="modal" aria-hidden="true" class="close md-close"><i class="icon s7-close-circle"></i></button>
                <h3 class="modal-title">  Are you sure delete this child menu?</h3>
            </div>
            <div class="modal-footer">
                <div class="col-sm-12 col-md-12">
                    <button type="button" data-dismiss="modal" class="btn btn-default btn-rc-sm md-close"><i class="icon s7-close-circle"></i>Cancel</button>
                    <button type="button" class="btn btn-primary btn-rc-sm" onclick="DeleteChildMenu()"><i class="icon s7-trash"></i>Delete</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="main-content">
    <div class="row2">
        <div class="col-md-12">
            <div class="panel panel-dark">
                <div class="panel-heading"><h3><a href="#" class="btn btn-primary am-toggle-left-sidebar"><i class="icon s7-menu"></i></a> @ViewBag.Title</h3> </div>
            </div>
        </div>
    </div>
    <div class="row2">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row2">
                        <div class="col-md-4 col-xs-12">
                            <div class="panel panel-dark panel-borders dark">
                                <div class="panel-heading">
                                    <h3><i class="icon s7-global"></i> New Menu</h3>
                                </div>
                                <div class="panel-body">
                                    <div class="row2">
                                        <div class="container-fluid">
                                            <div class="col-md-12">
                                                <label class="control-label">Menu Name</label>
                                                <input class="form-control" id="input-menu" placeholder="Menu Name" />
                                                <div class="validation-error">
                                                    <span class="field-validation-error" id="error-menu" hidden>Menu Name is required</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row2">
                                        <div class="container-fluid">
                                            <div class="col-md-12">
                                                <div style="padding:15px 0px" class="am-radio inline">
                                                    <input class="rd-option" type="radio" checked name="rad1" id="rad2">
                                                    <label for="rad2" class="control-label-left">Pages</label>
                                                    <input class="rd-option" type="radio" name="rad1" id="rad3">
                                                    <label for="rad3">Custom links</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row2">
                                        <div class="container-fluid">
                                            <div class="col-md-12">
                                                <div class="select-customlinks" hidden>
                                                    <label class="control-label">Url</label>
                                                    <input class="form-control" id="input-url" placeholder="http://" />
                                                    <div class="validation-error">
                                                        <span class="field-validation-error" id="error-url" hidden>The Url is required</span>
                                                    </div>
                                                </div>
                                                @if (lstPage != null)
                                                {
                                                    <div class="slect-page">
                                                        <label class="control-label">Page</label>
                                                        <select id="input-page" type="" class="select2 form-control">
                                                            @foreach (var item in lstPage)
                                                            {
                                                                <option value="@item.Name">@item.Name</option>
                                                            }
                                                        </select>
                                                    </div>
                                                }
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel-footer">
                                    <a onclick="AddMenu()" class="btn btn-success btn-rc-sm"><i class="icon s7-plus"></i> Add to Menu</a>
                                </div>
                            </div>
                            <div class="panel panel-dark panel-borders dark">
                                <div class="panel-heading">
                                    <h3><i class="icon s7-angle-right-circle"></i> Side Menu</h3>
                                </div>
                                <div class="panel-body">
                                    <div class="column" id="Colum-Layout">
                                        @foreach (var item in lstMenu)
                                        {
                                            <div class="dragbox" id="@("item" + (item.MenuId))">
                                                <h2>
                                                    <i class="itemtoggle glyphicon glyphicon-menu-up"></i> @item.Name
                                                    <span class="float-right" style="z-index:10">
                                                        <i title="Add child menu" onclick="AddChildMenuConfirm('@item.MenuId')" class="glyphicon glyphicon-plus-sign"></i>
                                                        <i title="Edit to menu" onclick="EditHTML('@item.MenuId','@item.Name','@item.Href')" class="glyphicon glyphicon-edit"></i>
                                                        <i title="Remove to menu" class="glyphicon glyphicon-remove-circle" onclick="ConfirmDeactive('@item.MenuId')"></i>
                                                    </span>
                                                </h2>
                                                <div class="descrip-widget">
                                                    <div>Drag and Drop to reorder your @item.Name Menu</div>
                                                    @foreach (var itemChild in item.ConfigChildMenus)
                                                    {
                                                        <div class="child-item">
                                                            @itemChild.Name
                                                            <span class="float-right" style="z-index:10;margin:2px;">
                                                                <i title="Edit to menu" onclick="EditChildMenu('@item.MenuId','@itemChild.Id','@itemChild.Name','@itemChild.Href')" class="glyphicon glyphicon-edit"></i>
                                                                <i title="Remove to menu" class="glyphicon glyphicon-remove-circle" onclick="ConfirmDeleteChild('@item.MenuId','@itemChild.Id')"></i>
                                                            </span>
                                                        </div>
                                                    }
                                                </div>
                                            </div>
                                        }
                                    </div>
                                </div>
                                <div class="panel-footer">
                                    <div class="row2">
                                        <button type="button" class="btn btn-space btn-primary btn-rc-sm" onclick="SaveDragMenu()"><i class="icon s7-diskette"></i> Save</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-8 col-xs-12">
                            <div class="panel">
                                <iframe id="preview-Iframe" src="@Url.Content("~/Admin/PreViewMenu?id=")+@(lstId)" width="100%" height="400"></iframe>
                            </div>
                        </div>
                    </div>
                    <hr style="clear:both" />
                    <div id="content-Preview">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>