@using SBS_Ecommerce.Models.Base;
@using SBS_Ecommerce.Models;
@{
    ViewBag.Title = "Menu Manager";
    Layout = "~/Views/Admin/_LayoutAdmin.cshtml";
    //var lstMenu = (List<Menu>)ViewBag.LstMenu;
    var lstMenu = (List<ConfigMenu>)ViewBag.LstMenu;
    var lstId = "";
    //foreach (var item in lstMenu)
    //{
    //    if (item != lstMenu.Last())
    //    {
    //        lstId = lstId + item.ID + '_';
    //    }
    //    else
    //    {
    //        lstId = lstId + item.ID;
    //    }
    //}
    foreach (var item in lstMenu)
    {
        if (item != lstMenu.Last())
        {
            lstId = lstId + item.MenuId + '_';
        }
        else
        {
            lstId = lstId + item.MenuId;
        }
    }
    var msg = ViewBag.Message;
    var textMsg = ViewBag.TextMessage;
    var lstPage = (ViewBag.Pages != null ? (List<SBS_Ecommerce.Models.Page>)ViewBag.Pages : null);
}

<link href="~/Content/Admin/css/menumanager.css" rel="stylesheet" />
<script src="~/Content/Admin/js/app-menu-manager.js"></script>
<!-- Modal -->
<div id="successModal" class="modal fade" role="dialog">
    <div class="modal-dialog" style="left: auto;">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="alert alert-success">
                    <strong>Success!</strong> <span id="contentAlert"> Front end website has been created menu.</span>
                </div>
            </div>
        </div>

    </div>
</div>

<div id="errorModal" class="modal fade" role="dialog">
    <div class="modal-dialog" style="left: auto;">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="alert alert-danger">
                    <strong>Error!</strong> <span id="contentAlert">Url and Label can not null.</span>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="addChildMenuModal" class="modal fade" role="dialog">
    <div class="modal-dialog" style="left: auto;">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h3>Add child to Menu</h3>
            </div>
            <div class="custom-item">
                <span>Label: &nbsp;</span><input id="txtChildLabel" placeholder="Child Menu" type="text" style="padding:5px 10px" />
                <div style="margin-left:41px;">
                    <span class="error" id="txtErrorChildLabel">The Label is required.</span>
                </div>
            </div>

            <div style="padding:15px 42px" class="am-radio inline">
                <input class="rd-option-child" type="radio" checked name="rad-child" id="rad-child-3">
                <label for="rad-child-3">Custom links</label>
                <input class="rd-option-child" type="radio" name="rad-child" id="rad-child-2">
                <label for="rad-child-2">Pages</label>
            </div>

            <div class="custom-item select-customlinks-child" style="margin-left: 14px;">
                <span>Url: &nbsp;</span><input id="txtChildUrl" placeholder="http://" type="text" style="padding:5px 10px" />
                <div class="div-error">
                    <span class="error" id="txtErrorChildUrl">The Url is required.</span>
                </div>
            </div>

            @if (lstPage != null)
            {
                <div style="padding-left:5px;" class="slect-page-child" hidden>
                    <label class="control-label-left" style="width: 40px;"> Page:</label>
                    <select id="input-page-child" type="" style="padding:5px 10px">

                        @foreach (var item in lstPage)
                        {
                            <option value="@item.Name">@item.Name</option>
                        }

                    </select>
                </div>
            }

            <div class="footer-html">
                <input type="button" value="Cancel" class="btn btn-default" data-dismiss="modal" style="margin-top:10px" />
                <input class="btn btn-success btn-ok" value="Save" type="button" onclick="AddChildMenu()" style="margin-top:10px">
            </div>
        </div>
    </div>
</div>

<div id="editMenuModal" class="modal fade colored-header" role="dialog">
    <div class="modal-dialog" style="left: auto;">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h3>Edit to Menu</h3>
            </div>
            <div class="panel-body">
                @*<div class="row">
                    <span>Menu Name: &nbsp;</span><input id="txtLabel" type="text" style="padding:5px 10px" />
                    <div style="margin-left:41px;">
                        <span class="error" id="error-label-edit-menu">The Menu Name is required</span>
                    </div>
                </div>
                <div class="row" style="margin-left: 14px;">
                    <span>Url: &nbsp;</span><input id="txtUrl" type="text" style="padding:5px 10px" />
                    <div style="margin-left:28px;">
                        <span class="error" id="error-url-edit-menu">The Url is required</span>
                    </div>
                </div>*@
                <div class="panel-body">
                    <div class="row">
                        <label class="control-label-left"> Menu Name:</label>
                        <input id="txtLabel" class="form-control" placeholder="Menu Item" style="padding:5px 10px" />
                        <div>
                            <span id="error-label-edit-menu" class="error">The Menu Name is required</span>
                        </div>
                    </div>
                    <div class="row">
                        <div style="padding:15px 0" class="am-radio inline">
                            <input class="rd-option" type="radio" checked name="rad2" id="rad4">
                            <label for="rad4" class="control-label-left">Pages</label>
                            <input class="rd-option" type="radio" name="rad2" id="rad5">
                            <label for="rad5">Custom links</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="edit-select-customlinks" hidden>
                            <label class="control-label-left"> Url:</label>
                            <input id="txtUrl" placeholder="http://" class="form-control" />
                            <div>
                                <span id="error-url-edit-menu" class="error">The Url is required</span>
                            </div>
                        </div>
                        @if (lstPage != null)
                        {
                            <div class="edit-slect-page">
                                <label class="control-label-left"> Page:</label>
                                <select id="edit-page" style="padding:5px 10px">
                                    @foreach (var item in lstPage)
                                    {
                                        <option value="@item.Name">@item.Name</option>
                                    }
                                </select>
                            </div>
                        }
                    </div>
                </div>
            </div>                    
            <div class="footer-html">
                <input type="button" value="Cancel" class="btn btn-default" data-dismiss="modal" style="margin-top:10px" />
                <input class="btn btn-success btn-ok" value="Save" type="button" onclick="SaveEditMenu()" style="margin-top:10px">
            </div>
        </div>

    </div>
</div>

<div id="editChildMenuModal" class="modal fade" role="dialog">
    <div class="modal-dialog" style="left: auto;">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h3>Edit to Child Menu</h3>
            </div>
            <div class="custom-item" style="margin-left: 14px;">
                <span>Url: &nbsp;</span><input id="txtChildUrl-Modal" type="text" style="padding:5px 10px" />
                <div class="div-error">
                    <span class="error" id="txteditErrorChildUrl">The Url is required.</span>
                </div>
            </div>
            <div class="custom-item">
                <span>Label: &nbsp;</span><input id="txtChildLabel-Modal" type="text" style="padding:5px 10px" />
                <div style="margin-left:41px;">
                    <span class="error" id="txteditErrorChildLabel">The Label is required.</span>
                </div>
            </div>
            <div class="footer-html">
                <input type="button" value="Cancel" class="btn btn-default" data-dismiss="modal" style="margin-top:10px" />
                <input class="btn btn-success btn-ok" value="Save" type="button" onclick="SaveEditChildMenu()" style="margin-top:10px">
            </div>
        </div>

    </div>
</div>

<div class="modal fade" id="confirm-menu" data-id="" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="left:auto">
        <div class="modal-content">
            <div class="modal-header">
                Are you sure delete this menu?
            </div>
            <div class="footer-html">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button class="btn btn-danger btn-ok" onclick="DeleteMenu($('#confirm-menu').attr('data-id'))">Delete</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="confirm-child-menu" data-id="" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="left:auto">
        <div class="modal-content">
            <div class="modal-header">
                Are you sure delete this child menu?
            </div>
            <div class="footer-html">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button class="btn btn-danger btn-ok" onclick="DeleteChildMenu()">Delete</button>
            </div>
        </div>
    </div>
</div>

<div class="main-content">
    @if (!string.IsNullOrEmpty(msg) && !string.IsNullOrEmpty(textMsg))
    {
        if (msg == "1")
        {
            <div role="alert" style="margin:15px;" class="alert alert-sucfcess alert-dismissible">
                <button type="button" data-dismiss="alert" aria-label="Close" class="close"><span aria-hidden="true" class="s7-close"></span></button><span id="alert-msg-success">@textMsg</span>
            </div>
        }
    }
    <!--+general-chart("classes", "title", "height", "id", "counter value", "counter desc", tools enabled (use true or false))-->
    <div class="row2">
        <div class="col-md-12">
            <div class="panel panel-dark">
                <div class="panel-heading"><h3><a href="#" class="btn btn-primary am-toggle-left-sidebar"><i class="icon s7-menu"></i></a> @ViewBag.Title</h3> </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row2">
                        <div class="col-md-4 col-xs-12">
                            <div class="panel panel-dark panel-borders dark">
                                <div class="panel-heading">
                                    <h3><i class="icon s7-global"></i> New Menu</h3>
                                </div>
                                <div class="panel-body">
                                    <div class="row">
                                        <label class="control-label-left"> Menu Name:</label>
                                        <input id="input-label" class="form-control" placeholder="Menu Item" style="padding:5px 10px" />
                                        <div>
                                            <span id="error-menu-label" class="error">The Menu Name is required</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div style="padding:15px 0" class="am-radio inline">                                            
                                            <input class="rd-option" type="radio" checked name="rad1" id="rad2">
                                            <label for="rad2" class="control-label-left">Pages</label>
                                            <input class="rd-option" type="radio" name="rad1" id="rad3">
                                            <label for="rad3">Custom links</label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="select-customlinks" hidden>
                                            <label class="control-label-left"> Url:</label>
                                            <input id="input-url" placeholder="http://" class="form-control" />
                                            <div>
                                                <span id="error-menu-url" class="error">The Url is required</span>
                                            </div>
                                        </div>
                                        @if (lstPage != null)
                                        {
                                            <div class="slect-page">
                                                <label class="control-label-left"> Page:</label>
                                                <select id="input-page" style="padding:5px 10px">

                                                    @foreach (var item in lstPage)
                                                    {
                                                        <option value="@item.Name">@item.Name</option>
                                                    }
                                                </select>
                                            </div>
                                        }
                                    </div>
                                </div>
                                <div class="">
                                    <input type="button" class="btn btn-success btn-rc-sm" value="Add to Menu" onclick="AddMenu()" />
                                </div>
                            </div>
                            <div class="panel panel-dark panel-borders dark">
                                <div class="panel-heading">
                                    <h3><i class="icon s7-angle-right-circle"></i> Side Menu</h3>
                                </div>
                                <div class="">
                                    <div class="column" id="Colum-Layout">
                                        <!--Old source-->
                                        @*@foreach (var item in lstMenu)
                                        {
                                            <div class="dragbox" id="@("item" + (item.ID))">

                                                <h2><i class="itemtoggle glyphicon glyphicon-menu-up"></i> @item.Name  <span class="float-right" style="z-index:10"><i title="Add child menu" onclick="AddChildMenuConfirm('@item.ID')" class="glyphicon glyphicon-plus-sign"></i> <i title="Edit to menu" onclick="EditHTML('@item.ID','@item.Name','@item.Href')" class="glyphicon glyphicon-edit"></i> <i title="Remove to menu" class="glyphicon glyphicon-remove-circle" onclick="ConfirmDeactive('@item.ID')"></i></span></h2>
                                                <div class="descrip-widget">
                                                    <div>Drag and Drop to reorder your @item.Name Menu</div>
                                                    @foreach (var itemChild in item.LstChildMenu)
                                                    {
                                                        <div class="child-item">@itemChild.Name <span class="float-right" style="z-index:10;margin:2px;"><i title="Edit to menu" onclick="EditChildMenu('@item.ID','@itemChild.ID','@itemChild.Name','@itemChild.Href')" class="glyphicon glyphicon-edit"></i> <i title="Remove to menu" class="glyphicon glyphicon-remove-circle" onclick="ConfirmDeleteChild('@item.ID','@itemChild.ID')"></i></span></div>
                                                    }
                                                </div>
                                            </div>
                                        }*@
                                        @foreach (var item in lstMenu)
                                        {
                                            <div class="dragbox row" id="@("item" + (item.MenuId))">
                                                <h2><i class="itemtoggle glyphicon glyphicon-menu-up"></i> @item.Name  
                                                    <span class="float-right" style="z-index:10">
                                                        <i title="Add child menu" onclick="AddChildMenuConfirm('@item.MenuId')" class="glyphicon glyphicon-plus-sign"></i> 
                                                        <i title="Edit to menu" onclick="EditHTML('@item.MenuId','@item.Name','@item.Href')" class="glyphicon glyphicon-edit"></i> 
                                                        <i title="Remove to menu" class="glyphicon glyphicon-remove-circle" onclick="ConfirmDeactive('@item.MenuId')"></i>
                                                    </span>
                                                </h2>
                                                <div class="descrip-widget">
                                                    <div>Drag and Drop to reorder your @item.Name Menu</div>
                                                    @foreach (var itemChild in item.ConfigChildMenus)
                                                    {
                                                        <div class="child-item">
                                                        @itemChild.Name
                                                            <span class="float-right" style="z-index:10;margin:2px;">
                                                                <i title="Edit to menu" onclick="EditChildMenu('@item.MenuId','@itemChild.Id','@itemChild.Name','@itemChild.Href')" class="glyphicon glyphicon-edit"></i>
                                                                <i title="Remove to menu" class="glyphicon glyphicon-remove-circle" onclick="ConfirmDeleteChild('@item.MenuId','@itemChild.Id')"></i>
                                                            </span>
                                                        </div>
                                                    }
                                                </div>
                                            </div>
                                        }
                                    </div>
                                </div>
                                <div class="">
                                    <div class="row2">
                                        <button type="button" class="btn btn-success btn-rc-sm" onclick="SaveDragMenu()"><i class="icon s7-diskette"></i> Save</button>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-8 col-xs-12" style="padding-left: 25px;">
                            <iframe id="preview-Iframe" src="@Url.Content("~/Admin/PreViewMenu?id=")+@(lstId)" width="100%" height="400"></iframe>
                        </div>
                    </div>
                    <hr style="clear:both;" />
                    <div id="content-Preview">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>