@using SBS_Ecommerce.Framework.Configurations;
@using SBS_Ecommerce.Models.Extension;
@using SBS_Ecommerce.Models;
@{
    ViewBag.Title = "Order Detail";
    Layout = "~/Views/Admin/_LayoutAdmin.cshtml";
    var domain = SBSConstants.Domain;
    Order detail = ViewBag.Order;
    UserAddress billingAddress = ViewBag.BillingAddress;
    UserAddress shippingAddress = ViewBag.ShippingAddress;
}
<script src="~/Content/Admin/js/app-order-manager.js"></script>

<div class="main-content">
    <div class="row2">
        <div class="page-head">
            <h2>Order Detail</h2>
            <ol class="breadcrumb">
                <li><a href="@Url.Action("ThemeManager", "Admin")">Home</a></li>
                <li><a href="@Url.Action("Orders", "Admin")">Orders</a></li>
                <li class="active">Order Detail</li>
            </ol>
        </div>
    </div>

    <!--Main Information-->
    <div class="row2">
        <div class="col-md-12">
            <div class="col-md-4">
                <div class="panel panel-dark">
                    <div class="panel-heading">
                        <h3><a href="#" class="btn btn-primary am-toggle-left-sidebar"><i class="icon s7-menu"></i></a> Order Information</h3>
                    </div>
                    <div class="panel-body">
                        <div class="col-md-12">
                            <div class="row2">
                                <div class="container-fluid">
                                    <p>
                                        <label>Order Date: </label>
                                        <span><strong>@detail.CreatedAt</strong></span>
                                    </p>
                                    <p>
                                        <label>Order Status: </label>
                                        @switch (detail.OrderStatus)
                                        {
                                            case (int)OrderStatus.Delivering:
                                                <span><strong>@OrderStatus.Delivering.ToString()</strong></span>
                                                break;
                                            case (int)OrderStatus.Processing:
                                                <span><strong>@OrderStatus.Processing.ToString()</strong></span>
                                                break;
                                            case (int)OrderStatus.Completed:
                                                <span><strong>@OrderStatus.Completed.ToString()</strong></span>
                                                break;
                                            case (int)OrderStatus.Cancelled:
                                                <span><strong>@OrderStatus.Cancelled.ToString()</strong></span>
                                                break;
                                        }
                                    </p>
                                    @if (billingAddress == null && shippingAddress == null)
                                    {
                                        <p>
                                            <span><strong>Local pick up</strong></span>
                                        </p>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-dark">
                    <div class="panel-heading">
                        <h3>Payment Information</h3>
                    </div>
                    <div class="panel-body">
                        <div class="col-md-12">
                            <div class="row2">
                                <div class="container-fluid">
                                    <p>
                                        <label>Payment Method: </label>
                                        <span><strong>@detail.Payment.Name</strong></span>
                                    </p>
                                    <p>
                                        <label>Shipping Fee: </label>
                                        <span><strong>@detail.ShippingFee</strong></span>
                                    </p>
                                    <p>
                                        <label>Currency: </label>
                                        <span><strong>@detail.Currency</strong></span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-dark">
                    <div class="panel-heading">
                        <h3>Account Information</h3>
                    </div>
                    <div class="panel-body">
                        <div class="col-md-12">
                            <div class="row2">
                                <div class="container-fluid">
                                    <p>
                                        <label>Consumer Name: </label>
                                        @if (string.IsNullOrEmpty(detail.User.FirstName) && string.IsNullOrEmpty(detail.User.LastName))
                                        {
                                            <span><strong>@detail.User.Email</strong></span>
                                        }
                                        else
                                        {
                                            <span><strong>@(detail.User.FirstName + @SBSConstants.Space + detail.User.LastName)</strong></span>
                                        }
                                    </p>
                                    <p>
                                        <label>Email: </label>
                                        <span><strong>@detail.User.Email</strong></span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Addreses Information-->
    </div>
    <div class="row2">
        <div class="col-sm-12">
            <div style="height:32px;"></div>
        </div>
    </div>
    <div class="row2">
        <div class="col-md-12">
            @if (billingAddress != null)
            {
                <div class="col-md-6">
                    <div class="panel panel-dark">
                        <div class="panel-heading">
                            <h3>Billing Address</h3>
                        </div>
                        <div class="panel-body">
                            <div class="col-md-6" style="padding-left: 0">
                                <div class="col-md-12">
                                    <div class="row2">
                                        <div class="container-fluid">
                                            <p>
                                                <label>Consumer Name: </label>
                                                <span><strong>@(billingAddress.ReceiverFirstName + SBSConstants.Space + billingAddress.ReceiverLastName)</strong></span>
                                            </p>
                                            <p>
                                                <label>Address: </label>
                                                <span><strong>@billingAddress.Address</strong></span>
                                            </p>
                                            <p>
                                                <label>Ward: </label>
                                                <span><strong>@billingAddress.Ward</strong></span>
                                            </p>
                                            <p>
                                                <label>District: </label>
                                                <span><strong>@billingAddress.District</strong></span>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6" style="padding-left: 0">
                                <div class="col-md-12">
                                    <div class="row2">
                                        <div class="container-fluid">
                                            <p>
                                                <label>City: </label>
                                                <span><strong>@billingAddress.City</strong></span>
                                            </p>
                                            <p>
                                                <label>Country: </label>
                                                <span><strong>@billingAddress.Country</strong></span>
                                            </p>
                                            <p>
                                                <label>Phone: </label>
                                                <span><strong>@billingAddress.Phone</strong></span>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }

            @if (shippingAddress != null)
            {
                <div class="col-md-6">
                    <div class="panel panel-dark">
                        <div class="panel-heading">
                            <h3>Shipping Address</h3>
                        </div>
                        <div class="panel-body">
                            <div class="col-md-6" style="padding-left: 0">
                                <div class="col-md-12">
                                    <div class="row2">
                                        <div class="container-fluid">
                                            <p>
                                                <label>Consumer Name: </label>
                                                <span><strong>@(shippingAddress.ReceiverFirstName + SBSConstants.Space + shippingAddress.ReceiverLastName)</strong></span>
                                            </p>
                                            <p>
                                                <label>Address: </label>
                                                <span><strong>@shippingAddress.Address</strong></span>
                                            </p>
                                            <p>
                                                <label>Ward: </label>
                                                <span><strong>@shippingAddress.Ward</strong></span>
                                            </p>
                                            <p>
                                                <label>District: </label>
                                                <span><strong>@shippingAddress.District</strong></span>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6" style="padding-left: 0">
                                <div class="col-md-12">
                                    <div class="row2">
                                        <div class="container-fluid">
                                            <p>
                                                <label>City: </label>
                                                <span><strong>@shippingAddress.City</strong></span>
                                            </p>
                                            <p>
                                                <label>Country: </label>
                                                <span><strong>@shippingAddress.Country</strong></span>
                                            </p>
                                            <p>
                                                <label>Phone: </label>
                                                <span><strong>@shippingAddress.Phone</strong></span>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }

        </div>
    </div>
    <div class="row2">
        <div class="col-sm-12">
            <div style="height:32px;"></div>
        </div>
    </div>

    <div class="row2">
        <div class="col-sm-12">
            <div class="widget widget-fullwidth widget-small">
                <table id="" class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>Image</th>
                            <th>Desciption</th>
                            <th>Qty</th>
                            <th>Price</th>
                            <th>Amount</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in detail.OrderDetails)
            {
                            <tr>
                                <td><img src="@(domain + item.ProductImg)" height="120" /></td>
                                <td>
                                    <strong>@item.ProductName</strong>
                                </td>
                                <td>@item.Quantity</td>
                                <td>@item.Price</td>
                                <td>
                                    @if (item.Amount == 0)
                                    {
                                        @(item.Price * item.Quantity);
                                    }
                                    else
                                    {
                                        @item.Amount
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>

                @switch (detail.OrderStatus)
                {
                case (int)OrderStatus.Reserved:
                        <button class="btn btn-space btn-success" onclick="updateStatus('@detail.OrderId')">Update to Processing</button>
                        break;
                    case (int)OrderStatus.Processing:
                        <button class="btn btn-space btn-success" onclick="updateStatus('@detail.OrderId')">Update to Delivering</button>
                        break;
                    case (int)OrderStatus.Delivering:
                        <button class="btn btn-space btn-success" onclick="updateStatus('@detail.OrderId')">Update to Complete</button>
                        break;
                }
            </div>
        </div>
    </div>
</div>