@using SBS_Ecommerce.Models;
@using SBS_Ecommerce.Framework;
@{
    ViewBag.Title = "Orders";
    Layout = "~/Views/Admin/_LayoutAdmin.cshtml";
    List<Order> pendingOrders = ViewBag.PendingOrders;
    List<Order> processingOrders = ViewBag.ProcessingOrders;
    List<Order> completeOrders = ViewBag.CompleteOrders;
    List<Order> canceledOrders = ViewBag.CancelOrders;
}
<script src="~/Content/Admin/js/order-management.js"></script>
<div id="order-manage">

    <div class="col-md-12">
        <br /><br />
        <div class="filter">
            <form class="filter-content" method="get">
                <div class="filter-wrapper">
                    <div class="filter-status">
                        <label>Status:</label>
                        @*Cho thằng này display none khi load page*@
                        <select id="filter-status" name="filter-status">
                            <option>Pending</option>
                            <option>Approved</option>
                            <option>Waiting</option>
                        </select>
                    </div>
                    <div class="filter-date">
                        <label>Date:</label>
                        <select id="filter-date" name="filter-date">
                            <option>ALL Dates</option>
                            <option>Newest</option>
                            <option>Oldest</option>
                            @*Sửa thành Specific day*@
                            <option>Special day</option>
                        </select>
                    </div>
                    @*Sửa tên class Specific day*@
                    <div class="special-day">
                        @*đặt tên class theo naming convention. ex: date-from*@
                        <div class="dateFromWrapper">
                            <div style="float: left; width: auto">
                                <label>Date From: </label>
                            </div>
                            @*đặt tên id theo naming convention. ex: date-from*@
                            <div class="input-group date" id="datefrom">
                                <input type="text">
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </div>
                        <div class="dateToWrapper">
                            <div style="float: left; width: auto">
                                <label>Date To: </label>
                            </div>
                            <div class="input-group date" id="dateto">
                                <input type="text">
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div style="width: auto; float: left">
                        <button class="btn btn-success">Filter</button>
                    </div>
                </div>
            </form>
        </div>
        <br />
        <ul class="nav nav-tabs" role="tablist" style="width: 100%; overflow: hidden;">
            <li role="presentation" class="active"><a href="#pending" role="tab" data-toggle="tab" data-id="10" onclick="onTabChange(this)">Pending</a></li>
            <li role="presentation"><a href="#processing" role="tab" data-toggle="tab" data-id="20" onclick="onTabChange(this)">Processing</a></li>
            <li role="presentation"><a href="#completed" role="tab" data-toggle="tab" data-id="30" onclick="onTabChange(this)">Completed</a></li>
            <li role="presentation"><a href="#canceled" role="tab" data-toggle="tab" data-id="40" onclick="onTabChange(this)">Canceled</a></li>
        </ul>

        @*move css qua file nhé*@
        <div class="tab-content" style="width: 100%; float:left">
            <div role="tabpanel" class="tab-pane fade in active" id="pending">
                <div class="row">
                    <div class="panel-body">
                        @if (!pendingOrders.IsNullOrEmpty())
                        {
                            <table id="cart_summary" class="cart_summery col-md-12 table-striped table">
                                <thead>
                                    <tr>
                                        <th class="cart_product" style="width:20%">Id</th>
                                        <th class="order_date" style="width:20%">Submit Date</th>
                                        <th class="order_date" style="width:20%">Num of Products</th>
                                        <th class="order_total" style="width:20%">Total Amount</th>
                                        <th class="order_note" style="width:20%">Note</th>
                                    </tr>
                                </thead>
                                <tbody>

                                    @foreach (var item in pendingOrders)
                                    {
                                        <tr data-id="@item.OderId" data-toggle="modal" class="clickable-row">
                                            <td class="cart_product_content">@item.OderId</td>
                                            <td class="order_date">@item.CreatedAt</td>
                                            <td class="order_date">@item.CountProduct</td>
                                            <td class="order_total">@item.TotalAmount</td>
                                            <td class="order_note"></td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        }
                        else
                        {
                            <h5>Have no Orders yet.</h5>
                        }
                    </div>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane fade" id="processing">
                <div class="row">
                    <div class="panel-body">
                        @if (!processingOrders.IsNullOrEmpty())
                        {
                            <table id="cart_summary" class="cart_summery col-md-12 table-striped table">
                                <thead>
                                    <tr>
                                        <th class="cart_product" style="width:20%">Id</th>
                                        <th class="order_date" style="width:20%">Submit Date</th>
                                        <th class="order_date" style="width:20%">Num of Products</th>
                                        <th class="order_total" style="width:20%">Total Amount</th>
                                        <th class="order_note" style="width:20%">Note</th>
                                    </tr>
                                </thead>
                                <tbody>

                                    @foreach (var item in processingOrders)
                                    {
                                        <tr data-id="@item.OderId" data-toggle="modal" class="clickable-row">
                                            <td class="cart_product_content">@item.OderId</td>
                                            <td class="order_date">@item.CreatedAt</td>
                                            <td class="order_date">@item.CountProduct</td>
                                            <td class="order_total">@item.TotalAmount</td>
                                            <td class="order_note"></td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        }
                        else
                        {
                            <h5>Have no Orders yet.</h5>
                        }
                    </div>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane fade" id="completed">
                <div class="row">
                    <div class="panel-body">
                        @if (!completeOrders.IsNullOrEmpty())
                        {
                            <table id="cart_summary" class="cart_summery col-md-12 table-striped table">
                                <thead>
                                    <tr>
                                        <th class="cart_product" style="width:20%">Id</th>
                                        <th class="order_date" style="width:20%">Submit Date</th>
                                        <th class="order_date" style="width:20%">Num of Products</th>
                                        <th class="order_total" style="width:20%">Total Amount</th>
                                        <th class="order_note" style="width:20%">Note</th>
                                    </tr>
                                </thead>
                                <tbody>

                                    @foreach (var item in completeOrders)
                                    {
                                        <tr data-id="@item.OderId" data-toggle="modal" class="clickable-row">
                                            <td class="cart_product_content">@item.OderId</td>
                                            <td class="order_date">@item.CreatedAt</td>
                                            <td class="order_date">@item.CountProduct</td>
                                            <td class="order_total">@item.TotalAmount</td>
                                            <td class="order_note"></td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        }
                        else
                        {
                            <h5>Have no Orders yet.</h5>
                        }
                    </div>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane fade" id="canceled">
                <div class="row">
                    <div class="panel-body">
                        @if (!canceledOrders.IsNullOrEmpty())
                        {
                            <table id="cart_summary" class="cart_summery col-md-12 table-striped table">
                                <thead>
                                    <tr>
                                        <th class="cart_product" style="width:20%">Id</th>
                                        <th class="order_date" style="width:20%">Submit Date</th>
                                        <th class="order_date" style="width:20%">Num of Products</th>
                                        <th class="order_total" style="width:20%">Total Amount</th>
                                        <th class="order_note" style="width:20%">Note</th>
                                    </tr>
                                </thead>
                                <tbody>

                                    @foreach (var item in canceledOrders)
                                    {
                                        <tr data-id="@item.OderId" data-toggle="modal" class="clickable-row">
                                            <td class="cart_product_content">@item.OderId</td>
                                            <td class="order_date">@item.CreatedAt</td>
                                            <td class="order_date">@item.CountProduct</td>
                                            <td class="order_total">@item.TotalAmount</td>
                                            <td class="order_note"></td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        }
                        else
                        {
                            <h5>Have no Orders yet.</h5>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="orderDetailModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg" style="left: auto;">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h3>Order Detail</h3>
            </div>
            <div class="modal-body" style="padding: 0 10px 30px">
                <div class="content-block">
                </div>
                <br />
                @*<button id="processBtn" class="btn-success btn">PROCESS</button>*@
            </div>
        </div>
    </div>
</div>
