@model List<SBS_Ecommerce.Models.Page>
@{
    ViewBag.Title = "Page Manager";
    Layout = "~/Views/Admin/_LayoutAdmin.cshtml";
}

<link href="~/Content/Admin/css/pagemanager.css" rel="stylesheet" />
<script src="~/Content/ckeditor/ckeditor.js"></script>
<!-- Modal -->
<div id="successModal" class="modal fade" role="dialog">
    <div class="modal-dialog" style="left: auto;">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="alert alert-success">
                    <strong>Success!</strong> <span id="contentAlert">Layout successful change</span>
                </div>
            </div>
        </div>

    </div>
</div>

<div class="modal fade" id="confirm-delete" data-id="" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="left:auto">
        <div class="modal-content">
            <div class="modal-header">
                Are you sure delete this Page?
            </div>
            <div class="footer-html">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button class="btn btn-danger btn-ok" onclick="DeletePage($('#confirm-delete').attr('data-id'))">Delete</button>
            </div>
        </div>
    </div>
</div>

<div id="addPageModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg" style="left: auto;">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h3>Add Page</h3>
            </div>
            <div class="titleHTML">
                <span>Title &nbsp;</span><input id="txtTitleHTML" type="text" />
                <span class="erorr" id="errorTitle">Title cannot null.</span>
            </div>
            <div style="padding-left: 18px;padding-top: 10px;">
                <span>Using Layout &nbsp;</span>
                <input type="checkbox" id="checkLayout" />
            </div>
            <div class="modal-body pointer">
                <textarea name="txtHTML" id="txtHTML" style="width:100%;height:250px;"></textarea>
            </div>
            <div class="footer-html">
                <input type="button" value="Cancel" class="btn btn-default" data-dismiss="modal" style="margin-top:10px" />
                <input class="btn btn-success btn-ok" value="Save" type="button" onclick="SavePage()" style="margin-top:10px">
            </div>
        </div>
    </div>
</div>

<div id="preBlockModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg" style="left: auto;">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h3>Preview Block</h3>
            </div>
            <div class="content-block">
            </div>
        </div>
    </div>
</div>

<div class="main-content">
    <!--+general-chart("classes", "title", "height", "id", "counter value", "counter desc", tools enabled (use true or false))-->
    <div class="content-blockmanager">
        <div class="install-theme">
            <input onclick="ConfirmAddPage()" class="btn btn-success" type="button" value="Create Page" />
            @*<input value="Upload" class="clr-btn-success" type="button"  style="margin-top:10px;text-align:right">*@
        </div>
        <table class="table table-striped table-hover table-fw-widget dataTable no-footer">
            <thead>
                <tr>
                    <th style="width:10%">Id</th>
                    <th style="width:30%">Name</th>
                    <th style="width:30%">Link Page</th>
                    <th style="width:30%">Operator</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @item.ID
                        </td>
                        <td>
                            @item.Name
                        </td>
                        <td>
                            <a href="@Url.Content("~/Pages/Index/")@item.ID">/Pages/Index/@item.ID</a>
                        </td>
                        <td>
                            <input value="Edit" type="button" class="btn btn-success" onclick="ConfirmEditBlock('@item.ID')" />
                            <input value="Delete" type="button" class="btn btn-danger" onclick="ConfirmDelete(@item.ID)" />
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

</div>
<script>
    $('#successModal').on('click', function () {
        window.location.reload();
    });

    $(function () {
        CKEDITOR.replace('txtHTML');
        $("table").dataTable();
    });

    function ConfirmAddPage() {
        $('#addPageModal').find('h3').text('Add Page');
        $('#addPageModal').find('#txtTitleHTML').val('');
        $('#addPageModal').find('#checkLayout').prop('checked',false);
        CKEDITOR.instances['txtHTML'].setData('');
        $('#addPageModal').attr('data-action', 'Add');
        $('#addPageModal').modal('show');
    }

    function ConfirmEditBlock(id) {
        $('#addPageModal').find('h3').text('Edit Block');
        $('#addPageModal').attr('data-action', 'Edit');
        $('#addPageModal').attr('data-id', id);
        $.ajax({
            url: '@Url.Content("~/Admin/GetContentPage")',
            data: { id: id },
            type: 'POST',
            success: function (rs) {
                CKEDITOR.instances['txtHTML'].setData(rs.Content);
                $('#addPageModal').find('#txtTitleHTML').val(rs.Title);
                $('#addPageModal').find('#checkLayout').prop('checked',rs.UsingLayout);
                $('#addPageModal').modal('show');
            }
        });
    }

    function SavePage() {
        var content = CKEDITOR.instances['txtHTML'].getData();
        if ($('#txtTitleHTML').val().trim() == '') {
            $('#errorTitle').show();
            return;
        }
        else {
            $('#errorTitle').hide();
        }

        if ($('#addPageModal').attr('data-action') == 'Add') {
            $.ajax({
                url: '@Url.Content("~/Admin/AddPage")',
                data: { content: content, title: $('#txtTitleHTML').val(),usingLayout:$('#addPageModal').find('#checkLayout').prop('checked') },
                type: 'POST',
                success: function (rs) {
                    $('#addPageModal').modal('hide');
                    $('#successModal').find('#contentAlert').text('Page has been created successfully.');
                    $('#successModal').modal('show');
                }

            });
        }
        else {
            $.ajax({
                url: '@Url.Content("~/Admin/EditPage")',
                data: { id: $('#addPageModal').attr('data-id'), content: content, title: $('#txtTitleHTML').val(),usingLayout:$('#addPageModal').find('#checkLayout').prop('checked') },
                type: 'POST',
                success: function (rs) {
                    $('#addPageModal').modal('hide');
                    $('#successModal').find('#contentAlert').text('Page has been updated successfully.');
                    $('#successModal').modal('show');
                }
            });
        }
    }

    function ConfirmDelete(id) {
        $('#confirm-delete').attr('data-id', id);
        $('#confirm-delete').modal('show');
    }

    function DeletePage(id) {
        $.ajax({
            url: '@Url.Content("~/Admin/DeletePage")',
            data: { id: id },
            type: 'POST',
            success: function (rs) {
                $('#confirm-delete').modal('hide');
                $('#successModal').find('#contentAlert').text('Page has been deleted successfully.');
                $('#successModal').modal('show');
            }

        });
    }

    function Preview(id) {
        $.ajax({
            url: '@Url.Content("~/Admin/GetContentBlock")',
            data: { id: id },
            type: 'POST',
            success: function (rs) {

                $('.content-block').html(rs.Content);
                $('#preBlockModal').modal('show');
            }
        });
    }

    $('span[onclick]').each(function () {
        $(this).data('onclick', this.onclick);

        this.onclick = function (event) {
            if ($(this).attr('id', 'cke_122_label')) { // HERE
                return false;
            };

            $(this).data('onclick').call(this, event || window.event);
        };
    });
</script>