@using SBS_Ecommerce.Framework.Configurations;
@model SBS_Ecommerce.Models.DTOs.Profile
@{
    Layout = "~/Views/Admin/_LayoutAdmin.cshtml";
}

<div class="main-content">
    <div class="user-profile">
        <div class="user-display">
            <div class="photo"><img src="@Url.Content("~/Content/Admin/img/profile.jpg")"></div>            
            <div class="bottom">
                <div class="user-avatar"><span class="status"></span><img src="@Url.Content("~/Content/Admin/img/avatar.jpg")"></div>
                <div class="user-info">
                    <h4>@(Model.First_Name + SBSConstants.Space + Model.Middle_Name + SBSConstants.Space + Model.Last_Name)</h4>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="info-block panel panel-default">
                    <div class="panel-heading">
                        <h4>About me</h4>
                    </div>
                    <div class="panel-body">
                        <table class="no-border no-strip skills">
                            <tbody class="no-border-x no-border-y">
                                <tr>
                                    <td class="item">Birthday:<span class="icon s7-gift"></span></td>
                                    <td>16 September 1989</td>
                                </tr>
                                <tr>
                                    <td class="item">Mobile:<span class="icon s7-phone"></span></td>
                                    <td>@Model.Phone</td>
                                </tr>
                                <tr>
                                    <td class="item">Location:<span class="icon s7-map-marker"></span></td>
                                    <td>@Model.Country</td>
                                </tr>
                                <tr>
                                    <td class="item">Website:<span class="icon s7-global"></span></td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="widget widget-calendar">
                    <div class="cal-container">
                        <div class="cal-notes">
                            <span class="day">Thursday</span><span class="date">September 24</span><span class="title">Notes<span class="icon s7-plus"></span></span>
                            <ul>
                                <li><span class="hour">14h</span><span class="event-name">Meeting with investors</span></li>
                                <li><span class="hour">8h</span><span class="event-name">Dentist date</span></li>
                            </ul>
                        </div>
                        <div class="cal-calendar">
                            <div class="ui-datepicker"></div>
                        </div>
                    </div>
                </div>
            </div>            
        </div>
    </div>
</div>