
@model List<SBS_Ecommerce.Models.ScheduleEmail>
@{
    ViewBag.Title = "Send Mail Manager";
    Layout = "~/Views/Admin/_LayoutAdmin.cshtml";
    int idMarketing = ViewBag.IDMarketing;
}

<style>
    .titleHTML {
        padding: 20px;
        padding-bottom: 0px;
    }

    #addCampaignModal .footer-html {
        text-align: right;
        padding: 20px;
    }

    .input-email {
        padding: 15px;
    }

    .select-email {
        padding: 0 15px 15px 15px;
    }

    .subject-email {
        padding: 0 15px 15px 15px;
    }

    .import-email {
        padding: 0 15px 15px 15px;
    }

    .input-schedule {
        display: none;
    }

    .error-email {
        text-align: right;
        color: red;
    }
</style>
<script src="@Url.Content("~/Content/ckeditor/ckeditor.js")"></script>
<script src="@Url.Content("~/Content/js/common.js")"></script>
<!-- Modal -->
<div id="successModal" class="modal fade" role="dialog">
    <div class="modal-dialog" style="left: auto;">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="alert alert-success">
                    <strong>Success!</strong> <span id="contentAlert">Layout successful change</span>.
                </div>
            </div>
        </div>

    </div>
</div>

<div class="modal fade" id="confirm-delete" data-id="" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="left:auto">
        <div class="modal-content">
            <div class="modal-header">
                Are you sure delete this Campaign?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button class="btn btn-danger btn-ok" onclick="DeleteCampaign($('#confirm-delete').attr('data-id'))">Delete</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="confirm-deactive" data-id="" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="left:auto">
        <div class="modal-content">
            <div class="modal-header">
                Are you sure change status this Campaign?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button class="btn btn-danger btn-ok" onclick="DeactiveCampaign($('#confirm-deactive').attr('data-id'))">Save</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="sendEmail" data-id="" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="left:auto">
        <div class="modal-content">
            <div class="modal-header">
                <h3>Send marketing email. </h3>
            </div>
            <div class="input-email">
                <label>Send to</label>
                <textarea type="text" id="txtEmail" name="txtEmail" style="width:100%;height:300px"></textarea>
                <div class="error-email"><span id="error-email">The address ""dasdasdsa.com"" in the "Send to" field was not recognized.</span></div>
            </div>
            <div class="subject-email">
                <div><label>Subject</label></div>
                <input type="text" id="txtSubjectEmail" style="width:100%" name="txtSubjectEmail" />
            </div>
            <div class="import-email">
                <input type="checkbox" id="checkbox-mailsystem"> <label for="checkbox-mailsystem">Import email from system</label>
            </div>
            <div class="select-email">
                <input type="checkbox" id="checkbox-schedule"> <label for="checkbox-schedule">Schedule to send</label>
                <div class="input-schedule">
                    <input id="datetimepicker2" data-format="MM/dd/yyyy HH:mm:ss" type="text" /><label for="datetimepicker2" style="font-size: 14px;padding-left: 5px;" class="glyphicon glyphicon-calendar"></label>
                    <script type="text/javascript">
                        $('#datetimepicker2').datetimepicker();
                    </script>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button class="btn btn-danger btn-ok" onclick="SendCampaignEmail($('#sendEmail').attr('data-id'))">Send</button>
            </div>
        </div>

    </div>
</div>


<div id="addCampaignModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg" style="left: auto;">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h3>Create Campaign</h3>
            </div>
            <div class="titleHTML">
                <div style="padding-bottom:5px;">Campaign Name&nbsp;</div>
                <input type="text" id="txtTitleHTML" name="txtTitleHTML" style="width:100%;"></input>
            </div>
            <div class="modal-body pointer">
                <textarea name="txtHTML" id="txtHTML" style="width:100%;height:250px;"></textarea>
            </div>
            <div class="footer-html">
                <input type="button" value="Cancel" class="btn btn-default" data-dismiss="modal" style="margin-top:10px" />
                <input class="btn btn-success btn-ok" value="Save" type="button" onclick="SaveCampaign()" style="margin-top:10px">
            </div>
        </div>
    </div>
</div>

<div class="main-content">
    <!--+general-chart("classes", "title", "height", "id", "counter value", "counter desc", tools enabled (use true or false))-->
    <h2>Scheduals</h2>
    <div class="text-right"><input type="button" class="btn btn-success btn-ok btn-layout btn-margin-right" value="Create Schedual" onclick="CreateSchedual('@idMarketing')" /></div>
    <div class="row">
        <table class="table table-striped table-hover table-fw-widget dataTable no-footer">
            <thead>
                <tr>
                    <th class="text-left" style="width:40%">Subject</th>
                    <th class="text-center" style="width:10%">Schedule</th>
                    <th class="text-center" style="width:10%">Status</th>
                    <th class="text-center" style="width:30%">Operator</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td class="text-left">@item.Subject</td>
                        <td class="text-center">@item.Schedule</td>
                        <td class="text-center">@((bool)item.Status ? "Complete" : "Pending")</td>
                        <td class="text-center">
                            <input value="Edit" type="button" class="btn btn-success" onclick="EditCampaign('@item.ID')" />
                            <input value="Delete" type="button" class="btn btn-danger" onclick="ConfirmDeleteCampaign('@item.ID')" />
                            @*@if (item.Status != null && (bool)item.Status)
                            {
                                <input value="Deactive" type="button" class="btn btn-danger" onclick="ConfirmDeactiveCampaign('@item.Id')" />
                            }
                            else
                            {
                                <input value="Active" type="button" class="btn btn-danger" onclick="ConfirmDeactiveCampaign('@item.Id')" />
                            }
                            <input value="Send mail" type="button" class="btn btn-success" onclick="SendMail('@item.Id')" />*@
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <hr style="clear:both;" />
    <div id="content-Preview">
    </div>
</div>

<script>
    $('#successModal').on('click', function () {
        window.location.reload();
    });

    $(function () {
        CKEDITOR.replace('txtHTML');
    });
    function CreateSchedual(id){
        $('#sendEmail').attr('data-id', id);
        $('#datetimepicker2').val('');
        $('#txtSubjectEmail').val('');
        $('#error-email').text('').hide();
        $('#txtEmail').css('border-color', 'rgb(169, 169, 169)');
        $('#txtEmail').val('');
        $('#sendEmail').modal('show');
    }
    function CreateCampaign() {
        $('#addCampaignModal').find('h3').text('Create Campaign');
        $('#addCampaignModal').find('#txtTitleHTML').val('');
        CKEDITOR.instances['txtHTML'].setData('');
        $('#addCampaignModal').attr('data-type', 'create');
        $('#addCampaignModal').modal('show');
    }

    function SaveCampaign() {
        var name = $('#addCampaignModal').find('#txtTitleHTML').val();
        var content = CKEDITOR.instances['txtHTML'].getData();
        if ($('#addCampaignModal').attr('data-type') == 'create') {
            $.ajax({
                url: '@Url.Action("CreateCampaign","Admin")',
                type: 'POST',
                data: { name: name, content: content },
                success: function (rs) {
                    $('#addCampaignModal').modal('hide');
                    $('#successModal').find('#contentAlert').text('Campaign successful added');
                    $('#successModal').modal('show');
                }

            });
        }
        else {
            $.ajax({
                url: '@Url.Action("EditCampaign", "Admin")',
                type: 'POST',
                data: { id: $('#addCampaignModal').attr('data-id'), name: name, content: content },
                success: function (rs) {
                    $('#addCampaignModal').modal('hide');
                    $('#successModal').find('#contentAlert').text('Campaign successful edited');
                    $('#successModal').modal('show');
                }

            });
        }
    }

    function EditCampaign(id) {
        //Get information of campaign
        $.ajax({
            url: '@Url.Action("GetCampaign","Admin")',
            data: { id: id },
            success: function (rs) {
                $('#addCampaignModal').find('h3').text('Edit Campaign');
                $('#addCampaignModal').find('#txtTitleHTML').val(rs.NameCampain);
                CKEDITOR.instances['txtHTML'].setData(rs.Content);
                $('#addCampaignModal').attr('data-type', 'edit');
                $('#addCampaignModal').attr('data-id', id);
                $('#addCampaignModal').modal('show');
            }

        });
    }

    function ConfirmDeleteCampaign(id) {
        $('#confirm-delete').attr('data-id', id);
        $('#confirm-delete').modal('show');
    }

    function DeleteCampaign(id) {
        $.ajax({
            url: '@Url.Action("DeleteCampaign", "Admin")',
            type: 'POST',
            data: { id: $('#confirm-delete').attr('data-id') },
            success: function (rs) {
                $('#confirm-delete').modal('hide');
                $('#successModal').find('#contentAlert').text('Campaign successful deleted');
                $('#successModal').modal('show');
            }

        });
    }

    function ConfirmDeactiveCampaign(id) {
        $('#confirm-deactive').attr('data-id', id);
        $('#confirm-deactive').modal('show');
    }

    function DeactiveCampaign(id) {
        $.ajax({
            url: '@Url.Action("ChangeStatusCampaign", "Admin")',
            type: 'POST',
            data: { id: $('#confirm-deactive').attr('data-id') },
            success: function (rs) {
                $('#confirm-deactive').modal('hide');
                $('#successModal').find('#contentAlert').text('Campaign successful edited');
                $('#successModal').modal('show');
            }

        });
    }


    $(document).on('click', '#checkbox-schedule', function () {
        var el = $(this).parent().find('.input-schedule');
        if ($(el).css('display') == 'none') {
            $(this).parent().find('.input-schedule').show();
        }
        else {
            $(this).parent().find('.input-schedule').hide();
        }

    });

    function SendCampaignEmail(id) {
        var lstEmail = [];
        lstEmail = $('#txtEmail').val().trim().split(/ |,|;|\n/g);

        for (var i = 0; i < lstEmail.length; i++) {
            if (!validateEmail(lstEmail[i]))
            {
                if (lstEmail[i] != "") {
                    $('#error-email').text('The address "' + lstEmail[i] + '" in the "Send to" field was not recognized.').show();
                    $('#txtEmail').css('border-color', 'red');
                }
                else {
                    $('#error-email').text('The address cannot null.').show();
                    $('#txtEmail').css('border-color', 'red');
                }
                return false;
            }
        }

        $('#error-email').text('').hide();
        $('#txtEmail').css('border-color', 'rgb(169, 169, 169)');

        $.ajax({
            url: '@Url.Action("SendMail", "Admin")',
            type: 'POST',
            data: { time: $('#datetimepicker2').val(), lstEmail: lstEmail, subject: $('#txtSubjectEmail').val(), id: id },
            success: function (rs) {
                $('#sendEmail').modal('hide');
                $('#successModal').find('#contentAlert').text('Send mail successfully');
                $('#successModal').modal('show');
            }

        });
    }

    $(document).on('click', '#checkbox-mailsystem', function () {
        if ($(this).prop('checked')) {
            $.ajax({
                url: '@Url.Action("GetEmailSystem", "Admin")',
                type: 'POST',
                data: { },
                success: function (rs) {
                    if (rs != "") {
                        if ($('#txtEmail').val().trim() == "") {
                            $('#txtEmail').val(rs.trim());
                        }
                        else {
                            $('#txtEmail').val($('#txtEmail').val() + rs);
                        }
                    }
                }

            });
        }
        else {
            $.ajax({
                url: '@Url.Action("GetEmailSystem", "Admin")',
                type: 'POST',
                data: {},
                success: function (rs) {
                    if (rs != "") {
                        if (rs.length > $('#txtEmail').val().length) {
                            $('#txtEmail').val($('#txtEmail').val().replace(rs.trim(), ''));
                        }
                        else {
                            $('#txtEmail').val($('#txtEmail').val().replace(rs, ''));
                        }
                    }
                }

            });
        }
    });

</script>
