@using SBS_Ecommerce.Framework;
@model List<SBS_Ecommerce.Models.SEO>

@{
    ViewBag.Title = "SEO Configuration";
    Layout = "~/Views/Admin/_LayoutAdmin.cshtml";

}
<script src="~/Content/Admin/js/app-seo.js"></script>
<div class="panel-body">
    <div class="install-theme">
        <button type="button" class="btn btn-space btn-success" onclick="showSEOModal()">Create SEO</button>
    </div>
    <br />
    <table id="seo-table" class="table table-striped table-bordered" cellspacing="0">
        <thead>
            <tr>
                <th>Title</th>
                <th>Url</th>
                <th>Keywords</th>
                <th>Description</th>
                <th>Option</th>
            </tr>
        </thead>
        @if (!Model.IsNullOrEmpty())
            {
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Title</td>
                        <td>@item.Url</td>
                        <td>@item.Keywords</td>
                        <td>@item.Description</td>
                        <td>
                            <button type="button" class="btn btn-space btn-success btn-sm" onclick="openEdit(@item.Id)">
                                <i class="icon s7-pen"></i>
                            </button>
                            <button data-id="@item.Id" type="button" class="btn btn-space btn-primary btn-sm" onclick="showConfirm(@item.Id)">
                                <i class="icon s7-close"></i>
                            </button>
                        </td>
                    </tr>
                }
            </tbody>
        }
    </table>
</div>

<!-- Modal -->
<div id="form-seo" tabindex="-1" role="dialog" class="modal fade colored-header">
    <div class="modal-dialog custom-width">
        <div class="modal-content">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                <div class="modal-header">
                    <button type="button" data-dismiss="modal" aria-hidden="true" class="close md-close"><i class="icon s7-close"></i></button>
                    <h3 class="modal-title">Add SEO</h3>
                </div>
                <div class="modal-body form">
                    <div class="form-group">
                        <label>Title</label>
                        <input id="txtTitle" type="text" placeholder="Title" name="Title" class="form-control">
                        <div class="validation-error text-danger">
                            <span class="field-validation-valid" data-valmsg-for="txtTitle" data-valmsg-replace="true" id="txtTitle_Err"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Url</label>
                        <input id="txtUrl" type="text" placeholder="Url of page" name="Url" class="form-control">
                        <div class="validation-error text-danger">
                            <span class="field-validation-valid" data-valmsg-for="txtUrl" data-valmsg-replace="true" id="txtUrl_Err"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Keyword</label>
                        <input id="txtKeywords" type="text" placeholder="Keywords of page" name="Keywords" class="form-control">
                        <div class="validation-error text-danger">
                            <span class="field-validation-valid" data-valmsg-for="txtKeywords" data-valmsg-replace="true" id="txtKeywords_Err"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Description</label>
                        <textarea id="txtDescription" type="text" placeholder="Description" name="Description" class="form-control"></textarea>
                        <div class="validation-error text-danger">
                            <span class="field-validation-valid" data-valmsg-for="txtDescription" data-valmsg-replace="true" id="txtDescription_Err"></span>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" data-dismiss="modal" class="btn btn-default md-close">Cancel</button>
                    <button id="add-edit-seo-btn" type="button" class="btn btn-primary md-close">Add</button>
                </div>
            }
        </div>
    </div>
</div>

<div id="confirm-delete" tabindex="-1" role="dialog" class="modal fade">
    <div class="modal-dialog custom-width">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" data-dismiss="modal" aria-hidden="true" class="close md-close"><i class="icon s7-close"></i></button>
                <p>Are you sure want to delete item?</p>
            </div>
            <div class="footer-html">
                <button type="button" data-dismiss="modal" class="btn btn-default md-close">Cancel</button>
                <button id="delete-btn" type="button" class="btn btn-danger md-close" onclick="deleteItem($('#confirm-delete').data('id'))">Delete</button>
            </div>
        </div>
    </div>
</div>