@using SBS_Ecommerce.Models;
@using SBS_Ecommerce.Models.DTOs;
@using SBS_Ecommerce.Framework;
@{
    ViewBag.Title = "Shipping Fee";
    Layout = "~/Views/Admin/_LayoutAdmin.cshtml";
    List<WeightBased> lstWeightBaseds = ViewBag.WeightBaseds;
    LocalPickup pickup = ViewBag.LocalPickup;
    List<Country> countries = ViewBag.Countries;
    var deliveryCompanies = ViewBag.DeliveryCompanies;
    ConfigShipping weightBasedEnable = ViewBag.WeightBasedEnable;
    ConfigShipping localPickupEnable = ViewBag.LocalPickupEnable;
}
<div class="col-md-12">
    <ul class="nav nav-tabs tablist-order" role="tablist">
        <li role="presentation" class="active"><a href="#weight-based" role="tab" data-toggle="tab">Weight Based</a></li>
        <li role="presentation"><a href="#local-pickup" role="tab" data-toggle="tab">Local Pickup</a></li>
    </ul>

    <div class="tab-content">
        <div role="tabpanel" class="tab-pane fade in active" id="weight-based">
            <div class="row">                
                <div class="panel-body">
                    <div class="form-group">
                        <span>
                            @if (weightBasedEnable == null)
                            {
                                <input type="checkbox" id="enable-weight-chk" />
                            }
                            else
                            {
                                if (weightBasedEnable.Status != null && weightBasedEnable.Status.Value)
                                {
                                    <input type="checkbox" id="enable-weight-chk" checked/>
                                }
                                else
                                {
                                    <input type="checkbox" id="enable-weight-chk" />
                                }
                            }
                            Enable
                        </span>
                    </div>
                    <table id="table1" class="table table-striped table-bordered" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Min</th>
                                <th>Max</th>
                                <th>Rate</th>
                                <th>Delivery Company</th>
                                <th>Country</th>
                                <th>Option</th>
                            </tr>
                        </thead>
                        @if (!lstWeightBaseds.IsNullOrEmpty())
                        {
                            <tbody>
                                @foreach (var item in lstWeightBaseds)
                                {
                                    <tr>
                                        <td>@item.Id</td>
                                        <td>@item.Min</td>
                                        <td>@item.Max</td>
                                        <td>@item.Rate</td>
                                        <td>@item.DeliveryCompany</td>
                                        <td>@item.Country</td>
                                        <td>
                                            <button type="button" class="btn btn-space btn-primary btn-sm" title="Duplicate" data-id="@item.Id" onclick="duplicateItem(this)">
                                                <i class="icon s7-copy-file"></i>
                                            </button>
                                            <button data-id="@item.Id" type="button" title="Edit"
                                                    class="btn btn-space btn-primary btn-sm" onclick="openEdit(this)">
                                                <i class="icon s7-config"></i>
                                            </button>
                                        </td>
                                    </tr>
                                }
                            </tbody>

                        }
                    </table>
                    <button data-toggle="modal" data-target="#form-add-edit" type="button" class="btn btn-space btn-primary">Add Item</button>
                </div>
            </div>
        </div>
        <div role="tabpanel" class="tab-pane fade in" id="local-pickup">
            <div class="row">
                <div class="panel-body">
                    <div class="form-group">
                        <span>
                            @if (localPickupEnable == null)
                            {
                                <input type="checkbox" id="enable-local-chk" />
                            }
                            else
                            {
                                if (localPickupEnable.Status != null && localPickupEnable.Status.Value)
                                {
                                    <input type="checkbox" id="enable-local-chk" checked />
                                }
                                else
                                {
                                    <input type="checkbox" id="enable-local-chk" />
                                }
                            }
                            Enable
                        </span>
                    </div>
                    <div>
                        Address
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="confirm-delete" data-id="" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="left:auto">
        <div class="modal-content">
            <div class="modal-header">
                Are you sure delete this shipping fee?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button class="btn btn-danger btn-ok" onclick="DeleteShippingFee($('#confirm-delete').attr('data-id'))">Delete</button>
            </div>
        </div>
    </div>
</div>

<div id="form-add-edit" tabindex="-1" role="dialog" class="modal fade colored-header">
    <div class="modal-dialog custom-width">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" data-dismiss="modal" aria-hidden="true" class="close md-close"><i class="icon s7-close"></i></button>
                <h3 class="modal-title">Add</h3>
            </div>
            <div class="modal-body form">
                <div class="form-group">
                    <div id="errMsg" class="text-danger" style="white-space:pre-wrap"></div>
                </div>
                <div class="form-group">
                    <input id="txtMin" type="number" placeholder="Min Weight" class="form-control">
                </div>
                <div class="form-group">
                    <input id="txtMax" type="number" placeholder="Max Weight" class="form-control">
                </div>
                <div class="form-group">
                    <input id="txtRate" type="number" placeholder="Rate Value" class="form-control">
                </div>
                <div class="form-group">
                    <select id="delivery-company" class="form-control">
                        <option value="--">Select Delivery Company</option>
                        @foreach (var item in deliveryCompanies)
                        {
                            <option value="@item.CompanyName">@item.CompanyName</option>
                        }
                    </select>
                </div>
                <div class="form-group">
                    <select id="country" class="form-control">
                        <option value="--">Select Country</option>
                        @foreach (var item in countries)
                        {
                            <option value="@item.code">@item.name</option>
                        }
                    </select>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn btn-default md-close">Cancel</button>
                <button id="add-update-btn" type="button" class="btn btn-primary md-close" data-type="add">Add</button>
            </div>
        </div>
    </div>
</div>