@using SBS_Ecommerce.Models;
@using SBS_Ecommerce.Models.DTOs;
@using SBS_Ecommerce.Framework;
@{
    ViewBag.Title = "Shipping Fee";
    Layout = "~/Views/Admin/_LayoutAdmin.cshtml";
    List<WeightBased> lstWeightBaseds = ViewBag.WeightBaseds;
    LocalPickup pickup = ViewBag.LocalPickup;
    List<Country> countries = ViewBag.Countries;
    var deliveryCompanies = ViewBag.DeliveryCompanies;
}
<div class="col-md-12">
    <ul class="nav nav-tabs tablist-order" role="tablist">
        <li role="presentation" class="active"><a href="#weight-based" role="tab" data-toggle="tab">Weight Based</a></li>
        <li role="presentation"><a href="#local-pickup" role="tab" data-toggle="tab">Local Pickup</a></li>
    </ul>

    <div class="tab-content">
        <div role="tabpanel" class="tab-pane fade in active" id="weight-based">
            <div class="row">
                <div class="panel-body">                    
                    <table id="table1" class="table table-striped table-bordered" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Min</th>
                                <th>Max</th>
                                <th>Rate</th>
                                <th>Company</th>
                                <th>Country</th>
                                <th>Option</th>
                            </tr>
                        </thead>
                        @if (!lstWeightBaseds.IsNullOrEmpty())
                        {
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr data-id="@item.OrderId" data-toggle="modal" class="clickable-row">
                                        <td>@item.OrderId</td>
                                        <td>@item.CreatedAt</td>
                                        <td>@item.CountProduct</td>
                                        <td>@item.TotalAmount</td>
                                        <td></td>
                                    </tr>
                                }
                            </tbody>

                        }
                    </table>
                    <button data-toggle="modal" data-target="#form-bp1" type="button" class="btn btn-space btn-primary">Add Item</button>
                </div>
            </div>
        </div>
        <div role="tabpanel" class="tab-pane fade in" id="local-pickup">
            <div class="row">
                <div class="panel-body">
                    Local pickup
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div id="successModal" class="modal fade" role="dialog">
    <div class="modal-dialog" style="left: auto;">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="alert alert-success">
                    <strong>Success!</strong> <span id="contentAlert">Layout successful change</span>.
                </div>
            </div>
        </div>

    </div>
</div>

<div class="modal fade" id="confirm-delete" data-id="" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="left:auto">
        <div class="modal-content">
            <div class="modal-header">
                Are you sure delete this shipping fee?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button class="btn btn-danger btn-ok" onclick="DeleteShippingFee($('#confirm-delete').attr('data-id'))">Delete</button>
            </div>
        </div>
    </div>
</div>

<div id="form-bp1" tabindex="-1" role="dialog" class="modal fade colored-header">
    <div class="modal-dialog custom-width">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" data-dismiss="modal" aria-hidden="true" class="close md-close"><i class="icon s7-close"></i></button>
                <h3 class="modal-title">Add Weight</h3>
            </div>
            <div class="modal-body form">
                <div class="form-group">
                    <div id="errMsg" class="text-danger" style="white-space:pre-wrap"></div>
                </div>
                <div class="form-group">
                    <input id="txtMin" type="number" placeholder="Min Weight" class="form-control">
                </div>
                <div class="form-group">
                    <input id="txtMax" type="number" placeholder="Max Weight" class="form-control">
                </div>
                <div class="form-group">
                    <input id="txtRate" type="number" placeholder="Rate Value" class="form-control">
                </div>
                <div class="form-group">
                    <select id="delivery-company" class="form-control">
                        <option value="--">Select Delivery Company</option>
                        @foreach (var item in deliveryCompanies)
                        {
                            <option value="@item.CompanyName">@item.CompanyName</option>
                        }
                    </select>
                </div>
                <div class="form-group">
                    <select id="country" class="form-control">
                        <option value="--">Select Country</option>
                        @foreach (var item in countries)
                        {
                            <option value="@item.code">@item.name</option>
                        }
                    </select>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn btn-default md-close">Cancel</button>
                <button id="add-item-btn" type="button" class="btn btn-primary md-close">Add</button>
            </div>
        </div>
    </div>
</div>

<script>
    function ConfirmCreateShippingFee() {
        $('#txtNameHTML').val('');
        $('#txtCostHTML').val('');
        $('#txtdescriptionHTML').val('');
        $('#txtNameHTML').css('border', 'solid 1px rgb(169, 169, 169)');
        $('#txtCostHTML').css('border', 'solid 1px rgb(169, 169, 169)');
        $('#errorName').hide();
        $('#addShippingFeeModal').attr('data-type', 'add');
        $('#addShippingFeeModal').modal('show');
    }

    function ConfirmEdit(id) {
        $('#txtNameHTML').css('border', 'solid 1px rgb(169, 169, 169)');
        $('#txtCostHTML').css('border', 'solid 1px rgb(169, 169, 169)');
        $('#errorName').hide();

        //Get data shipping fee
        $.ajax({
            url: '@Url.Action("GetShippingFee", "Admin")',
            data: { id: id },
            type: 'POST',
            success: function (rs) {
                $('#txtNameHTML').val(rs.Name);
                $('#txtCostHTML').val(rs.Value);
                $('#txtdescriptionHTML').val(rs.Description);
                $('#addShippingFeeModal').attr('data-type', 'edit');
                $('#addShippingFeeModal').attr('data-id', id);
                $('#addShippingFeeModal').modal('show');
            }

        });
    }

    function SaveShippingFee() {
        // border-color: rgb(169, 169, 169);
        var name = $('#txtNameHTML').val();
        var cost = $('#txtCostHTML').val();
        var description = $('#txtdescriptionHTML').val();

        if (name == '') {
            $('#errorName').show();
            $('#txtNameHTML').css('border', 'solid 1px red');
            return;
        }
        else {
            $('#errorName').hide();
            $('#txtNameHTML').css('border', 'solid 1px rgb(169, 169, 169)');
        }
        if (cost == '') {
            $('#errorCost').show();
            $('#txtCostHTML').css('border', 'solid 1px red');
            return;
        }
        else {
            $('#errorCost').hide();
            $('#txtCostHTML').css('border', 'solid 1px rgb(169, 169, 169)');
        }

        if ($('#addShippingFeeModal').attr('data-type') == 'add') {
            //Send request to create shipping fee
            $.ajax({
                url: '@Url.Action("CreateShippingFee", "Admin")',
                data: { name: name, cost: cost, description: description },
                type: 'POST',
                success: function (rs) {
                    $('#addShippingFeeModal').modal('hide');
                    $('#successModal').find('#contentAlert').text('Shipping Fee successful added');
                    $('#successModal').modal('show');
                }

            });
        }
        else {
            $.ajax({
                url: '@Url.Action("EditShippingFee", "Admin")',
                data: { id: $('#addShippingFeeModal').attr('data-id'), name: name, cost: cost, description: description },
                type: 'POST',
                success: function (rs) {
                    $('#addShippingFeeModal').modal('hide');
                    $('#successModal').find('#contentAlert').text('Shipping Fee successful edited');
                    $('#successModal').modal('show');
                }

            });
        }

    }

    function ConfirmDelete(id) {
        $('#confirm-delete').attr('data-id', id);
        $('#confirm-delete').modal('show');
    }

    function DeleteShippingFee(id) {
        $.ajax({
            url: '@Url.Action("DeleteShippingFee", "Admin")',
            data: { id: id },
            type: 'POST',
            success: function (rs) {
                $('#confirm-delete').modal('hide');
                $('#successModal').find('#contentAlert').text('Shipping Fee successful deleted');
                $('#successModal').modal('show');
            }
        });
    }

    $('#successModal').on('click', function () {
        window.location.reload();
    });

    $('#addBtn').click(function () {
        $('#add-weight-based').modal('show');
    });
</script>