@using SBS_Ecommerce.Models;
@using SBS_Ecommerce.Models.DTOs;
@using SBS_Ecommerce.Framework;
@{
    ViewBag.Title = "Shipping Fee Manager";
    Layout = "~/Views/Admin/_LayoutAdmin.cshtml";
    List<WeightBased> lstWeightBaseds = ViewBag.WeightBaseds;
    LocalPickup pickup = ViewBag.LocalPickup;
    List<Country> countries = ViewBag.Countries;
    List<DeliveryCompany> deliveryCompanies = ViewBag.DeliveryCompanies;
    ConfigShipping weightBasedEnable = ViewBag.WeightBasedEnable;
    ConfigShipping localPickupEnable = ViewBag.LocalPickupEnable;
    List<UnitOfMass> unitOfMass = ViewBag.UnitOfMass;
}
<script src="~/Content/Admin/js/app-shipping-fee-manager.js"></script>

<div class="main-content">
    @if (TempData["Message"] != null)
    {
        <div class="container-fluid padded">
            <div class="row-fluid">
                <div class="span12">
                    @if (TempData["Status"] != null && (int)TempData["Status"] == -1)
                    {
                        <div class="alert alert-primary">
                            <button type="button" data-dismiss="alert" aria-label="Close" class="close">
                                <span aria-hidden="true" class="s7-close"></span>
                            </button><span id="alert-msg-success">@TempData["Message"]</span>
                            <br />
                        </div>
                    }
                    else
                    {
                        <div class="alert alert-success">
                            <button type="button" data-dismiss="alert" aria-label="Close" class="close">
                                <span aria-hidden="true" class="s7-close"></span>
                            </button><span id="alert-msg-success">@TempData["Message"]</span>
                            <br />
                        </div>
                    }
                </div>
            </div>
        </div>
    }
    <div class="tab-container">
        <ul class="nav nav-tabs">
            <li id="li-weight-based" class="active"><a href="#weight-based" data-toggle="tab">Weight Based</a></li>
            <li id="li-local-pickup"><a href="#local-pickup" data-toggle="tab">Local Pickup</a></li>
        </ul>
        <div class="tab-content" style="margin-bottom:0px;">
            <div id="weight-based" class="active tab-pane cont">
                <div class="panel panel-dark  dark">
                    <div class="panel-heading">
                        <h3> <a href="#" class="btn btn-primary am-toggle-left-sidebar"><i class="icon s7-menu"></i></a> Weight Based</h3>
                    </div>
                    <div class="panel-body">
                        <div class="row2">
                            <div class="container-fluid">
                            <div style="height:32px;"></div>
                            <div class="col-md-6">
                                <div class="col-md-3">
                                    <div class="am-checkbox inline">
                                        @if (weightBasedEnable == null)
                                        {
                                            <input type="checkbox" id="enable-weight-chk" />
                                        }
                                        else
                                        {
                                            if ((bool)weightBasedEnable?.Status)
                                            {
                                                <input type="checkbox" id="enable-weight-chk" checked />
                                            }
                                            else
                                            {
                                                <input type="checkbox" id="enable-weight-chk" />
                                            }
                                        }
                                        <label for="enable-weight-chk">Enable</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 text-right">
                                <a onclick="addWeightBase()" class="btn btn-space btn-success btn-rc-sm"><i class="icon s7-plus"> </i> Add Item</a>
                                </div>
                            </div>
                        </div>

                        <div class="row2">
                            <div class="col-sm-12">
                                <div class="widget widget-fullwidth widget-small">
                                    <div class="widget-head">
                                        <div class="title"><strong>@ViewBag.Title</strong></div>
                                    </div>
                                    <table id="table1" class="table table-striped table-hover table-fw-widget">
                                        <thead>
                                            <tr>
                                                <th>ID</th>
                                                <th>Min</th>
                                                <th>Max</th>
                                                <th>Rate</th>
                                                <th>Unit of Mass</th>
                                                <th>Delivery Company</th>
                                                <th>Country</th>
                                                <th class="text-center" style="width:20%">Operator</th>
                                            </tr>
                                        </thead>
                                        @if (!lstWeightBaseds.IsNullOrEmpty())
                                        {
                                            <tbody>
                                                @foreach (var item in lstWeightBaseds)
                                                {
                                                    <tr>
                                                        <td>@item.Id</td>
                                                        <td>@item.Min</td>
                                                        <td>@item.Max</td>
                                                        <td>@item.Rate</td>
                                                        <td>
                                                            @if (item.UnitOfMass == "g")
                                                            {
                                                                <p>Gram</p>
                                                            }
                                                            else if (item.UnitOfMass.Contains("kg"))
                                                            {
                                                                <p>Kilogram</p>
                                                            }
                                                            else if (item.UnitOfMass.Contains("lbs"))
                                                            {
                                                                <p>Pound</p>
                                                            }
                                                        </td>
                                                        <td>@item.DeliveryCompany</td>
                                                        <td>@(countries.FirstOrDefault(m => m.code == item.Country)?.name)</td>
                                                        <td class="actions">
                                                            <a class="btn btn-sm btn-success" onclick="showConfirmDuplicate('@item.Id')" title="Duplicate">
                                                                <i class="icon s7-copy-file"></i>
                                                            </a>
                                                            <a class="btn btn-sm btn-dark" onclick="openEdit('@item.Id')" title="Edit">
                                                                <i class="icon s7-pen"></i>
                                                            </a>
                                                            <a class="btn btn-sm btn-danger" onclick="showConfirmDelete(@item.Id)" title="Delete">
                                                                <i class="icon s7-trash"></i>
                                                            </a>
                                                        </td>
                                                    </tr>
                                                }
                                            </tbody>
                                        }
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer">
                    </div>
                </div>
            </div>
            <div id="local-pickup" class="tab-pane cont">
                <div class="panel panel-dark  dark">
                    <div class="panel-heading">
                        <h3> <a href="#" class="btn btn-primary am-toggle-left-sidebar"><i class="icon s7-menu"></i></a>Local Pickup</h3>
                    </div>
                    <div class="panel-body">
                        <div class="row2">
                            <div class="container-fluid">
                            <div style="height:32px;"></div>
                            <div class="col-md-6">
                                <div class="col-md-3">
                                    <div class="am-checkbox inline">
                                        @if (localPickupEnable == null)
                                        {
                                            <input type="checkbox" id="enable-local-chk" />
                                        }
                                        else
                                        {
                                            if ((bool)localPickupEnable?.Status)
                                            {
                                                <input type="checkbox" id="enable-local-chk" checked />
                                            }
                                            else
                                            {
                                                <input type="checkbox" id="enable-local-chk" />
                                            }
                                        }
                                        <label for="enable-local-chk">Enable</label>
                                    </div>
                                    <div class="validation-error">
                                            <span class="field-validation-error" data-valmsg-for="Service_Charge_Include" data-valmsg-replace="true"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br style="clear: both" />
                        <div class="form-group">
                            <br />
                            <div id="pick-errMsg" class="text-danger" style="white-space:pre-wrap"></div>
                        </div>
                        @if (pickup == null)
                        {
                            <div class="row2">
                                <div class="container-fluid">
                                    <div class="col-md-3">
                                        <label class="control-label">Phone</label>
                                        <input id="pick-txtId" type="text" hidden value="">
                                        <input id="pick-txtPhone" type="text" placeholder="Phone" class="form-control" value="">
                                        <div class="validation-error">
                                            <span class="field-validation-error" data-valmsg-for="pick-txtPhone" data-valmsg-replace="true" id="pick-txtPhone_Err"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-9">
                                        <label class="control-label">Address</label>
                                        <input id="pick-txtAddress" type="text" placeholder="Address" class="form-control" value="">
                                        <div class="validation-error">
                                            <span class="field-validation-error" data-valmsg-for="pick-txtAddress" data-valmsg-replace="true" id="pick-txtAddress_Err"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row2">
                                <div class="container-fluid">
                                    <div class="col-md-3">
                                        <label class="control-label">Ward</label>
                                        <input id="pick-txtWard" type="text" placeholder="Ward" class="form-control" value="">
                                        <div class="validation-error">
                                            <span class="field-validation-error" data-valmsg-for="pick-txtWard" data-valmsg-replace="true" id="pick-txtWard_Err"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <label class="control-label">District</label>
                                        <input id="pick-txtDistrict" type="text" placeholder="District" class="form-control" value="">
                                        <div class="validation-error">
                                            <span class="field-validation-error" data-valmsg-for="pick-txtDistrict" data-valmsg-replace="true" id="pick-txtDistrict_Err"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <label class="control-label">City</label>
                                        <input id="pick-txtCity" type="text" placeholder="City" class="form-control" value="">
                                        <div class="validation-error">
                                            <span class="field-validation-error" data-valmsg-for="pick-txtCity" data-valmsg-replace="true" id="pick-txtCity_Err"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <label class="control-label">Country</label>
                                        <select id="pick-country" class="select2 form-control">
                                            <option value="--">Select Country</option>
                                            @foreach (var item in countries)
                                            {
                                                <option value="@item.code">@item.name</option>
                                            }
                                        </select>
                                        <div class="validation-error">
                                            <span class="field-validation-error" data-valmsg-for="pick-country" data-valmsg-replace="true" id="pick-country_Err"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        }
                        else
                        {

                            <div class="row2">
                                <div class="container-fluid">
                                    <div class="col-md-3">
                                        <label class="control-label">Phone</label>
                                        <input id="pick-txtId" type="text" hidden value="@pickup.Id">
                                        <input id="pick-txtPhone" type="text" placeholder="Phone" class="form-control" value="@pickup.Phone">
                                        <div class="validation-error">
                                            <span class="field-validation-error" data-valmsg-for="pick-txtPhone" data-valmsg-replace="true" id="pick-txtPhone_Err"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-9">
                                        <label class="control-label">Address</label>
                                        <input id="pick-txtAddress" type="text" placeholder="Address" class="form-control" value="@pickup.Address">
                                        <div class="validation-error">
                                            <span class="field-validation-error" data-valmsg-for="pick-txtAddress" data-valmsg-replace="true" id="pick-txtAddress_Err"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row2">
                                <div class="container-fluid">
                                    <div class="col-md-3">
                                        <label class="control-label">Ward</label>
                                        <input id="pick-txtWard" type="text" placeholder="Ward" class="form-control" value="@pickup.Ward">
                                        <div class="validation-error">
                                            <span class="field-validation-error" data-valmsg-for="pick-txtWard" data-valmsg-replace="true" id="pick-txtWard_Err"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <label class="control-label">District</label>
                                        <input id="pick-txtDistrict" type="text" placeholder="District" class="form-control" value="@pickup.District">
                                        <div class="validation-error">
                                            <span class="field-validation-error" data-valmsg-for="pick-txtDistrict" data-valmsg-replace="true" id="pick-txtDistrict_Err"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <label class="control-label">City</label>
                                        <input id="pick-txtCity" type="text" placeholder="City" class="form-control" value="@pickup.City">
                                        <div class="validation-error">
                                            <span class="field-validation-error" data-valmsg-for="pick-txtCity" data-valmsg-replace="true" id="pick-txtCity_Err"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <label class="control-label">Country</label>
                                        <select id="pick-country" class="select2 form-control">
                                            <option value="--">Select Country</option>
                                            @foreach (var item in countries)
                                            {
                                                if (pickup.Country == item.code)
                                                {
                                                    <option value="@item.code" selected>@item.name</option>
                                                }
                                                else
                                                {
                                                    <option value="@item.code">@item.name</option>
                                                }
                                            }
                                        </select>
                                        <div class="validation-error">
                                            <span class="field-validation-error" data-valmsg-for="pick-country" data-valmsg-replace="true" id="pick-country_Err"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>


                        }
                    </div>
                </div>
                <div class="panel-footer">
                    <div class="row2">
                        <div class="container-fluid">
                            <div class="col-md-12">
                                <button type="button" class="btn btn-primary btn-rc-sm " id="pick-save-btn">
                                    <i class="icon s7-diskette"></i>
                                    Save
                                </button>
                                <button type="button" data-dismiss="modal" class="btn btn-default btn-rc-sm md-close">
                                    <i class="icon s7-close-circle"></i>
                                    Close
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
                </div>

<!-- Modal -->
<div id="confirm-duplicate" tabindex="-1" role="dialog" class="modal fade" data-id="">
    <div class="modal-dialog custom-width">
        <div class="modal-content">
            <div class="modal-header-main">
                <button type="button" data-dismiss="modal" aria-hidden="true" class="close md-close"><i class="icon s7-close"></i></button>
                <h3>Are you sure want to duplicate item?</h3>
            </div>
            <div class="footer-html">
                <form action="@Url.Action("DuplicateWeightBase", "Admin")", method="post">
                    <input hidden id="idDuplicate" name="id" />
                    <button type="button" data-dismiss="modal" class="btn btn-default md-close">Cancel</button>
                    <button id="delete-btn" type="submit" class="btn btn-danger md-close">Duplicate</button>
                </form>                
            </div>
        </div>
    </div>
</div>

<div id="confirm-delete" tabindex="-1" role="dialog" class="modal fade">
    <div class="modal-dialog custom-width">
        <div class="modal-content">
            <div class="modal-header-main">
                <button type="button" data-dismiss="modal" aria-hidden="true" class="close md-close"><i class="icon s7-close"></i></button>
                <h3>Are you sure want to delete item?</h3>
            </div>
            <div class="footer-html">
                <form action="@Url.Action("DeleteWeightBased", "Admin")" method="post">
                    <input hidden id="idDelete" name="id"/>
                    <button type="button" data-dismiss="modal" class="btn btn-default md-close">Cancel</button>
                    <button id="delete-btn" type="submit" class="btn btn-danger md-close">Delete</button>
                </form>
            </div>
        </div>
    </div>
</div>

<div id="form-add-edit" tabindex="-1" role="dialog" class="modal fade colored-header">    
</div>