@using SBS_Ecommerce.Models.DTOs;
@using SBS_Ecommerce.Framework;
@using SBS_Ecommerce.Framework.Configurations;
@{
    ViewBag.Title = "Search";
    var companyID = SBSCommon.Instance.GetCompany().Company_ID;
    SBS_Ecommerce.Framework.Utilities.CompanyUtil cpUT = new SBS_Ecommerce.Framework.Utilities.CompanyUtil();
    var themeName = cpUT.GetThemeName();
    Layout = "~/Views/Theme/" + companyID + "/" + themeName + "/_Layout.cshtml";
    var term = ViewBag.Term;
    var domain = SBSConstants.Domain;
    var maxItem = SBSConstants.MaxItem;
    List<Product> lstProducts = ViewBag.Data;
    List<Category> lstCategory = SBSCommon.Instance.GetCategories();
    List<PriceRange> lstPriceRange = SBSCommon.Instance.GetPriceRange();
    List<Brand> lstBrand = SBSCommon.Instance.GetBrands();
    string[] lstOption = { "--", "Price - Low to High", "Price - High to Low", "Name: A-Z", "Name: Z to A" };
    int maxPage = (lstProducts.Count % maxItem > 0 ? lstProducts.Count / maxItem + 1 : lstProducts.Count / maxItem);
}
<script>
    init(@Html.Raw(Json.Encode(term)), @Html.Raw(Json.Encode(lstCategory)), @Html.Raw(Json.Encode(lstBrand)), @Html.Raw(Json.Encode(lstPriceRange)));
</script>
<!--------------- Breadcumb --------------->
<div class="breadcrumb-wrap">
    <div class="container">
        <a class="breadcrumb-link" href="/Home/Index" title="Return to Home">Home</a><i class="breadcrumb-arrow fa fa-angle-right"></i><span class="breadcrumb-current">Search</span>
    </div>
</div>
<!--------------- Main wrap --------------->
<div class="main-wrap">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-sm-4">
                <div class="module shop-widget category-widget secondary-module">
                    <h4 class="module-title"><i class="fa fa-bars" aria-hidden="true"></i>Categories<span class="toggle-btn"></span></h4>
                    <div class="module-content mobile-collapse">
                        <ul class="menu side-menu">
                            @foreach (var item in lstCategory)
                            {
                                <li class="menu-item"><a href="@Url.Action("Category", "Product", new { id = item.Category_ID})"><i class="fa fa-bullseye" aria-hidden="true"></i>@item.Category_Name</a></li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-9 col-sm-8">
                <!--------------- Page title --------------->
                <div class="page-header">
                    <div class="row">
                        <div class="col-md-10 col-sm-8">
                            <h4 class="page-title">Search</h4>
                        </div>
                        @*<div class="col-md-2 col-sm-4">
                                @if (lstProducts.IsNullOrEmpty())
                                {
                                    <p class="page-description">Product not found</p>
                                }
                                else
                                {
                                    <p class="page-description">There are @lstProducts.Count Product</p>
                                }
                            </div>*@
                    </div>
                </div>

                <!--------------- Products Toolbar --------------->
                <div class="filter-product">
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="active"><a href="#categories" data-toggle="tab">Categories</a></li>
                        <li><a href="#brand" data-toggle="tab">Brand</a></li>
                        <li><a href="#price" data-toggle="tab">Price</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="categories">
                            <ul class="menu">
                                @foreach (var item in lstCategory)
                                {
                                    <li class="col-sm-3"><a style="cursor:pointer;" onclick="searchProduct(this)" data-id="@item.Category_ID">@item.Category_Name</a></li>
                                }
                            </ul>
                        </div>
                        <div class="tab-pane" id="brand">
                            <div class="filter-content">
                                @foreach (var item in lstBrand)
                                {
                                    <div class="input-row col-sm-3">
                                        <div class="input-rule check">
                                            <span class="input-style"></span>
                                            <input data-id="@item.Brand_ID" type="checkbox" name="brand" value="@item.Brand_Name">
                                        </div>
                                        <label class="filter-label" for="activeden">@item.Brand_Name</label>
                                    </div>
                                }
                            </div>
                        </div>
                        <div class="tab-pane" id="price">
                            <div class="filter-content">
                                @foreach (var item in lstPriceRange)
                                {
                                    <div class="input-row col-sm-3">
                                        <div class="input-rule check">
                                            <span class="input-style"></span>
                                            <input data-id="@item.Range_ID" type="checkbox" name="pricerange" value="@item.Range_Name">
                                        </div>
                                        <label class="filter-label" for="activeden">@item.Range_Name</label>
                                    </div>
                                }                                                                                          
                            </div>
                        </div>
                    </div>
                </div>
                <div class="toolbar">
                    <div class="row">
                        <div class="col-lg-3 col-md-4">
                            <!-- Viewmode -->
                            <div class="view-modes">
                                <a href="#" class="grid view-mode active" title="Grid" data-mode="grid_mode"><i class="fa fa-th-large"></i></a>
                                <a href="#" class="list view-mode" title="List" data-mode="list_mode"><i class="fa fa-th-list"></i></a>
                            </div>

                            <!-- Compare Product Form -->
                            @*<form method="post" action="products-comparison.html" class="compare-form">
                                    <button type="submit" class="btn_compare">
                                        <span>Compare (<strong class="total-compare-val">3</strong>)</span>
                                    </button>
                                    <input type="hidden" name="compare_product_count" class="compare_product_count" value="3">
                                    <input type="hidden" name="compare_product_list" class="compare_product_list" value="">
                                </form>*@
                        </div>
                    </div>

                    <!-- Product shorting -->
                    <div class="col-lg-7 col-md-5 col-sm-8">
                        <div class="shop-short-by">
                            <label>Sort by</label>
                            @*<form class="woocommerce-ordering live-form" method="get">
                                <div>*@
                            <select id="orderby" name="orderby" class="orderby">
                                @for (int i = 0; i < lstOption.Count(); i++)
                                {
                                    if (i == 0)
                                    {
                                        <option value="@i" selected>@lstOption[i]</option>
                                    }
                                    else
                                    {
                                        <option value="@i">@lstOption[i]</option>
                                    }
                                }
                            </select>
                            @*</div>
                                </form>*@
                        </div>
                    </div>
                </div>


                <!--------------- Main Product Widget --------------->
                <div class="search-result">
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="active"><a href="#all" data-toggle="tab">All</a></li>
                        <li><a href="#new" data-toggle="tab">New</a></li>
                        <li><a href="#onsale" data-toggle="tab">On Sale</a></li>
                        <li><a href="#instock" data-toggle="tab">In Stock</a></li>
                    </ul>
                    <div class="tab-content">
                        <div id="all" class="tab-pane active">
                            <div class="module products">
                                <div class="row">
                                    <div id="mode_switcher" class="product-container">

                                        @if (!lstProducts.IsNullOrEmpty())
                                        {
                                            foreach (var item in lstProducts.Take(12).ToList())
                                            {
                                                <div class="product col-lg-4 col-sm-6 new custom">
                                                    <div class="product-thumb">
                                                        <a href="@Url.Action("Details", "Product", new { id = item.Product_ID })" class="thumb-link">
                                                            <img class="hover-img" src="@(domain + item.Small_Img)" alt="Product Hover">
                                                            <img class="front-img" src="@(domain + item.Small_Img)" alt="Product Front">
                                                        </a>
                                                        <div class="attr-group">
                                                            <span class="new">New</span>
                                                            <span class="sale">Sale!</span>
                                                        </div>
                                                        <div class="product-btn">
                                                            <a class="to-cart" style="cursor:pointer;" onclick="addToCart('@item.Product_ID', 1)"><i class="fa fa-shopping-cart"></i><span class="tooltip">Add To Cart</span></a>
                                                            <a class="to-wish" style="cursor:pointer;" onclick='addToWishlist(@item.Product_ID)'><i class="fa fa-heart"></i><span class="tooltip">Add To Wishlist</span></a>
                                                        </div>
                                                    </div>
                                                    <div class="product-info">
                                                        <h5 class="product-name"><a href="@Url.Action("Details", "Product", new { id = item.Product_ID })">@item.Product_Name</a></h5>
                                                        <div class="rating" itemtype="http://schema.org/Offer" itemscope>
                                                            <div class="star_rating" itemtype="http://schema.org/AggregateRating" itemscope itemprop="aggregateRating">
                                                                @for (int i = 0; i < 5; i++)
                                                                {
                                                                    if (i < item.Star_Rating)
                                                                    {
                                                                        <span class="star star_full"></span>
                                                                    }
                                                                    else
                                                                    {
                                                                        <span class="star"></span>
                                                                    }
                                                                }
                                                                <meta itemprop="worstRating" content="0">
                                                                <meta itemprop="ratingValue" content="4">
                                                                <meta itemprop="bestRating" content="5">
                                                            </div>
                                                        </div>
                                                        @if (item.Promotion_Price > 0)
                                                        {
                                                            <p class="price">$@item.Promotion_Price</p>
                                                        }
                                                        else
                                                        {

                                                            <p class="price">$@item.Selling_Price</p>
                                                        }

                                                        <p class="product-description">@item.Description</p>
                                                        <div class="product-btn list-view-btn">
                                                            <a class="to-cart" style="cursor:pointer;" onclick="addToCart('@item.Product_ID', 1)"><i class="fa fa-shopping-cart"></i><span class="tooltip">Add To Cart</span></a>
                                                            <a class="to-wish" style="cursor:pointer;" onclick='addToWishlist(@item.Product_ID)'><i class="fa fa-heart"></i><span class="tooltip">Add To Wishlist</span></a>
                                                        </div>
                                                    </div>
                                                </div>
                                            }
                                        }
                                    </div>
                                </div>
                                <!---------------- Product pagination --------------->
                                <div class="pagination-bar">
                                    <div class="row">
                                        <div class="pagination-content">
                                            <div class="col-md-3 col-sm-4">
                                                @if (lstProducts.IsNullOrEmpty())
                                                {
                                                    <p class="product-count">Nothing to show</p>
                                                }
                                                else
                                                {
                                                    <p class="product-count">Showing 1/@maxPage of @maxPage pages</p>
                                                }
                                            </div>
                                            @if (!lstProducts.IsNullOrEmpty())
                                            {
                                                <div class="col-md-6 col-sm-5">
                                                    <ul class="paginations">
                                                        <li class="pagination prev disabled"><a style="cursor:pointer" onclick="navigatePage(this, @maxPage)" data-type="prev"><i class="fa fa-angle-left" aria-hidden="true"></i></a></li>
                                                        @{
                                                            for (int i = 0; i < maxPage; i++)
                                                            {
                                                                if (i == 0)
                                                                {
                                                                    <li class="pagination current"><a class="page_nav" onclick="navigatePage(this, @maxPage)" style="cursor:pointer">@(i + 1)</a></li>
                                                                }
                                                                else
                                                                {
                                                                    <li class="pagination"><a class="page_nav" onclick="navigatePage(this, @maxPage)" style="cursor:pointer">@(i + 1)</a></li>
                                                                }
                                                            }
                                                            if (maxPage == 1)
                                                            {
                                                                <li class="pagination next disabled"><a style="cursor:pointer" onclick="navigatePage(this, @maxPage)" data-type="next"><i class="fa fa-angle-right" aria-hidden="true"></i></a></li>
                                                            }
                                                            else
                                                            {
                                                                <li class="pagination next"><a style="cursor:pointer" onclick="navigatePage(this, @maxPage)" data-type="next"><i class="fa fa-angle-right" aria-hidden="true"></i></a></li>
                                                            }
                                                        }
                                                    </ul>
                                                    <input id="currentPage" hidden="hidden" value="1" />
                                                </div>
                                                            }

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="new" class="tab-pane"></div>
                        <div id="onsale" class="tab-pane"></div>
                        <div id="instock" class="tab-pane"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>