@using SBS_Ecommerce.Models.DTOs;
@using SBS_Ecommerce.Framework;
@using SBS_Ecommerce.Framework.Configurations;
@model List<Product>
@{
    ViewBag.Title = "Search";
    var keyword = ViewBag.Keyword;
    var domain = SBSConstants.Domain;
    List<Product> lstProducts = ViewBag.Data;
    List<Category> lstCategory = ViewBag.Categories;
    List<PriceRange> lstPriceRange = ViewBag.PriceRange;
    List<Brand> lstBrand = ViewBag.Brands;
    var cgID = ViewBag.CgID;
    var sort = ViewBag.Sort;
    var sortType = ViewBag.sortType;
    var numberOfPage = ViewBag.NumberOfPage;
    var currentPage = ViewBag.CurrentPage;
    var LstBrandID = ViewBag.LstBrandID;

    int maxPage = 2;
    var position = 0;
    if (!string.IsNullOrEmpty(sort) && !string.IsNullOrEmpty(sortType))
    {
        position = (sort == "price" ? (sortType == "asc" ? 1 : 2) : (sortType == "desc" ? 3 : 4));
    }

    string[] lstOption = { "--", "Price - Low to High", "Price - High to Low", "Name: A-Z", "Name: Z to A" };
}



<div class="row">
    <div id="mode_switcher" class="product-container">

        @if (!lstProducts.IsNullOrEmpty())
        {
            foreach (var item in lstProducts)
            {
                <div class="product col-lg-4 col-sm-6 new custom">
                    <div class="product-thumb">
                        <a href="@Url.Action("Details", "Product", new { id = item.Product_ID })" class="thumb-link">
                            <img class="hover-img" src="@(domain + item.Small_Img)" alt="Product Hover">
                            <img class="front-img" src="@(domain + item.Small_Img)" alt="Product Front">
                        </a>
                        <div class="product-btn">
                            @if (item.Stocked_Quantity <= 0 && item.Allowable_PreOrder)
                            {
                                <a class="to-cart" style="cursor:pointer;" onclick="addToCart('@item.Product_ID', 1)"><i class="fa fa-shopping-cart"></i><span class="tooltip">Pre Order</span></a>
                            }
                            else
                            {
                                <a class="to-cart" style="cursor:pointer;" onclick="addToCart('@item.Product_ID', 1)"><i class="fa fa-shopping-cart"></i><span class="tooltip">Add To Cart</span></a>
                            }
                            <a class="to-wish" style="cursor:pointer;" onclick='addToWishlist(@item.Product_ID)'><i class="fa fa-heart"></i><span class="tooltip">Add To Wishlist</span></a>
                        </div>
                    </div>
                    <div class="product-info">
                        <h5 class="product-name"><a href="@Url.Action("Details", "Product", new { id = item.Product_ID })">@item.Product_Name</a></h5>
                        <div class="rating" itemtype="http://schema.org/Offer" itemscope>
                            <div class="star_rating" itemtype="http://schema.org/AggregateRating" itemscope itemprop="aggregateRating">
                                @for (int i = 0; i < 5; i++)
                                {
                                    if (i < item.Star_Rating)
                                    {
                                        <span class="star star_full"></span>
                                    }
                                    else
                                    {
                                        <span class="star"></span>
                                    }
                                }
                                <meta itemprop="worstRating" content="0">
                                <meta itemprop="ratingValue" content="4">
                                <meta itemprop="bestRating" content="5">
                            </div>
                        </div>
                        @if (item.Promotion_Price > 0)
                        {
                            <p class="price">$@item.Promotion_Price</p>
                        }
                        else
                        {

                            <p class="price">$@item.Selling_Price</p>
                        }
                    </div>
                </div>
            }
        }
    </div>
</div>
<!---------------- Product pagination --------------->
<div class="pagination-bar">
    <div class="row">
        <div class="pagination-content">
            <div class="col-md-3 col-sm-4">
                @if (lstProducts.IsNullOrEmpty())
                {
                    if (!string.IsNullOrEmpty(keyword))
                    {
                        <p class="product-count">Oops, We Cannot Find Anything With @keyword</p>
                    }
                    else
                    {
                        <p class="product-count">Oops, We Cannot Find Anything</p>
                    }
                }
                else
                {
                    <p class="product-count">Showing @currentPage/@numberOfPage of @numberOfPage pages</p>
                }
            </div>
            @if (!lstProducts.IsNullOrEmpty())
            {
                <div class="col-md-6 col-sm-5">
                    <ul class="paginations">
                        @if (currentPage <= 1)
                        {
                            <li class="pagination prev disabled"><a data-type="prev"><i class="fa fa-angle-left" aria-hidden="true"></i></a></li>
                        }
                        else
                        {
                            <li class="pagination prev"><a style="cursor:pointer" onclick="navigatePage(this, @(currentPage-1))" data-type="prev"><i class="fa fa-angle-left" aria-hidden="true"></i></a></li>
                        }

                        @for (int i = (currentPage > maxPage ? currentPage - maxPage + 1 : 1); i <= (currentPage > maxPage ? currentPage : (numberOfPage > maxPage ? maxPage : numberOfPage)); i++)
                        {
                            if (i == currentPage)
                            {
                                <li class="pagination current"><a class="page_nav" onclick="navigatePage(this, @i)" style="cursor:pointer">@(i)</a></li>
                            }
                            else
                            {
                                <li class="pagination"><a class="page_nav" onclick="navigatePage(this, @i)" style="cursor:pointer">@(i)</a></li>
                            }
                        }

                        @if (currentPage < numberOfPage)
                        {
                            <li class="pagination next"><a style="cursor:pointer" onclick="navigatePage(this, @(currentPage+1))" data-type="next"><i class="fa fa-angle-right" aria-hidden="true"></i></a></li>
                        }
                        else
                        {
                            <li class="pagination next disabled"><a data-type="next"><i class="fa fa-angle-right" aria-hidden="true"></i></a></li>
                        }



                    </ul>
                    <input id="currentPage" hidden="hidden" value="1" />
                </div>
            }

        </div>
    </div>
</div>