@using SBS_Ecommerce.Models
@model SBS_Ecommerce.Models.DTOs.Product
@{
    Layout = "~/Views/Theme/Theme3/_Layout.cshtml";
    var domain = SBS_Ecommerce.Framework.Configurations.SBSConstants.Domain;
    var lstReview = (List<ProductReview>)ViewBag.Review;
    var user = (ViewBag.User != null ? (User)ViewBag.User : null);
}
<script src="~/Content/Theme/Theme3/js/productdetail.js"></script>
<link href="~/Content/Theme/Theme3/css/productdetail.css" rel="stylesheet" />

<!-- Modal -->
<div id="successModal" class="modal fade" role="dialog">
    <div class="modal-dialog" style="left: auto;">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="alert alert-success">
                    <strong>Success!</strong> <span id="contentAlert">Review successful add</span>.
                </div>
            </div>
        </div>

    </div>
</div>

<div class="modal fade" id="confirm-delete" data-id="" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="left:auto">
        <div class="modal-content">
            <div class="modal-header">
                Are you sure delete this Review?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button class="btn btn-danger btn-ok" onclick="DeleteProductReview($('#confirm-delete').attr('data-id'))">Delete</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal review -->
<div id="reviewProductModal" class="modal fade" role="dialog">
    <div class="modal-dialog" style="left: auto;">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header" style="border:none;">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <div class="col-md-12"><h4 class="form-title">Write a review</h4></div>
            </div>
            <div class="modal-body">
                <div class="fancybox-inner" style="overflow: auto;">
                    <div id="reviewForm" class="basicfields reviewform" method="post" accept-charset="#">

                        <div class="col-md-6">
                            <img src="@(domain + @Model.Original_Img)" alt="15 Review Giving">
                            <h5 class="product-name">@Model.Product_Name</h5>
                            <p class="product-description">Long printed dress with thin adjustable straps. V-neckline and wiring under the bust with ruffles at the bottom of the dress.</p>
                        </div>
                        <div class="col-md-6">
                            <div class="rating_input">
                                <label>Quality: </label>
                                <input type="hidden" name="rating">
                                <a class="zero-rating" data-rate="0" href="#"></a>
                                <div class="star-rating">
                                    <a class="rating" data-rate="1" href="#"></a>
                                    <a class="rating" data-rate="2" href="#"></a>
                                    <a class="rating" data-rate="3" href="#"></a>
                                    <a class="rating" data-rate="4" href="#"></a>
                                    <a class="rating" data-rate="5" href="#"></a>
                                </div>
                            </div>
                            <input type="text" class="titleReview element-review" placeholder="Title *">
                            <div class="validateTileReview validatereview"><span>The filed is required.</span></div>
                            <textarea class="commentReview element-review" placeholder="Comment: *" rows="8"></textarea>
                            <div class="validateCommentReview validatereview"><span>The filed is required.</span></div>
                            @if (user != null)
                            {
                            <input value="@(user.FirstName + " " + user.LastName)" type="text" class="nameReview element-review" placeholder="Your name: *">
                            }
                            else
                            {
                            <input type="text" class="nameReview element-review" placeholder="Your name: *">
                            }
                            <div class="validateNameReview validatereview"><span>The filed is required.</span></div>
                            <div class="form-footer">
                                <span>* Required fields</span>
                                <input class="btn btn-default" data-id="@Model.Product_ID" type="button" value="Submit" style="width:auto" onclick="AddProductReview(this)">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<div id="editReviewProductModal" class="modal fade" role="dialog">
    <div class="modal-dialog" style="left: auto;">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header" style="border:none;">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <div class="col-md-12"><h4 class="form-title">Edit a review</h4></div>
            </div>
            <div class="modal-body">
                <div class="fancybox-inner" style="overflow: auto;">
                    <div id="reviewForm" class="basicfields reviewform" method="post" accept-charset="#">

                        <div class="col-md-6">
                            <img src="@(domain + @Model.Original_Img)" alt="15 Review Giving">
                            <h5 class="product-name">@Model.Product_Name</h5>
                            <p class="product-description">Long printed dress with thin adjustable straps. V-neckline and wiring under the bust with ruffles at the bottom of the dress.</p>
                        </div>
                        <div class="col-md-6">
                            <div class="rating_input">
                                <label>Quality: </label>
                                <input type="hidden" name="rating">
                                <a class="zero-rating" data-rate="0" href="#"></a>
                                <div class="star-rating">
                                    <a class="rating" data-rate="1" href="#"></a>
                                    <a class="rating" data-rate="2" href="#"></a>
                                    <a class="rating" data-rate="3" href="#"></a>
                                    <a class="rating" data-rate="4" href="#"></a>
                                    <a class="rating" data-rate="5" href="#"></a>
                                </div>
                            </div>
                            <input type="text" class="titleReview element-review" placeholder="Title *">
                            <div class="validateTileReview validatereview"><span>The filed is required.</span></div>
                            <textarea class="commentReview element-review" placeholder="Comment: *" rows="8"></textarea>
                            <div class="validateCommentReview validatereview"><span>The filed is required.</span></div>
                            <input type="text" class="nameReview element-review" placeholder="Your name: *">
                            <div class="validateNameReview validatereview"><span>The filed is required.</span></div>
                            <div class="form-footer">
                                <span>* Required fields</span>
                                <input class="btn btn-default" type="button" value="Submit" style="width:auto" onclick="EditReview(this)">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--------------- Main wrap --------------->
<div class="main-wrap">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-sm-12">

                <!--------------- Main Product Widget --------------->
                <div class="module single-product">
                    <div class="row">
                        <div id="single-container" class="product-container">
                            <div class="product">
                                <div class="col-md-5">
                                    @*<div class="product-thumb">
                                            <img id="img-holder" class="zoomable" src="img/product/15-big.jpg" alt="Product 15" data-zoom-image="img/product/15-big.jpg">
                                            <div class="list-thumbs">
                                                <a class="list-thumb active" href="#" data-image="img/product/15-big.jpg" data-image-zoom="img/product/15-big.jpg">
                                                    <img src="img/product/15-thumb.jpg" alt="15 Thumb">
                                                </a>
                                                <a class="list-thumb" href="#" data-image="img/product/15-hover-big.jpg" data-image-zoom="img/product/15-hover-big.jpg">
                                                    <img src="img/product/15-hover-thumb.jpg" alt="15 Thumb">
                                                </a>
                                            </div>
                                            <div class="attr-group">
                                                <span class="new">New</span>
                                                <span class="sale">Sale!</span>
                                            </div>
                                        </div>*@
                                    <img src="@(domain + Model.Original_Img)" />
                                </div>
                                <div class="col-md-7">
                                    <div class="product-info">
                                        <h3 class="product-name">@Model.Product_Name</h3>
                                        <div class="comment-block">
                                            <div class="rating-block">
                                                <span>Rating</span>
                                                <div class="rating" itemtype="http://schema.org/Offer" itemscope>
                                                    <div class="star_rating" itemtype="http://schema.org/AggregateRating" itemscope itemprop="aggregateRating">
                                                        <span class="star star_full"></span>
                                                        <span class="star star_full"></span>
                                                        <span class="star star_full"></span>
                                                        <span class="star star_full"></span>
                                                        <span class="star"></span>
                                                        <meta itemprop="worstRating" content="0">
                                                        <meta itemprop="ratingValue" content="4">
                                                        <meta itemprop="bestRating" content="5">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="readreview-block">
                                                <a href="#" class="to-review">
                                                    <i class="fa fa-comment" aria-hidden="true"></i>
                                                    <span>Read </span>
                                                    <span class="review-number">( 1 )</span>
                                                </a>
                                            </div>
                                            <div class="writereview-block">
                                                <a onclick="Writereview()" class="to-review-form">
                                                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                                    <span style="cursor:pointer;">Write A Review</span>
                                                </a>
                                            </div>
                                        </div>
                                        <p class="product_model product-page-attr">
                                            <label>Model: </label>
                                            <span class="attr_value">demo_5</span>
                                        </p>
                                        <p class="product_condition product-page-attr">
                                            <label>Condition: </label>
                                            <span class="attr_value">New</span>
                                        </p>
                                        <p class="product_manufacturer product-page-attr">
                                            <label>Manufacturer: </label>
                                            <a href="#" class="attr_value">Activeden</a>
                                        </p>
                                        <p class="single-description">Long printed dress with thin adjustable straps. V-neckline and wiring under the bust with ruffles at the bottom of the dress.</p>
                                        @if (Model.Stocked_Quantity <= 0)
                                        {
                                            <p class="quantity-block">
                                                <span class="label label-error">Out of stock</span>
                                            </p>
                                        }
                                        else
                                        {
                                            <p class="quantity-block">
                                                <span class="quantity_available">@Model.Stocked_Quantity</span><span style="display: none;" class="quantityAvailableTxt">Item</span><span class="quantityAvailableTxtMultiple">Items</span>
                                                <span class="availability-status label label-success">In stock</span>
                                            </p>
                                        }

                                        <p class="warning_inline last_quantities" style="display: none;">Warning: Last items in stock!</p>
                                        @if (@Model.Promotion_Price > 0)
                                        {
                                            <span class="price">$@Model.Promotion_Price</span>
                                        }
                                        else
                                        {
                                            <span class="price">$@Model.Selling_Price</span>
                                        }
                                    </div>
                                    <form id="buyForm" action="#" method="post">
                                        <input type="hidden" name="id_product" value="15">
                                        <input type="hidden" name="price" value="30.51"> <input type="hidden" name="currency" value="USD">
                                        <div class="box-info-product">
                                            <div class="product_attributes">
                                                <div id="quantity_wanted" class="product_attribute">
                                                    <label>Quantity</label>
                                                    <input type="number" name="qty" id="quantity_wanted_content" value="1" min="1">
                                                </div>
                                                <div id="size_wanted" class="product_attribute">
                                                    <label class="attribute_label">Size</label>
                                                    <div class="input-rule select">
                                                        <span class="input-style">S</span>
                                                        <select name="size" class="size">
                                                            <option value="s" selected="selected">S</option>
                                                            <option value="m">M</option>
                                                            <option value="l">L</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div id="color_wanted" class="product_attribute">
                                                    <label class="attribute_label">Color</label>
                                                    <div class="color-input">
                                                        <div class="input-rule input-radio">
                                                            <span class="input-style" style="background-color: #f5f5dc">Beige</span>
                                                            <input id="beige_color" type="radio" name="color" value="beige">
                                                        </div>
                                                        <div class="input-rule input-radio">
                                                            <span class="input-style input-radio" style="background-color: #ffffff">White</span>
                                                            <input id="white_color" type="radio" name="color" value="white">
                                                        </div>
                                                        <div class="input-rule input-radio">
                                                            <span class="input-style" style="background-color: #434A54">Black</span>
                                                            <input id="black_color" type="radio" name="color" value="black">
                                                        </div>
                                                        <div class="input-rule input-radio">
                                                            <span class="input-style" style="background-color: #F39C11">Orange</span>
                                                            <input id="orange_color" type="radio" name="color" value="orange">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="box-cart-bottom">
                                            <div id="usefull_link_block">
                                                <a style="cursor:pointer;" onclick='addToWishlist(@Model.Product_ID)' title="Add to my wishlist"><i class="fa fa-heart-o"></i>Add to wishlist</a>
                                                @*<a href="#"><i class="fa fa-envelope-o"></i>Send to a friend</a>*@
                                                @*<a href="javascript:print();"><i class="fa fa-print"></i>Print</a>*@
                                            </div>
                                            @if (Model.Stocked_Quantity <= 0)
                                            {
                                                <a style="margin:30px;cursor:pointer;" name="Submit" class="btn btn-default"><i class="fa fa-shopping-cart"></i> Pre-Order</a>
                                            }
                                            else
                                            {
                                                <a onclick="AddCart('@Model.Product_ID')" style="margin:30px;cursor:pointer;" name="Submit" class="btn btn-default"><i class="fa fa-shopping-cart"></i> Add to cart</a>
                                            }
                                        </div>
                                    </form>

                                    @*<div class="share-on-social">
                                            <a href="#" class="share_twitter"><i class="fa fa-twitter"></i>Tweet</a>
                                            <a href="#" class="share_facebook"><i class="fa fa-facebook"></i>Share</a>
                                            <a href="#" class="share_google-plus"><i class="fa fa-google-plus"></i>Google+</a>
                                            <a href="#" class="share_pinterest"><i class="fa fa-pinterest"></i>Pinterest</a>
                                        </div>*@
                                </div>
                            </div>

                        </div>
                    </div>

                    <!-- More information container -->
                    <div class="row">
                        <div class="col-md-12">
                            <div class="information-container product-module">
                                <!-- Information tabs -->
                                <ul class="nav nav-tabs" role="tablist">
                                    <li role="presentation" class="active"><a href="#reviews" aria-controls="reviews" role="tab" data-toggle="tab">Reviews</a></li>
                                    <li role="presentation"><a href="#more" aria-controls="more" role="tab" data-toggle="tab">More info</a></li>
                                    @*<li role="presentation"><a href="#data-sheet" aria-controls="data-sheet" role="tab" data-toggle="tab">Data Sheet</a></li>*@
                                </ul>

                                <div class="tab-content">
                                    <div role="tabpanel" class="tab-pane fade " id="more">
                                        <div class="more-information">
                                            <p>Fashion has been creating well-designed collections since 2010. The brand offers feminine designs delivering stylish separates and statement dresses which have since evolved into a full ready-to-wear collection in which every item is a vital part of a woman's wardrobe. The result? Cool, easy, chic looks with youthful elegance and unmistakable signature style. All the beautiful pieces are made in Italy and manufactured with the greatest attention. Now Fashion extends to a range of accessories including shoes, hats, belts and more!</p>
                                        </div>
                                    </div>
                                    <div role="tabpanel" class="tab-pane fade in active" id="reviews">
                                        <ul class="list-reviews">
                                            @foreach (var item in lstReview)
                                            {

                                                <li class="review">
                                                    <div class="review-heading">
                                                        <p class="review-author">@(string.IsNullOrEmpty(item.NameCreated) ? "Anonymous" : item.NameCreated)</p>
                                                        <div class="rating" itemtype="http://schema.org/Offer" itemscope>
                                                            <div class="star_rating" itemtype="http://schema.org/AggregateRating" itemscope itemprop="aggregateRating">
                                                                @for (int i = 0; i < 5; i++)
                                                                {
                                                                    if (i < item.Rating)
                                                                    {
                                                                        <span class="star star_full"></span>
                                                                    }
                                                                    else
                                                                    {
                                                                        <span class="star"></span>
                                                                    }
                                                                }
                                                                <meta itemprop="worstRating" content="0">
                                                                <meta itemprop="ratingValue" content="4">
                                                                <meta itemprop="bestRating" content="5">
                                                            </div>
                                                        </div>
                                                        <em class="rating_date">@item.CreatedAt</em>
                                                    </div>
                                                    <div class="review-body">
                                                        <div class="row">
                                                            <div class="col-md-10">
                                                                <h5 class="review-title">@item.Title</h5>
                                                                <p class="review-comment">@item.Content</p>
                                                            </div>
                                                            @if (user != null && user.Id == item.UId)
                                                            {
                                                                <div class="col-md-2"><div class="text-right commnet-operator" hidden><i onclick="ShowEditReview('@item.Id')" title="Edit review" class="glyphicon glyphicon-edit icon-comment-opera"></i><i title="Delete review" onclick="ConfirmDeleteProductReview('@item.Id')" class="glyphicon glyphicon-remove-circle icon-comment-opera"></i></div></div>
                                                            }
                                                        </div>
                                                    </div>
                                                </li>
                                            }
                                        </ul>
                                        <a style="cursor:pointer" onclick="Writereview()" class="btn btn-default" data-width="630">Write your review!</a>

                                    </div>
                                    <div role="tabpanel" class="tab-pane fade" id="data-sheet">
                                        <table class="data-table">
                                            <tr>
                                                <td>Compositions</td>
                                                <td>Viscose</td>
                                            </tr>
                                            <tr>
                                                <td>Styles</td>
                                                <td>Casual</td>
                                            </tr>
                                            <tr>
                                                <td>Properties</td>
                                                <td>Maxi Dress</td>
                                            </tr>
                                        </table>
                                    </div>
                                    <div role="tabpanel" class="tab-pane fade" id="reviews">
                                        <ul class="list-reviews">
                                            <li class="review">
                                                <div class="review-heading">
                                                    <p class="review-author">John Doe</p>
                                                    <div class="rating" itemtype="http://schema.org/Offer" itemscope>
                                                        <div class="star_rating" itemtype="http://schema.org/AggregateRating" itemscope itemprop="aggregateRating">
                                                            <span class="star star_full"></span>
                                                            <span class="star star_full"></span>
                                                            <span class="star star_full"></span>
                                                            <span class="star star_full"></span>
                                                            <span class="star"></span>
                                                            <meta itemprop="worstRating" content="0">
                                                            <meta itemprop="ratingValue" content="4">
                                                            <meta itemprop="bestRating" content="5">
                                                        </div>
                                                    </div>
                                                    <em class="rating_date">08/13/2015</em>
                                                </div>
                                                <div class="review-body">
                                                    <h5 class="review-title">Great Product</h5>
                                                    <p class="review-comment">Long printed dress with thin adjustable straps. V-neckline and wiring under the bust with ruffles at the bottom of the dress.</p>
                                                </div>
                                            </li>
                                        </ul>
                                        <a style="cursor:pointer" onclick="$('#reviewProductModal').modal('show');" class="btn btn-default" data-width="630">Write your review!</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--------------- Related product module --------------->
                <div class="module shop-widget related-widget">
                    <h4 class="module-title"><i class="fa fa-check" aria-hidden="true"></i>@Model.Products_Related.Count Other products in the same category</h4>
                    <div class="module-content">
                        <div id="related-carousel" class="carousel-item-4 owl-carousel">
                            @foreach (var item in Model.Products_Related)
                            {
                                <div class="product">
                                    <div class="product-thumb">
                                        <a href="#" class="thumb-link">
                                            <img class="hover-img" src="@(domain + item.Original_Img)" alt="Product Hover">
                                            <img class="front-img" src="@(domain + item.Original_Img)" alt="Product Front">
                                        </a>
                                        <div class="attr-group">
                                            <span class="new">New</span>
                                            <span class="sale">Sale!</span>
                                        </div>
                                    </div>
                                    <div class="product-info">
                                        <h5 class="product-name"><a href="#">Funnky Heightwair</a></h5>
                                        <div class="rating" itemtype="http://schema.org/Offer" itemscope>
                                            <div class="star_rating" itemtype="http://schema.org/AggregateRating" itemscope itemprop="aggregateRating">
                                                <span class="star star_full"></span>
                                                <span class="star star_full"></span>
                                                <span class="star star_full"></span>
                                                <span class="star star_full"></span>
                                                <span class="star"></span>
                                                <meta itemprop="worstRating" content="0">
                                                <meta itemprop="ratingValue" content="4">
                                                <meta itemprop="bestRating" content="5">
                                            </div>
                                        </div>
                                        <p class="price">
                                            <span class="regular-price">$80.99</span>
                                            <span class="discount-price">$60.80</span>
                                            <span class="reduction">-25%</span>
                                        </p>
                                    </div>
                                </div>
                            <div class="product">
                                <div class="product-thumb">
                                    <a href="#" class="thumb-link">
                                        <img class="hover-img" src="@(domain + item.Original_Img)" alt="Product Hover">
                                        <img class="front-img" src="@(domain + item.Original_Img)" alt="Product Front">
                                    </a>
                                    <div class="attr-group">
                                        <span class="new">New</span>
                                        <span class="sale">Sale!</span>
                                    </div>
                                </div>
                                <div class="product-info">
                                    <h5 class="product-name"><a href="#">Funnky Heightwair</a></h5>
                                    <div class="rating" itemtype="http://schema.org/Offer" itemscope>
                                        <div class="star_rating" itemtype="http://schema.org/AggregateRating" itemscope itemprop="aggregateRating">
                                            <span class="star star_full"></span>
                                            <span class="star star_full"></span>
                                            <span class="star star_full"></span>
                                            <span class="star star_full"></span>
                                            <span class="star"></span>
                                            <meta itemprop="worstRating" content="0">
                                            <meta itemprop="ratingValue" content="4">
                                            <meta itemprop="bestRating" content="5">
                                        </div>
                                        <p class="price">
                                            <span class="regular-price">$@item.Selling_Price</span>
                                            <span class="discount-price">$@item.Promotion_Price</span>
                                            <span class="reduction">@item.Promotion_Name</span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function AddCart(id) {
        var count = $('#quantity_wanted_content').val();
        $.ajax({
            url: "/Product/AddCart",
            data: { id: id, count: count },
            success: function (rs) {
                window.location.href = "/Product/Checkout";
            }
        });
    }
</script>