@model List<SBS_Ecommerce.Models.Blog>
@{
    ViewBag.Title = "Blog";
    SBS_Ecommerce.Framework.Utilities.CompanyUtil cpUT = new SBS_Ecommerce.Framework.Utilities.CompanyUtil();
    var pathName = cpUT.GetPathTheme();
    Layout = pathName + "/_Layout.cshtml";
    int total = ViewBag.Total;
    int numberOfPage = ViewBag.NumberOfPage;
    int currentPage = ViewBag.CurrentPage;
    string showItem = ViewBag.ShowItem;
    int maxPage = 2;
}

<link href="~/Content/Theme/Theme3/css/blog.css" rel="stylesheet" />
<!--------------- Breadcumb --------------->
<div class="breadcrumb-wrap">
    <div class="container">
        <a class="breadcrumb-link" href="@Url.Content("~/Home/Index")" title="Return to Home">Home</a><i class="breadcrumb-arrow fa fa-angle-right"></i><span class="breadcrumb-current">All Blog Post</span>
    </div>
</div>

<!--------------- Main wrap --------------->
<div class="main-wrap">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-sm-4">

                <!--------------- Special offers --------------->
                <div class="module blog-widget recent-widget secondary-module">
                    <h4 class="module-title linked-title"><a href="#"><i class="fa fa-image" aria-hidden="true"></i>Recent Posts</a><span class="toggle-btn"></span></h4>
                    <div class="module-content mobile-collapse">
                        <ul class="recent-list">
                            @foreach (var item in Model)
                            {
                                <li class="recent-post">
                                    <a href="@Url.Content("~/Blog/Detail/")@item.BlogId" class="recent-post-thumb">
                                        <img src="@Url.Content("~"+(!string.IsNullOrEmpty(item.Thumb)?item.Thumb : "/Content/img/blog/none-img.png"))" alt="...">
                                    </a>
                                    <div class="recent-post-content">
                                        <h5><a href="@Url.Content("~/Blog/Detail/")@item.BlogId">@item.Title</a></h5>
                                        <span class="date">@item.UpdatedAt</span>
                                    </div>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-lg-9 col-sm-8">

                <!--------------- Main Product Widget --------------->
                <div class="article-wrap">
                    <div class="row item-blog">
                        @foreach (var item in Model)
                        {
                            <div class="col-md-6" style="height:483px;">
                                <article class="post">
                                    <a href="@Url.Content("~/Blog/Detail/")@item.BlogId" class="article-thumbnail">
                                        <img src="@Url.Content("~"+(!string.IsNullOrEmpty(item.Thumb)?item.Thumb : "/Content/img/blog/none-img.png"))" alt="...">
                                    </a>
                                    <h4 class="article-title"><a href="@Url.Content("~/Blog/Detail/")@item.BlogId">@(!string.IsNullOrEmpty(item.Title) ? (item.Title.Length > 110 ? (item.Title.Substring(0, 110) + "  ...") : item.Title) : item.Title )</a></h4>
                                    @*<p class="article-metas">
                                            <span class="meta category">
                                                <i class="fa fa-tags" aria-hidden="true"></i>
                                                <a href="#">Uncategories</a>
                                            </span>
                                            <span class="meta commentcount">
                                                <i class="fa fa-comments" aria-hidden="true"></i>
                                                <a href="#">0 Comments</a>
                                            </span>
                                            <span class="meta view">
                                                <i class="fa fa-eye" aria-hidden="true"></i>
                                                <span>View (408)</span>
                                            </span>
                                            <span class="meta author">
                                                <span>Author:</span>
                                                <span>Field Themes</span>
                                            </span>
                                        </p>*@
                                    <div class="article-content">
                                        <p>@(Html.Raw(System.Text.RegularExpressions.Regex.Replace(item.BlogContent, "<.*?>", String.Empty).Length > 200 ? System.Text.RegularExpressions.Regex.Replace(item.BlogContent, "<.*?>", String.Empty).Substring(0, 200) : System.Text.RegularExpressions.Regex.Replace(item.BlogContent, "<.*?>", String.Empty))) <a style="color:red;" href="@Url.Content("~/Blog/Detail/")@item.BlogId">...Read more</a></p>
                                    </div>
                                </article>
                            </div>
                        }

                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <!---------------- Product pagination --------------->
                            <div class="pagination-bar">
                                <div class="row">
                                    <div class="pagination-content">
                                        <div class="col-md-6 col-sm-8">
                                            <ul class="paginations">
                                                @if (currentPage <= 1)
                                                {
                                                    <li class="pagination prev disabled"><a><i class="fa fa-angle-left" aria-hidden="true"></i></a></li>
                                                }
                                                else
                                                {
                                                    <li class="pagination prev"><a href="@Url.Content("~/Blog/Index?page=")@(currentPage-1)"><i class="fa fa-angle-left" aria-hidden="true"></i></a></li>
                                                }

                                                @for (int i = (currentPage > maxPage ? currentPage - maxPage + 1 : 1); i <= (currentPage > maxPage ? currentPage : (numberOfPage>maxPage?maxPage:numberOfPage)); i++)
                                                {
                                                    if (i == currentPage)
                                                    {
                                                        <li class="pagination current"><a href="@Url.Content("~/Blog/Index?page=")@(i)">@(i)</a></li>
                                                    }
                                                    else
                                                    {
                                                        <li class="pagination"><a href="@Url.Content("~/Blog/Index?page=")@(i)">@(i)</a></li>
                                                    }
                                                }

                                                @if ((currentPage > maxPage ? currentPage : maxPage) < numberOfPage)
                                                {
                                                    <span>....</span>
                                                }

                                                @if (currentPage < numberOfPage)
                                                {
                                                    <li class="pagination next"><a href="@Url.Content("~/Blog/Index?page=")@(currentPage+1)"><i class="fa fa-angle-right" aria-hidden="true"></i></a></li>
                                                }
                                                else
                                                {
                                                    <li class="pagination next disabled"><a><i class="fa fa-angle-right" aria-hidden="true"></i></a></li>
                                                }
                                            </ul>
                                        </div>
                                        <div class="col-md-6 col-sm-4">
                                            <p class="product-count">Showing @showItem of @total items</p>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
