@model SBS_Ecommerce.Models.Blog
@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Theme/Theme3/_Layout.cshtml";
    List<SBS_Ecommerce.Models.Blog> recentBlog = (List<SBS_Ecommerce.Models.Blog>)ViewBag.RecentBlog;
    List<SBS_Ecommerce.Models.BlogComment> lstComment = ViewBag.Comment;

}
<!--------------- Breadcumb --------------->
<div class="breadcrumb-wrap">
    <div class="container">
        <a class="breadcrumb-link" href="/Home/Index" title="Return to Home">Home</a><i class="breadcrumb-arrow fa fa-angle-right"></i><a class="breadcrumb-link" href="/Blog/Index" title="Return to Blog">Blog</a><i class="breadcrumb-arrow fa fa-angle-right"></i><span class="breadcrumb-current">@Model.Title</span>
    </div>
</div>

<!--------------- Main wrap --------------->
<div class="main-wrap">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-4">

                <!--------------- Recent Blog Post --------------->
                <div class="module blog-widget recent-widget secondary-module">
                    <h4 class="module-title linked-title"><a href="#"><i class="fa fa-image" aria-hidden="true"></i>Recent Posts</a><span class="toggle-btn"></span></h4>
                    <div class="module-content mobile-collapse">
                        <ul class="recent-list">
                            @if (recentBlog != null)
                            {
                                foreach (var item in recentBlog)
                                {
                                    <li class="recent-post">
                                        <a href="/Blog/Detail/@item.BlogId" class="recent-post-thumb">
                                            <img src="@item.Thumb" alt="...">
                                        </a>
                                        <div class="recent-post-content">
                                            <h5><a href="/Blog/Detail/@item.BlogId">@item.Title</a></h5>
                                            <span class="date">@item.UpdatedAt</span>
                                        </div>
                                    </li>
                                }
                            }
                        </ul>
                    </div>
                </div>

            </div>
            <div class="col-md-9 col-sm-8">

                <!--------------- Main Product Widget --------------->
                <div class="article-wrap">
                    <div class="row">
                        <div class="col-md-12">
                            <article class="post single-post">
                                <div class="article-thumbnail">
                                    <img src="@(Model.Thumb != null ? Model.Thumb : "/Content/img/blog/none-img.png" )" alt="...">
                                </div>
                                <h4 class="article-title">@Model.Title</h4>
                                <p class="article-metas">
                                    <span class="meta category">
                                        <i class="fa fa-tags" aria-hidden="true"></i>
                                        <a href="#">Uncategories</a>
                                    </span>
                                    <span class="meta commentcount">
                                        <i class="fa fa-comments" aria-hidden="true"></i>
                                        <a href="#">0 Comments</a>
                                    </span>
                                    <span class="meta view">
                                        <i class="fa fa-eye" aria-hidden="true"></i>
                                        <span>View (408)</span>
                                    </span>
                                    <span class="meta author">
                                        <span>Author:</span>
                                        <span>Field Themes</span>
                                    </span>
                                </p>
                                <div class="article-content">
                                    <p>@Html.Raw(Model.BlogContent)</p>
                                </div>
                            </article>
                        </div>
                        <div class="col-md-12">
                            <div style="float:left;padding-right:10px;">
                                <div id="fb-root"></div>
                                <script>
                                    (function (d, s, id) {
                                        var js, fjs = d.getElementsByTagName(s)[0];
                                        if (d.getElementById(id)) return;
                                        js = d.createElement(s); js.id = id;
                                        js.src = "//connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v2.8&appId=156185678238922";
                                        fjs.parentNode.insertBefore(js, fjs);
                                    }(document, 'script', 'facebook-jssdk'));</script>
                                <div class="fb-share-button" data-href="@HttpContext.Current.Request.Url.AbsoluteUri" data-layout="button_count" data-size="small" data-mobile-iframe="true"><a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse"></a></div>
                            </div>
                            <div style="float:left;padding-right:10px;">
                                <a href="https://twitter.com/share" class="twitter-share-button" data-show-count="false">Tweet</a>
                                <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
                            </div>
                            <div style="background: #1b95e0;float: left;padding-top: 2px;width: 60px;padding-left: 8px;height: 20px;border-radius: 3px;cursor:pointer;">
                                <a href="mailto:?subject=@Model.Title&amp;body=Check out this site @HttpContext.Current.Request.Url.AbsoluteUri"
                                   title="Share by Email"><i style="color:white;font-size:12px" class="glyphicon glyphicon-envelope"></i><span style="color:white;margin:4px;font-size:12px">Email</span></a> 
                            </div>
                        </div>

                        <!--------------- Comment area --------------->
                        <div class="col-md-12">
                            <div class="comments-area">
                                <h3 class="comment-title"><span>@(lstComment != null ? lstComment.Count : 0)</span> Comments</h3>

                                <ul class="comments">
                                    @if (lstComment != null)
                                    {
                                        foreach (var item in lstComment)
                                        {
                                            <li class="comment">
                                                <div class="comment-avatar">
                                                    <img src="@(item.User != null && item.User.Avatar != null ? item.User.Avatar : "/Content/Theme/Theme3/img/client/default_avatar.png")" alt="Commenter Pic">
                                                </div>
                                                <div class="comment-body">
                                                    <h5 class="comment-name">@item.Name</h5>/<span class="comment-date">@item.UpdatedAt</span>
                                                    <p class="comment-content">@item.Content</p>
                                                </div>
                                            </li>
                                        }
                                    }
                                  
                                </ul>

                                <form id="commentform" class="basicfields commentform" action="/Blog/AddComment" method="post">
                                    <h3>Leave Your Comments</h3>
                                    <p>Your email address will not be published. Required fields are marked *</p>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <input type="text" id="name" placeholder="Full Name *" pattern="[A-Za-z].{3,50}" title="Only caps and small letters allowed" required="">
                                        </div>
                                        <div class="col-md-6">
                                            <input type="email" id="email" placeholder="Email *" pattern="^[A-Za-z@0-9._%+-]+[A-Za-z0-9.-]+\.[A-Za-z]{2,}$" title="Enter a valid email" required="">
                                        </div>
                                        <div class="col-md-12">
                                            <textarea id="message" placeholder="Message" rows="6"></textarea>
                                        </div>
                                        <input id="blogID" value="@Model.BlogId" style="display:none;"/>
                                        <div class="col-md-12">
                                            <input class="btn btn-default" type="submit" value="Submit Comment">
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<script>
    $("#commentform").submit(function (e) {
        $.ajax({
            url: '/Blog/AddComment',
            type:'POST',
            data: { name: $('#name').val(), email: $('#email').val(), message: $('#message').val(), blogID: $('#blogID').val() },
            success: function (rs) {
                $('.comments-area').find('.comments').append(rs);
                $('#name').val('');
                email: $('#email').val('');
                message: $('#message').val('');
                var count = $('.comments-area').find('.comment-title').find('span').text();
                var newCount = parseInt(count) + 1;
                $('.comments-area').find('.comment-title').find('span').text(newCount);
            }
           
        })
        return false;
    });
</script>