@using SBS_Ecommerce.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
    Layout = "~/Views/Theme/Theme3/_Layout.cshtml";
}
<div class="main-wrap static-page">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="page-heading">
                    <h4 class="page-title">Shopping-cart Summary</h4>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <ul class="cart-steps">
                    <li class="cart-step summery complete">01. Summary</li>
                    <li class="cart-step account current">02. Sign in</li>
                    <li class="cart-step address">03. Address</li>
                    <li class="cart-step payment">04. Payment</li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="display-flex" style="margin-bottom: 15px">
                <div class="col-sm-6">
                    @using (Html.BeginForm("Register", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "basicfields account-form", role = "form", @id = "registerForm" }))
                    {
                        @Html.AntiForgeryToken()
                        <h4 class="form-title">Create an account</h4>
                        <p>Please enter your email address to create an account</p>
                        @Html.ValidationSummary("", new { @class = "text-danger" })
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "Email address" })
                        @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control", @placeholder = "First Name" })
                        @Html.TextBoxFor(m => m.LastName, new { @class = "form-control", @placeholder = "Last Name" })

                        @*<div class="form-group">
                            @Html.LabelFor(model => model.Gender, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                <span class="male">
                                    @Html.RadioButton("Gender", "M", (m => m.Gender == "M"), new { id = "gender-male" })
                                    <label class="forcheckbox" for="gender-male">Male</label>
                                </span>
                                <span class="female">
                                    @Html.RadioButton("Gender", "F", (Model.Gender == "F"), new { id = "gender-female" })
                                    <label class="forcheckbox" for="gender-female">Female</label>
                                </span>
                            </div>
                        </div>*@

                        @Html.TextBoxFor(m => m.ContactNum, new { @class = "form-control", @placeholder = "Contact Num" })
                        @Html.TextBoxFor(m => m.Birthday)
                        //@Html.TextBoxFor("", String.Format("{0:d}", m => m.Birthday()),new { @class = "datefield", type = "date" })
                        //@Html.TextBoxFor(m => m.Birthday, new { @class = "form-control", @placeholder = "Birthday" })
                        @Html.TextBoxFor(m => m.Language, new { @class = "form-control", @placeholder = "Language" })
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Password" })
                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", @placeholder = "Confirm password" })
                        <br />
                        <button type="submit" name="signup" class="btn btn-default"><i class="fa fa-user" aria-hidden="true"></i> Create an account</button>
                    }
                </div>
                <div class="col-sm-6">
                   @using (Html.BeginForm("Login", "Account", new { ReturnUrl =  ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "basicfields account-form", role = "form", @id = "loginForm" }))
                   {
                        @Html.AntiForgeryToken()
                        <h4 class="form-title">Already Registered?</h4>
                        <div class="validation-summary-errors text-danger" data-valmsg-summary="true">
                            @ViewBag.Message
                        </div>
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger", @placeholder = "Email address" })
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger", @placeholder = "Password" })
                        <p> <a href="#" class="resetlink">Forgot your password?</a></p>
                        <button type="submit" class="btn btn-default"><i class="fa fa-lock" aria-hidden="true"></i> Sign in</button>
                        <a href="@Url.Content("~/Account/ExternalLogin?provider=Facebook")" class="btn btn-social btn-facebook"> <i class="fa fa-facebook"> </i> Sign in with Facebook </a>
                   }
                </div>
            </div>
        </div>
    </div>
</div>