@using SBS_Ecommerce.Models.DTOs;
@using SBS_Ecommerce.Framework;
@model IEnumerable<SBS_Ecommerce.Models.DTOs.ShippingAddressDTO>
@{
    var companyID = SBS_Ecommerce.Framework.SBSCommon.Instance.GetCompany().Company_ID;
    SBS_Ecommerce.Framework.Utilities.CompanyUtil cpUT = new SBS_Ecommerce.Framework.Utilities.CompanyUtil();
    var themeName = cpUT.GetThemeName();
    Layout = "~/Views/Theme/" + companyID + "/" + themeName + "/Account/_MyProfile.cshtml";
    List<Category> lstCategory = SBSCommon.Instance.GetCategories();
}
<div class="panel panel-default form-panel">
    <div class="panel-heading">
        <h3>My account - Addresses</h3>
    </div>
    <div class="panel-body address-list-page">
        @if (Model.Count() > 0)
        {
            <div class="address-list">
                @foreach (var item in Model)
                {
                    <div class="section address-item">
                        <div id="legend">
                            <div class="buttons pull-right">
                                <input type="button" class="button-2 edit-address-button btn btn-default" onclick="location.href='/Account/EditShippingAddress/@item.Id'" value="Edit">
                                <input type="button" class="button-2 delete-address-button btn btn-default" onclick="DeleteCustomerAddress('@item.Id')" value="Delete">
                            </div>
                        </div>
                        <ul class="info">
                            <li class="name">
                                <h5><strong>@item.ReceiverFirstName @item.ReceiverLastName</strong></h5>
                            </li>   
                            <li class="address">
                                @item.Address
                            </li>
                            <li class="city-state-zip">
                                @item.City , @item.City, @item.ZipCode
                            </li>
                            <li class="country">
                                @item.Country
                            </li>
                            <li class="phone">
                                @item.Phone
                            </li>
                        </ul>

                    </div>
                }

            </div>
        }
        else
        {
            <span>You have no address</span>
        }
        <div class="add-button">
            <input type="button" class="button-1 add-address-button btn btn-success" onclick="location.href = '@Url.Content("~/Account/AddShippingAddress")'" value="Add new">
        </div>
    </div>
</div>

