@using SBS_Ecommerce.Models.Base;
@using SBS_Ecommerce.Models.DTOs;
@using SBS_Ecommerce.Framework;
@using SBS_Ecommerce.Framework.Configurations;
@{
    var domain = SBSConstants.Domain;
    Cart cart = (Cart)Session["Cart"];
    Company company = SBSCommon.Instance.GetCompany();
}

<a href="@Url.Content("~/Product/Checkout")" class="cartlink">
    <i class="fa fa-shopping-cart" aria-hidden="true"></i>Cart<span class="cart-subtotal"> @(cart != null && cart.LstOrder != null && cart.LstOrder.Count > 0 ? "(" + cart.LstOrder.Count + ")" : "(0)")</span>
</a>
@if (cart != null && !cart.LstOrder.IsNullOrEmpty())
{
    <div class="on-minicart">
        <dl class="cart-products">
            @foreach (var item in cart.LstOrder)
            {
                <dt class="cart-product">
                    <a class="cart-thumb" href="#">
                        <img style="width:50px;" src="@(domain + item.Product.Small_Img)" alt="Cart Thumb">
                    </a>
                    <div class="cart-info">
                        <div class="product-name">
                            <span class="quantity-formated">
                                <span class="quantity">@item.Count</span>x
                            </span>
                            <a href="javascript:;">@item.Product.Product_Name</a>
                        </div>
                        <div class="product-attributes">
                            @if (item.Product.Allowable_PreOrder)
                            {
                                <label>Pre Order Notice:</label>
                                <p style="color: #00aa00">Avalaible in a month</p>
                            }
                        </div>
                        <span class="price">@company.Currency_Code @((item.Product.Promotion_Price != null && item.Product.Promotion_Price >= 0 ? item.Product.Promotion_Price : item.Product.Selling_Price) * item.Count)</span>
                    </div>
                    <span class="remove-link">
                        <a style="cursor:pointer;" onclick="removeCartHome('@item.Product.Product_ID')"><i class="fa fa-times-circle" aria-hidden="true"></i></a>
                    </span>
                </dt>
                <dd></dd>
            }
        </dl>
        <p class="cart-no-product">No products</p>
        <div class="cart-prices">
            <div class="cart-fee-wrap cart-shipping-fee">
                <span class="cart-text">Shipping</span>
                <span class="cart-fee price">@company.Currency_Code @(cart.ShippingFee < 0 ? 0 : cart.ShippingFee)</span>
            </div>
            <div class="cart-fee-wrap cart-total-fee">
                <span class="cart-text">Total</span>
                <span class="cart-fee price">@company.Currency_Code @cart.Total</span>
            </div>
        </div>
        <div class="cart-checkout">
            <a href="@Url.Content("~/Product/Checkout")" class="btn btn-default checkout-btn">Check out<i class="fa fa-angle-right right"></i></a>
        </div>
    </div>
}

<script>
    $(function () {
        $(".cart-products").mCustomScrollbar({
            theme: "dark"
        });
    });
</script>