@using SBS_Ecommerce.Models.DTOs;
@using SBS_Ecommerce.Models.Base;
@{
    Layout = "~/Views/Theme/Theme3/_Layout.cshtml";
    Cart cart = (Cart)Session["Cart"];
    var company = SBS_Ecommerce.Framework.SBSCommon.Instance.GetCompany();
}

<!--------------- Main wrap --------------->
<div class="main-wrap static-page">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="page-heading">
                    <h4 class="page-title">Shopping-cart Summary</h4>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <ul class="cart-steps">
                    <li class="cart-step summery current">01. Summary</li>
                    <li class="cart-step account">02. Sign in</li>
                    <li class="cart-step address">03. Address</li>
                    <li class="cart-step payment">04. Payment</li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="checkout-page">
                    <h4>My Shopping Cart</h4>
                    <div class="panel-body">
                        @if (cart != null && cart.LstOrder != null && cart.LstOrder.Count > 0)
                        {
                            <table id="cart_summary" class="cart_summery">
                                <tr>
                                    <th class="cart_product">Product</th>
                                    <th class="cart_description">Description</th>
                                    <th class="cart_avail">Availability</th>
                                    <th class="cart_unit_price">Unit price</th>
                                    <th class="cart_quantity">Qty</th>
                                    <th class="cart_delete">&nbsp;</th>
                                    <th class="cart_total">Total</th>
                                </tr>

                                @foreach (var item in cart.LstOrder)
                                {
                                    <tr data-id="@item.Product.Product_ID">
                                        <td class="cart_product_content"><img src="@("http://qa.bluecube.com.sg/pos3v2-wserv" + item.Product.Small_Img)" alt="Product on cart"></td>
                                        <td class="cart_desc_content">
                                            <h5>@item.Product.Product_Name</h5>
                                            <p class="cart-sku">SKU: demo_3</p>
                                            @*<p class="cart_size">Size: S</p>
                                                <p class="cart_color">Color: Orange</p>*@
                                        </td>
                                        <td class="cart_avail_content"><span class="availability-status label label-success">In stock</span></td>
                                        <td class="cart_unit_price_content" data-price="@item.Product.Selling_Price"><span class="price">@company.Currency_Code @item.Product.Selling_Price</span></td>
                                        <td class="cart_quantity_content"><input class="coutItem" type="number" min="1" value="@item.Count" data-value="@item.Count"></td>
                                        <td class="cart_delete_item"><a style="cursor:pointer;" onclick="removeFromCart('@item.Product.Product_ID')" class="deleteItem"><i class="fa fa-trash"></i></a></td>
                                        <td class="cart_total_item_price"><span class="price">@company.Currency_Code @(item.Product.Selling_Price * item.Count)</span></td>
                                    </tr>
                                }

                                <tr class="cart_total_price">
                                    <td rowspan="3" colspan="3" id="cart_voucher" class="cart_voucher"></td>
                                    <td colspan="3" class="text-right">Total products</td>
                                    <td class="price" id="total_product"><span class="price">@company.Currency_Code @cart.Total</span></td>
                                </tr>
                                <tr class="cart_total_end_price">
                                    <td colspan="3" class="total_price_container text-right"> <span>Total</span></td>
                                    <td class="price" id="total_price_container">
                                        <span class="total_price price">@company.Currency_Code @(cart.Total )</span>
                                    </td>
                                </tr>
                            </table>
                        }
                        else
                        {
                            <h5>Your Shopping Cart is empty.</h5>
                        }
                    </div>
                </div>
            </div>
            <div class="next-wrap">
                <div class="col-sm-6">
                    <a href="/Home/Index" class="btn btn-default"><i class="fa fa-angle-left"></i> Continue shopping</a>
                </div>
                <div class="col-sm-6 text-right">
                    @if (cart != null && cart.LstOrder != null && cart.LstOrder.Count > 0)
                    {
                        <a href="@Url.Content("~/Orders/CheckoutSummary")" class="btn btn-default">Process to checkout <i class="fa fa-angle-right"></i></a>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $('.coutItem').on('input', function () {
        var element = $(this).parent().parent();
        count = $(this).val();

        if (count > $(this).attr("data-value")) {
            $.ajax({
                url: '@Url.Action("AddCart","Product")',
                data: { id: $(element).attr('data-id'), count: 1 },
                success: function () {

                }
            });
            $(this).attr("data-value", count);
        }
        else {
            $.ajax({
                url: '@Url.Action("RemoveItemCart", "Product")',
                data: { id: $(element).attr('data-id'), count: 1 },
                success: function () {

                }
            });
            $(this).attr("data-value", count);
        }

        $(element).find('.cart_total_item_price').find('span').text("$" + (parseFloat(count) * parseFloat($(element).find('.cart_unit_price_content').attr('data-price'))));
        var total = 0;
        $('#total_product').parent().parent().find('.cart_unit_price_content').each(function () {
            total = total + parseFloat($(this).attr('data-price')) * parseFloat($(this).parent().find('.coutItem').val());
        });
        // alert(total);
        $('#total_product').find('span').text("$" + total);
        $('#total_price_container').find('span').text('$' + (total));
    });
</script>