@using SBS_Ecommerce.Models.DTOs;
@using SBS_Ecommerce.Framework;
@using SBS_Ecommerce.Framework.Configurations;
@model List<Product>
@{
    var domain = SBSConstants.Domain;
    var maxItem = SBSConstants.MaxItem;
    int count = SBSCommon.Instance.GetTempSearchProducts().Count;
    int maxPage = (count % maxItem > 0 ? count / maxItem + 1 : count / maxItem);
}
<div class="row">
    <div id="mode_switcher" class="product-container">
        @if (!Model.IsNullOrEmpty())
        {
            foreach (var item in Model)
            {
                <div class="product col-lg-4 col-sm-6 new custom">
                    <div class="product-thumb">
                        <a href="@Url.Action("Details", "Product", new { id = item.Product_ID})" class="thumb-link">
                            <img class="hover-img" src="@(domain + item.Small_Img)" alt="Product Hover">
                            <img class="front-img" src="@(domain + item.Small_Img)" alt="Product Front">
                        </a>
                        <div class="attr-group">
                            <span class="new">New</span>
                            <span class="sale">Sale!</span>
                        </div>
                        <div class="product-btn">
                            <a class="to-cart" style="cursor:pointer;" onclick="addToCart('@item.Product_ID', 1)"><i class="fa fa-shopping-cart"></i><span class="tooltip">Add To Cart</span></a>
                            <a class="to-wish" style="cursor:pointer;" onclick='addToWishlist(@item.Product_ID)'><i class="fa fa-heart"></i><span class="tooltip">Add To Wishlist</span></a>
                        </div>
                    </div>
                    <div class="product-info">
                        <h5 class="product-name"><a href="@Url.Action("Details", "Product", new { id = item.Product_ID})">@item.Product_Name</a></h5>
                        <div class="rating" itemtype="http://schema.org/Offer" itemscope>
                            <div class="star_rating" itemtype="http://schema.org/AggregateRating" itemscope itemprop="aggregateRating">
                                @for (int i = 0; i < 5; i++)
                                {
                                    if (i < item.Star_Rating)
                                    {
                                        <span class="star star_full"></span>
                                    }
                                    else
                                    {
                                        <span class="star"></span>
                                    }
                                }
                                <meta itemprop="worstRating" content="0">
                                <meta itemprop="ratingValue" content="4">
                                <meta itemprop="bestRating" content="5">
                            </div>
                        </div>
                        @if (item.Promotion_Price > 0)
                        {
                            <p class="price">$@item.Promotion_Price</p>
                        }
                        else
                        {
                            <p class="price">$@item.Selling_Price</p>
                        }
                        <p class="product-description">@item.Description</p>
                        <div class="product-btn list-view-btn">
                            <a class="to-cart" style="cursor:pointer;" onclick="addToCart('@item.Product_ID', 1)"><i class="fa fa-shopping-cart"></i><span class="tooltip">Add To Cart</span></a>
                            <a class="to-wish" style="cursor:pointer;" onclick='addToWishlist(@item.Product_ID)'><i class="fa fa-heart"></i><span class="tooltip">Add To Wishlist</span></a>
                        </div>
                    </div>
                </div>
            }
        }
    </div>
</div>
<!---------------- Product pagination --------------->
<div class="pagination-bar">
    <div class="row">
        <div class="pagination-content">
            <div class="col-md-3 col-sm-4">
                @if (Model.IsNullOrEmpty())
                {
                    <p class="product-count">Nothing to show</p>
                }
                else
                {
                    <p class="product-count">Showing 1/@maxPage of @maxPage pages</p>
                }
            </div>
            @if (!Model.IsNullOrEmpty())
            {
                <div class="col-md-6 col-sm-5">
                    <ul class="paginations">
                        <li class="pagination prev disabled"><a style="cursor:pointer" onclick="navigatePage(this, @maxPage)" data-type="prev"><i class="fa fa-angle-left" aria-hidden="true"></i></a></li>
                        @{
                            for (int i = 0; i < maxPage; i++)
                            {
                                if (i == 0)
                                {
                                    <li class="pagination current"><a class="page_nav" onclick="navigatePage(this, @maxPage)" style="cursor:pointer">@(i + 1)</a></li>
                                }
                                else
                                {
                                    <li class="pagination"><a class="page_nav" onclick="navigatePage(this, @maxPage)" style="cursor:pointer">@(i + 1)</a></li>
                                }
                            }
                            if (maxPage == 1)
                            {
                                <li class="pagination next disabled"><a style="cursor:pointer" onclick="navigatePage(this, @maxPage)" data-type="next"><i class="fa fa-angle-right" aria-hidden="true"></i></a></li>
                            }
                            else
                            {
                                <li class="pagination next"><a style="cursor:pointer" onclick="navigatePage(this, @maxPage)" data-type="next"><i class="fa fa-angle-right" aria-hidden="true"></i></a></li>
                            }
                        }
                    </ul>
                    <input id="currentPage" hidden="hidden" value="1" />
                </div>
                            }
        </div>
    </div>
</div>