 <!-------------- Our brands --------------->
<div class="row">
    <div class="col-md-12">
        <div class="module brand-widget">
            <h4 class="module-title"><i class="fa fa-globe" aria-hidden="true"></i>Our brands</h4>
            <div class="module-content">
                <div id="brand-carousel" class="brand-carousel owl-carousel">
                    <a class="brand" href="#"><img src="@Url.Content("~/Content/Theme/Theme3/img/brand/brand-1.png")" alt="brand logo"></a>
                    <a class="brand" href="#"><img src="@Url.Content("~/Content/Theme/Theme3/img/brand/brand-2.png")" alt="brand logo"></a>
                    <a class="brand" href="#"><img src="@Url.Content("~/Content/Theme/Theme3/img/brand/brand-3.png")" alt="brand logo"></a>
                    <a class="brand" href="#"><img src="@Url.Content("~/Content/Theme/Theme3/img/brand/brand-4.png")" alt="brand logo"></a>
                    <a class="brand" href="#"><img src="@Url.Content("~/Content/Theme/Theme3/img/brand/brand-5.png")" alt="brand logo"></a>
                    <a class="brand" href="#"><img src="@Url.Content("~/Content/Theme/Theme3/img/brand/brand-1.png")" alt="brand logo"></a>
                    <a class="brand" href="#"><img src="@Url.Content("~/Content/Theme/Theme3/img/brand/brand-2.png")" alt="brand logo"></a>
                </div>
            </div>
        </div>
    </div>
</div>
