@using SBS_Ecommerce.Models.Base
@using SBS_Ecommerce.Models.DTOs
@{ 
    //Get product from API
    Helper helper = new Helper();
    List<Product> lstProduct = new List<Product>();
    try
    {
        lstProduct = helper.GetProduct();
        if(lstProduct!=null && lstProduct.Count > 0)
        {
            lstProduct = lstProduct.OrderByDescending(m => m.Promotion_Price).Take(10).ToList();
        }
    }
    catch
    {

    }
}
<div class="row">
    <div class="col-md-12">
        <!--------------- Special offers --------------->
        <div class="module shop-widget offer-widget">
            <h4 class="module-title linked-title"><a href="#"><i class="fa fa-arrows" aria-hidden="true"></i>Specials of the week</a><span class="toggle-btn"></span></h4>
            <div class="module-content mobile-collapse">
                <div class="carousel-item-4 owl-carousel">

                    @foreach (var item in lstProduct)
                    {
                        <div class="product">
                            <div class="product-thumb">
                                <a href="/Product/Details/@item.Product_ID" class="thumb-link">
                                    <img class="hover-img" src="@("http://qa.bluecube.com.sg/pos3v2-wserv" + item.Original_Img)" alt="Product Hover">
                                    <img class="front-img" src="@("http://qa.bluecube.com.sg/pos3v2-wserv" + item.Original_Img)" alt="Product Front">
                                </a>
                                <div class="attr-group">
                                    <span class="new">New</span>
                                    <span class="sale">Sale!</span>
                                </div>
                                <div class="item-countdown">
                                    <div class="item-countdown-time" data-time="2017/06/06 00:00:00"></div>
                                </div>
                                <div class="product-btn">
                                    <a class="to-cart" style="cursor:pointer;" onclick="AddCardSpecial('@item.Product_ID')"><i class="fa fa-shopping-cart"></i><span class="tooltip">Add To Cart</span></a>
                                    <a class="to-wish" href="#"><i class="fa fa-heart"></i><span class="tooltip">Add To Wishlist</span></a>
                                    <a class="to-compare" href="#"><i class="fa fa-plus"></i><span class="tooltip">Add To Compare</span></a>
                                    <a class="to-view" data-fancybox-type="iframe" href="/product-quick-view.html"><i class="fa fa-eye"></i><span class="tooltip">Quick View</span></a>
                                </div>
                            </div>
                            <div class="product-info">
                                <h5 class="product-name"><a href="#">@item.Product_Name</a></h5>
                                <div class="rating" itemtype="http://schema.org/Offer" itemscope>
                                    <div class="star_rating" itemtype="http://schema.org/AggregateRating" itemscope itemprop="aggregateRating">
                                        <span class="star star_full"></span>
                                        <span class="star star_full"></span>
                                        <span class="star star_full"></span>
                                        <span class="star star_full"></span>
                                        <span class="star"></span>
                                        <meta itemprop="worstRating" content="0">
                                        <meta itemprop="ratingValue" content="4">
                                        <meta itemprop="bestRating" content="5">
                                    </div>
                                </div>
                                <p class="price">
                                    <span class="regular-price">@("$" + item.Selling_Price.ToString())</span>
                                    <span class="discount-price">@("$" + item.Promotion_Price.ToString())</span>
                                    <span class="reduction">@(item.Promotion_Name)</span>
                                </p>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function AddCardSpecial(id) {
        $.ajax({
            url: "/Product/AddCart",
            data: { id: id, count: 1 },
            success: function (rs) {
                window.location.href = "/Product/Checkout";
            }
        });
    }
</script>